/* Anchor Menu
   ========================================================================== */

.anchor-menu {
    position: fixed;
    top: 135px;
    right: 40px;
    z-index: 8000;

    &__text {
        display: none;
    }

    &__item {
        position: relative;

        &--dot {
            height: 23px;

            &.active {

                &:hover {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &:hover {
                margin-top: 6px;
                margin-bottom: 8px;
            }
        }

        &:hover > span {
        	.arial();
            display: block;
            position: absolute;
            right: 40px;
            top: 2px;
            background: linear-gradient(#1ba9e7,#009fe3);
			background: #1ba9e7;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
            padding: 6px 8px 5px;
            font-weight: bold;
            white-space: nowrap;
            width: auto;
            font-size: 12px;
            color: #fff;
            z-index: 1000;

            &:before {
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -5px;
                content: '';
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 5px solid #198bbc;
                border-bottom: 5px solid transparent;
            }
        }
    }

    &__dot {
        width: 30px;
        height: 28px;
        display: inline-block;
        outline: 0;
        background: url(../images/anchor-menu-dot.png) 0 0 no-repeat;
    }

     &__socialBtn {
        width: 30px;
        height: 32px;
        display: inline-block;
        outline: 0;
        background: url(../images/anchor-menu-sprite.png) 0 0 no-repeat;

        &--mail {
        	background-position: -10px -1082px;
        }

        &--bookmark {
        	background-position: -10px -94px;
            margin-top: 8px;
        }

        &--youtube {
        	background-position: -10px -424px;
        }

        &--twitter {
        	background-position: -10px -644px;
        }

        &--facebook {
            background-position: -10px -973px;
        }
    }

    li.active {

        &>.anchor-menu__dot {
            background: url(../images/anchor-menu-dot-active.png) 0 0 no-repeat;
        }

        &>span {
            .arial();
            display: block;
            position: absolute;
            right: 40px;
            top: 2px;
            background: linear-gradient(#b5d21a, #99b501);
            background: #b5d21a;
            box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
            padding: 6px 8px 5px;
            font-weight: bold;
            white-space: nowrap;
            width: auto;
            font-size: 12px;
            color: #fff;
            z-index: 1000;

            &:before {
                position: absolute;
                left: 100%;
                top: 50%;
                margin-top: -5px;
                content: '';
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 5px solid #95ac19;
                border-bottom: 5px solid transparent;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
	.anchor-menu {
		right: 18px!important;
	}
		

}

@media screen and (max-width: 750px) {
	.anchor-menu {
		display: none;
	}
		

}