/* Cart Form
   ========================================================================== */

.cart-form {
    &__title {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 22px;
    }

    &__orderWrapper {
        border-top: 1px solid #ccc2b8;
        background-color: #e6e2dc;
        display: flex;
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 29px;
        padding-bottom: 40px;
        align-items: center;

    }

    &__order {

        &-button {
            .arial();
            display: inline-block;
            padding-left: 18px;
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            margin-right: 15px;

            &:hover {
                background: linear-gradient(#3cb5ea, #0c85b9);
            }
        }

        &-text {
            .arial();
            font-size: 14px;
            line-height: 19px;
            color: #4c4c4c;
            padding-top: 2px;

            a {
                font-size: 14px;
                line-height: 19px;
                color: #1d9ed8;
                .arial();

                &:hover {
                    color: #016b99;
                }
            }
        }
    }

    &__inCart {
        background: #f1efeb;
        padding-bottom: 28px;

        &-totalWrapper {
            background-color: #e6e2dc;
            display: flex;
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 28px;
            padding-bottom: 25px;

            &>div {
                display: flex;
                margin-right: 70px;

                &:last-child {
                    margin-right: 0;
                }

                span {

                    &:nth-child(1) {
                        .arial();
                        font-size: 14px;
                        line-height: 19px;
                        color: #4c4c4c;
                        display: inline-block;
                        margin-right: 15px;

                    }

                    &:nth-child(2) {
                        .arial();
                        font-size: 15px;
                        line-height: 18px;
                        font-weight: bold;
                        color: #484846;

                    }
                }
            }


        }

        &-link {
            padding-left: 40px;
            font-size: 14px;
            line-height: 25px;
            color: #1d9ed8;
            .arial();
            position: relative;

            &:before {
                position: absolute;
                left: 16px;
                top: 50%;
                content: '';
                width: 18px;
                height: 18px;
                margin-top: -9px;
                background: url(../images/arrow-left-circle.png) 0 0 no-repeat;
            }

            &:hover {
                color: #016b99;
            }
        }

        &-image {
            width: 50px;
            margin-right: 15px;
            display: inline-flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &-title {
            font-size: 13px;
            line-height: 16px;
            color: #1d9ed8;
            .arial();

            &:hover {
                color: #016b99;
            }
        }

        &-table {
            width: 100%;
            background: #f1efeb;
            font-size: 15px;
            line-height: 18px;
            color: #484846;
            .arial();
            margin-bottom: 29px;

            th {
                text-align: left;
                .arial();
                font-size: 13px;
                line-height: 18px;
                color: #818085;
                height: 38px;
                border-top: 1px solid #ccc2b8;
                border-bottom: 1px solid #ccc2b8;

                &:first-child {
                    padding-left: 81px;
                }

                &:nth-child(2) {
                    width: 145px;
                }

                &:last-child {
                    width: 275px;
                }
            }

            td {
                padding-top: 11px;
                vertical-align: middle;

                &:first-child {
                    padding-left: 16px;

                    &>div {
                        display: flex;
                        align-items: center;
                    }

                }
            }
        }
    }

    &__block {
        font-size: 0;
        background: #e6e3de;
        border-bottom: 1px solid #ccc2b8;

        &#orderNoregBlock {
            display: none;
        }

        &#orderRegBlock {
            display: none;
        }

        &--buttons {
            padding-top: 40px;
        }

        &:last-child {
            border-bottom: 0;
        }

        .account-form__wrapperMinusMargin {
            padding-bottom: 17px;
        }

        .tab__title {
            margin-bottom: 15px;
            padding-right: 14px;
            padding-left: 14px;
            padding-top: 25px;
        }

        .form__group {
            width: 420px;
        }

        span {

            &.cart-form__subtitle {
                font-family: 'futurabook', 'GillSansC', Helvetica, sans-serif;
                font-size: 22px;
                line-height: 35px;
                margin-top: 0;
                margin-bottom: 22px;
            }
        }

        &--pickup {
            display: none;
        }

        &--courier {
            display: none;
        }
    }

    &__wrapper {
        padding-top: 37px;
        padding-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;

        &--goods {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__infoColumn {
        display: flex;
        flex-direction: column;
        margin-right: 102px;

        &:last-child {
            margin-right: 0;
        }

        &-title {
            .arial();
            font-size: 14px;
            line-height: 19px;
            color: #4c4c4c;
            display: inline-block;
            margin-bottom: 10px;
        }

        &-text {
            .arial();
            font-size: 12px;
            line-height: 19px;
            color: #4c4c4c;
            display: inline-block;
            margin-bottom: 14px;
        }
    }

    &__deliveryColumns {
        display: flex;
        justify-content: space-between;
        width: 440px;
        padding-left: 19px;
        margin-bottom: 22px;
    }

    &__deliveryColumn {
        display: flex;
        flex-direction: column;

        &--deliveryType {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                top: 3px;
                left: -19px;
                width: 13px;
                height: 11px;
                background: url(../images/check-icon-order.png) 0 0 no-repeat;
            }
        }

        &-title {
            .arial();
            font-size: 14px;
            line-height: 19px;
            color: #4c4c4c;
            display: inline-block;
            margin-bottom: 8px;
        }

        &-text {
            .arial();
            font-size: 14px;
            line-height: 19px;
            color: #807366;
            display: inline-block;
        }
    }



}


@media screen and (max-width: 1000px) {
    .cart-form {

        &__deliveryColumns {
            margin-bottom: 5px;
            flex-wrap: wrap;
            justify-content: flex-start;
            width: 100%;
            padding-left: 0;
        }

        &__deliveryColumn {
            &:first-child {
                width: 100%;
                margin-bottom: 11px;

                .cart-form__deliveryColumn-title {
                    padding-left: 19px;
                }
            }

            &--deliveryType::before {
                left: 0;
            }

            &:nth-child(2) {
                margin-right: 42px;
            }
        }

        &__orderWrapper {
            padding-bottom: 25px;
        }

        &__block {

            &:last-child {
                padding-bottom: 15px;
            }

            .form__group {
            width: 100%;
        }
            .tab__title {
                position: relative;
                padding-right: 35px; 

                &:after {
                    position: absolute;
                    width: 17px;
                    height: 8px;
                    top: 36px;
                    right: 14px;
                    content: '';
                    background: url(../images/down-arrow.png) 0 0 no-repeat;
                    transform: rotate(180deg);
                }

                &--hide {
                    &:after {
                        transform: rotate(0);
                    }
                }
            }
        }

        &__orderWrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .cart-form__order-text {
                margin-top: 0;
                order: 1;
            }

            .cart-form__order-button {
                order: 2;
            }
        }

        &__inCart {

            &-table {

                tr {
                    &:nth-child(1) {
                        display: none;
                    }

                    display: flex;
                    flex-wrap: wrap;

                    td {
                        display: block;
                        &:nth-child(1) {
                            width: 100%;
                        }

                        &:nth-child(2) {
                            padding-left: 81px;
                            margin-right: 60px;
                        }
                    }
                }
            }

            &-totalWrapper {
                display: flex;
                flex-direction: column;

                &>div {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 22px;
                    display: flex;
                    justify-content: space-between;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 570px) {
    .cart-form {
        &__wrapper {
            &--goods {
                padding-top: 0px;
                padding-bottom: 30px;
                padding-left: 0;
                padding-right: 0;
            }

            padding-left: 10px;
            padding-right: 10px;
        }
    }
}