/* Cart offer
   ========================================================================== */

.cart-offer {

    .more-button {
        margin-top: 0;
    }

    background-color: #fff;

    &__wrapper {
        .wrapper();
        padding-top: 32px;
        padding-bottom: 0px;

        &--price {

            .cart-offer__sortLine-quantity:after {
                display: none;
            }
        }

        &--quantity {

            .cart-offer__sortLine-price:after {
                display: none;
            }
        }
    }

    &__quantity {
        margin-bottom: 20px;
        display: inline-block;
        .arial();
        font-size: 16px;
        line-height: 18px;
        color: #484846;
    }

    &__sortLine {
        height: 30px;
        padding-left: 20px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        background-color: #e6e3de;
        margin-bottom: 45px;

        span {
            font-size: 13px;
            line-height: 16px;
            color: #818085;
            position: relative;
            cursor: pointer;
        }

        &-dealer {
            padding-right: 12px;

            &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 9px;
                right: 0;
                top: 3px;
                background: url(../images/sorting-icon.png) 0 0 no-repeat;
            }
        }

        &-quantity {
            padding-right: 12px;
            margin-left: auto;
            margin-right: 153px;

            &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 4px;
                right: 0;
                top: 6px;
                background: url(../images/sorting-arrow.png) 0 0 no-repeat;
            }

            &--toLess {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        &-price {
            padding-right: 12px;

            &:after {
                position: absolute;
                content: '';
                width: 7px;
                height: 4px;
                right: 0;
                top: 6px;
                background: url(../images/sorting-arrow.png) 0 0 no-repeat;
            }

            &--toLess {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__title {
        margin-bottom: 13px;
        margin-top: 0;
        .subHeader();
    }

    &__best {

        &-wrapper {
            padding-bottom: 70px;
            // border-bottom: 1px solid #e6e1db;
        }

        &-items {
            margin-bottom: 25px;
        }

        &-item {
            padding-bottom: 30px;
            padding-top: 20px;
            border-bottom: 1px solid #e6e1db;
        }
    }

    &__loader {
        padding-bottom: 32px;
    }

    &__partial {

        &-items {
            padding-bottom: 0px;

        }

        &-item {
            padding-bottom: 30px;
            padding-top: 20px;
            border-bottom: 1px solid #e6e1db;

            &:nth-child(n-1) {
                border-bottom: 0;
            }
        }
    }

    &__table {
        width: 100%;

        &-button {

            .arial();
            display: inline-block;
            width: 145px;
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;

            &:hover {
                background: linear-gradient(#3cb5ea, #0c85b9);
            }
        }


        &-totalText {
            display: inline-block;
            margin-right: 14px;
            font-size: 13px;
            line-height: 18px;
            .arial();
            color: #818085;
        }

        &-totalPrice {
            font-size: 15px;
            line-height: 18px;
            .arial();
            font-weight: bold;
            color: #484846;

            .rub {
                font-weight: normal;
            }
        }

        &-deliveryWrapper {
            display: flex;

            dl {
                margin: 0;
            }
        }

        &-deliveryText {
            display: inline-block;
            margin-right: 14px;
            font-size: 13px;
            line-height: 18px;
            .arial();
            color: #818085;
        }

        &-deliveryList {
            padding-left: 20px;
        }

        &-deliveryListItem {
            font-size: 15px;
            line-height: 18px;
            .arial();
            color: #bdb4ab;
            margin-bottom: 12px;
            position: relative;
            cursor: pointer;
            display: flex;
            flex-wrap: wrap;

            span {
                white-space: nowrap;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &--active {
                color: #484846;
                cursor: auto;

                &:before {
                    position: absolute;
                    content: '';
                    width: 14px;
                    height: 15px;
                    top: 1px;
                    left: -20px;
                    background: url(../images/check-icon.png) 0 0 no-repeat;
                }
            }

            &-free {
                display: inline-block;
                margin-right: 14px;
            }
        }

        &-dealer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &Rating {
                font-size: 0;

                &-star {
                    display: inline-block;
                    width: 15px;
                    height: 14px;
                    margin-right: 2px;
                    cursor: auto;
                    background: url(../images/star-icon.png) 0 0 no-repeat;

                    &--full {
                        background: url(../images/full-star-icon.png) 0 0 no-repeat;
                    }
                }
            }

            &Name {
                .arial();
                font-size: 15px;
                line-height: 16px;
                color: #1d9ed8;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 10px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 10px;
                    background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                    left: 0px;
                    top: 2px;
                }

                &:hover {

                    color: #016b99;

                    &:before {
                        background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                    }
                }
            }
        }


        tr {

            &.cart-offer__table-stripped {

                &.cart-offer__table-noItem {

                    td {

                        opacity: 0.5;
                    }
                }

                td {

                    &:nth-child(3) {
                        padding-right: 20px;
                        padding-left: 0px;
                        width: 135px;
                        max-width: 135px;
                        text-align: right;

                    }

                    &:nth-child(2) {
                        padding-left: 20px;
                        width: 135px;
                    }

                }

                &:nth-child(odd) {
                    background-color: #f1efeb;

                    td {
    

                        &.cart-offer__table-rowspan {
                            opacity: 1;
                        }
                    }


                }

                &:nth-child(even) {

                    td {
                        height: 54px;
                    }
                }
            }

            &.cart-offer__table-analog {

                td {
                    height: 42px;
                    padding-top: 15px;
                    z-index: 1;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        height: 30px;
                        background-color: #d0f1ff;
                        z-index: -1;
                    }

                    &:nth-child(1) {

                        &:after {
                            position: absolute;
                            content: '';
                            bottom: 30px;
                            left: 13px;
                            width: 0;
                            height: 0;
                            border-left: 9px solid transparent;
                            border-right: 9px solid transparent;
                            border-bottom: 9px solid #d0f1ff;
                        }
                    }

                    &:nth-child(3) {
                        padding-right: 20px;
                        padding-left: 0px;
                        width: 135px;
                        max-width: 135px;
                        text-align: right;

                    }

                    &:nth-child(2) {
                        padding-left: 20px;
                        width: 135px;
                    }
                }
            }

            &.cart-offer__table-sum {

                td {
                    height: 54px;

                    &:nth-child(2) {
                        .arial();
                        font-size: 13px;
                        line-height: 18px;
                        color: #818085;
                    }

                    &:nth-child(3) {
                        padding-right: 20px;
                        padding-left: 0px;
                        width: 135px;
                        max-width: 135px;
                        text-align: right;
                    }

                    &:nth-child(2) {
                        padding-left: 20px;
                        width: 135px;
                    }
                }

            }

            &.cart-offer__table-totalRow {

                td {

                    &:nth-child(2) {
                        padding-left: 20px;
                        width: 135px;
                    }

                    &:nth-child(3) {
                        text-align: right;
                    }


                }
            }

            td {
                .arial();
                color: #484846;
                padding-left: 9px;
                padding-top: 7px;
                font-size: 16px;
                line-height: 18px;
                height: 30px;
            }

            &:first-child {

                td {


                    &:first-child {
                        background-color: #fff;
                        width: 160px;
                        padding-top: 7px;
                        padding-left: 0;
                        vertical-align: top;
                    }

                    &:nth-child(4) {
                        padding-right: 20px;
                        padding-left: 0px;
                        width: 135px;
                        max-width: 135px;
                        text-align: right;
                    }

                    &:nth-child(3) {
                        padding-right: 0px;
                        padding-left: 20px;
                        width: 135px;
                        text-align: left;
                    }

                    &:nth-child(2) {
                        width: auto;

                        padding-left: 9px;

                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1000px) {
    .cart-offer {
        .bx-controls-direction {
            display: none;
        }

        .bx-wrapper .bx-pager.bx-default-pager a:hover,
        .bx-wrapper .bx-pager.bx-default-pager a.active,
        .bx-wrapper .bx-pager.bx-default-pager a:focus {
            background: #1d9ed8;
        }

        .bx-wrapper .bx-pager.bx-default-pager a {
            background: #d6d5d0;
        }

        &__best-item {
            border-bottom: 0;
        }


        &__best-wrapper {
            padding-bottom: 20px;
            .more-button {
                display: none;
            }

            h2 {
                &:nth-of-type(2) {
                    padding-top: 27px;
                    border-top: 1px solid #e6e1db;

                }
            }
        }

        &__sortLine {

            display: none;
        }

        &__table {

            &-deliveryWrapper {
                width: 100%;
            }



            &>tbody {
                &>tr {
                    display: flex;
                    flex-direction: column;

                    &.cart-offer__table-sum {
                        flex-direction: row;
                        padding-top: 10px;
                        border-top: 1px solid #e6e1db;

                        &>td {

                            padding-left: 0;

                            &:first-child {
                                display: none;
                            }
                        }

                        td:nth-child(2) {
                            padding-left: 0;
                            width: 150px;
                        }

                        td:nth-child(3) {
                            padding-right: 0;
                            width: auto;
                            max-width: 100%;
                        }
                    }

                    &>td {
                        display: flex;
                    }

                    &.cart-offer__table-delivery {
                        td {
                            padding-left: 0;
                            padding-top: 15px;

                            &:nth-child(2) {
                                display: none;
                            }

                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }

                    &.cart-offer__table-totalRow {
                        td {
                            padding-left: 0;

                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                padding-left: 0;
                                width: 100%;
                            }

                        }
                    }
                }
            }

            tr:first-child td:first-child {
                width: 100%;
                padding-top: 0;
            }

            tr {

                td {
                    height: auto;
                }

                &.cart-offer__table-stripped {

                    td {
                        &:nth-child(1) {
                            background-color: #f1efeb;
                            padding-bottom: 5px;
                        }
                    }

                    &:first-child {
                        td {
                            &:nth-child(1) {
                                background-color: #fff;
                            }

                            &:nth-child(2) {
                                background-color: #f1efeb;
                                padding-bottom: 5px;
                            }
                        }
                    }


                }
            }

            tr.cart-offer__table-stripped:nth-child(2n+1) {
                background-color: #fff;
            }

            tr.cart-offer__table-stripped:nth-child(2n) td {
                height: auto;
            }

            tr.cart-offer__table-sum td {
                height: auto;
            }

            tr:first-child td:nth-child(3) {
                width: 100%;
                max-width: 100%;
                padding-left: 0;
                padding-top: 15px;
                padding-bottom: 15px;

                .yesMobile {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();
                    width: 150px;
                }
            }

            tr:first-child td:nth-child(4) {
                text-align: left;
                padding-right: 0;
                padding-bottom: 15px;
                width: 100%;
                max-width: 100%;

                .yesMobile {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();
                    width: 150px;
                }
            }


            tr.cart-offer__table-stripped td:nth-child(2) {
                width: 100%;
                max-width: 100%;
                padding-left: 0;
                padding-top: 15px;
                padding-bottom: 15px;

                .yesMobile {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();
                    width: 150px;
                }
            }

            tr.cart-offer__table-stripped td:nth-child(3) {
                text-align: left;
                padding-right: 0;
                padding-bottom: 15px;
                width: 100%;
                max-width: 100%;

                .yesMobile {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();
                    width: 150px;
                }
            }

            tr.cart-offer__table-stripped:first-child td:nth-child(2) {
                padding-left: 9px;
            }

            tr.cart-offer__table-analog td {
                padding-top: 17px;
                height: auto;
                min-height: 42px;

                &:nth-child(1) {
                    padding-top: 7px;
                    padding-bottom: 7px;
                    background-color: #d0f1ff;
                    min-height: 0;

                    &:before {
                        display: none;
                    }

                    &:after {
                        top: -8px;
                    }
                }

                &:nth-child(2) {
                    padding-left: 0;
                    width: 100%;
                    display: inline-block;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();

                    &:before {
                        display: none;
                    }

                    .yesMobile {
                        display: inline-block;
                        font-size: 13px;
                        line-height: 16px;
                        color: #818085;
                        .arial();
                        width: 150px;
                    }
                }

                &:nth-child(3) {
                    text-align: left;
                    padding-right: 0;
                    width: 100%;
                    font-size: 13px;
                    line-height: 16px;
                    color: #818085;
                    .arial();

                    &:before {
                        display: none;
                    }

                    .yesMobile {
                        display: inline-block;
                        font-size: 13px;
                        line-height: 16px;
                        color: #818085;
                        .arial();
                        width: 150px;
                    }


                }
            }
        }

        .bx-wrapper {

            box-shadow: none;
            border: 0px solid #fff;
            background: #fff;
        }
    }
}