/* Cart
   ========================================================================== */

.cart {

    &__goodsTable {
        width: 100%;
        border-collapse: collapse;

        td {
            vertical-align: middle;
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &>tbody {

            &>tr {
                &:last-child {

                    td {
                        &:last-child {
                            text-align: right;
                            padding-right: 84px;
                        }
                    }

                    a {
                        &:first-child {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }


        &-size {
            width: 202px;
        }

        &-leftCol {
            display: flex;
            align-items: center;
            padding-left: 20px;
            padding-right: 40px;
        }

        &-rightCol {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 84px;
        }

        &-delBtn {
            width: 22px;
            height: 22px;
            background: url(../images/cart-del-icon.png) 0 0 no-repeat;
            display: inline-block;
            margin-right: 0px;
            flex-shrink: 0;
            margin-right: 20px;
        }

        &-button {
            .arial();
            display: inline-block;
            padding-left: 18px;
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            transition: background-color 0.1s;

            &:hover {
                background-color: #016b99;
            }

        }

        &-image {
            width: 89px;
            display: inline-flex;
            align-items: center;
            margin-right: 16px;
            flex-shrink: 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &-link {
            color: #009fe3;
            .arial();
            font-size: 13px;
            line-height: 16px;

            &:hover {
                color: #016b99;
            }
        }

        &-counter {
            width: 99px;
            position: relative;

            &But {
                cursor: pointer;
                position: absolute;
                width: 26px;
                height: 26px;
                padding: 0;
                outline: 0;
                border: 0;
                font-size: 0;
                content: '';
                top: 4px;

                &:active,
                &:focus {
                    padding: 0;
                    outline: 0;
                    border: 0;
                    font-size: 0;
                }

                &.dec {
                    left: 3px;
                    background: url(../images/counter-minus-btn.png) 0 0 no-repeat;
                }

                &.inc {
                    right: 3px;
                    background: url(../images/counter-plus-btn.png) 0 0 no-repeat;
                }
            }

            input {
                width: 100%;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 500;
                line-height: 19px;
                width: 100%;
                height: 34px;
                padding-right: 7px;
                padding-left: 7px;
                color: #807366;
                border: 1px solid #cec2b6;
                outline: 0;
                background: #fff;
            }
        }
    }
}



@media screen and (max-width: 1000px) {
    .cart {
        &__goodsTable {

            tr {
                display: flex;
                padding-left: 10px;
                padding-right: 10px;
                flex-direction: column;
            }

            >tbody>tr:last-child td:last-child {
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .cart {
        &__goodsTable {
            &-leftCol {
                padding-left: 0;
                padding-right: 0;
            }

            &-image {
                width: 70px;
                flex-shrink: 0;
            }

            &-rightCol {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 0;
                padding-right: 0;
            }

            &-size {
                margin-bottom: 20px;
            }

            >tbody>tr:last-child td:last-child {
                height: auto!important;
                padding-right: 0;
                padding-left: 42px;
                a:first-child {
                    margin-bottom: 30px;
                }
            }

            tr {
                padding-bottom: 15px;
                padding-top: 15px;
                border-bottom: 1px solid #ccc2b8;

                &:nth-last-child(2) {
                    border-bottom: 0;
                }

                &:last-child {
                    padding-top: 0;
                    padding-bottom: 0;
                    border-bottom: 0;

                    td {
                        padding: 0;

                        &:first-child {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}