/* Datepicker
   ========================================================================== */

.ui-datepicker table {
	.arial();
	font-size: 12px;
	line-height: 18px;
	margin: 0;
	border-spacing:0;

	thead {
		display: none;
	}
}

.ui-datepicker {
	box-shadow: 0px 0px 10px 2px rgba(115, 115, 115, 0.32);
}

.ui-datepicker td {
	padding: 0;
	border: 1px solid #e2ded7;
	text-align: center;
	width: 22px;
	height: 22px;

	&:hover {
		background-color: #f1efeb;

		a {
			background-color: #f1efeb!important;
		}
	}
}

.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
}

.ui-datepicker .ui-datepicker-header {
	height: 26px;
	padding: 0;
	padding-top: 5px;

}

.ui-datepicker select.ui-datepicker-year {
    width: 50px;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 12px;
	color: #fff;
	background-color: #009fe3;
	border: 0;
	outline: 0;
}

.ui-widget.ui-widget-content {
	border: 0;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 20px;
    }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	width: 10px;
	height: 11px;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	position: static;
	margin: 0;
}

.ui-datepicker .ui-datepicker-prev span.ui-icon {
	background: url(../images/calendar-prev.png) 0 0 no-repeat;
}

.ui-datepicker .ui-datepicker-next span.ui-icon {
	background: url(../images/calendar-prev.png) 0 0 no-repeat;
	transform: rotate(180deg);
}

.ui-datepicker-current-day {
	background-color: #009fe3;

	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
		background-color: transparent!important;
		color: #fff!important;
	}
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
	background: url(../images/calendar-prev.png) 0 0 no-repeat;
}
.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
	background: url(../images/calendar-prev.png) 0 0 no-repeat;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: 0px solid #cccccc;
	background: transparent;
	margin: 0;
	outline: 0;
	color: #2b2b2b;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 8px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 7px;
}

.ui-datepicker .ui-datepicker-next {
	right: 7px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 7px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 7px;
}

.ui-icon {
	width: 4px;
	height: 9px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 0;
	padding: 0;
	background: #fff;
	color: #4c4c4c;
}

.ui-widget-header {
	border: 0;
	color: #ffffff;
	font-weight: normal;
	background-color: #009fe3;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 12px;
	line-height: 18px;
}

.ui-widget {
	font-size: 12px;
}

.ui-widget-content {
	color: #4c4c4c;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-radius: 0px!important;
}

.ui-datepicker {
	padding: 0;
	width: 197px;
}