/* Dealer Account form Delivery Tab
   ========================================================================== */

.dealerAccount-delivery {

    &__inner {

        &--noSettings {
            .dealerAccount-delivery__header-wrapper {
                align-items: flex-start;
                padding-bottom: 0px;
            }

            .dealerAccount-delivery__button {
                margin-top: -10px;
            }

            .dealerAccount-delivery__regionNoSettings {
                display: inline-block;
            }
        }

        &:last-child {

            .dealerAccount-delivery__header {

                border-bottom: 0;
            }
        }

        &:first-child {}
    }

    &__timeWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &>span {
            .arial();
            font-size: 12px;
            line-height: 19px;
            color: #807366;
        }

        .styledSelect {
            width: 77px;

            dl {
                margin: 0;

                dd {

                    ul {
                        max-height: 200px;
                    }
                }
            }
        }
    }

    &__index {
        display: none;
        padding-bottom: 40px;
        background-color: #f1efeb;

        &Block {
            padding-top: 25px;
            padding-bottom: 0px;
            border-bottom: 0px solid #ccc2b8;

            &>.dealerAccount-form__field {

                &>.account-form__checkbox {
                    margin-left: 15px;
                }
            }

            &:last-of-type {
                border-bottom: 0;
            }

            &-wrapper {
                padding-left: 15px;
                padding-right: 15px;
                position: relative;
            }

            &-title {
                font-family: 'futuralight', 'GillSansLightC';
                font-size: 22px;
                line-height: 28px;
                color: #484846;
                margin-top: 0;
                margin-bottom: 22px;
                white-space: nowrap;
            }
        }

        &-button {
            .arial();
            display: inline-block;
            margin-left: 15px;
            padding-left: 18px;
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            transition: background-color 0.1s;

            &:hover {
                background-color: #016b99;
            }
        }

        &-title {
            font-size: 22px;
            line-height: 35px;
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #ccc2b8;
        }

        &-columns {
            display: flex;
            flex-wrap: wrap;
        }

        &-column {
            order: 0;
            width: 100%;
            padding-left: 0px;
            margin-bottom: 20px;

            p {
                &.dealerAccount-delivery__index-info {
                    margin-top: 0;
                    .arial();
                    font-style: italic;
                    font-size: 12px;
                    line-height: 19px;
                    color: #807366;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }


        &-addVariant {
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #009fe3;
            cursor: pointer;
            display: inline-block;
            margin-left: 0px;

            &:hover {
                color: #016b99;
            }
        }

        &-addTime {
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #009fe3;
            cursor: pointer;
            display: inline-block;
            margin-bottom: 30px;

            &:hover {
                color: #016b99;
            }
        }

        &-table {
            .arial();
            font-size: 13px;
            line-height: 18px;
            color: #818085;
            margin-bottom: 9px;
            width: 100%;
            order: 1;

            &--mb0 {
                margin-bottom: 0;
            }

            &--w50 {
                width: 50%;
            }

            &--w75 {
                width: 75%;

                tr {
                    th {
                        width: 33.33%;


                    }
                }
            }


            tr {

                &.hidden {
                    display: none;
                }

                th {
                    font-weight: 500;
                    border: 1px solid #ccc2b8;
                    height: 37px;
                    width: auto;
                    padding-left: 3px;
                    padding-right: 3px;
                }

                td {
                    padding: 0;
                    padding-left: 3px;
                    padding-right: 3px;
                    background-color: #fff;

                    border: 1px solid #ccc2b8;
                    height: 30px;
                    text-align: center;

                    input {
                        width: 100%;
                        height: 100%;
                        border: 0;
                        text-align: center;
                        font-size: 13px;
                        line-height: 18px;
                    }

                    .selectDropdown {
                        margin: 0;

                        dt {
                            a {
                                padding: 0;
                                border: 0;

                                span {
                                    font-size: 13px;
                                    line-height: 18px;
                                    height: 100%;
                                    padding: 8px 5px 5px 5px;
                                }
                            }
                        }


                    }
                }
            }
        }

        &-inner {
            margin-bottom: 30px;
        }



        &-wrapper {
            display: none;
            padding-top: 27px;
            padding-bottom: 24px;
            border-bottom: 1px solid #ccc2b8;

            p.dealerAccount-delivery__index-if {
                .arial();
                font-size: 14px;
                line-height: 19px;
                color: #4c4c4c;
                margin-bottom: 12px;
                display: inline-block;
                margin-top: 0;
                padding-left: 15px;
            }
        }

        &-subtitle {
            font-size: 19px;
            line-height: 25px;
            margin-top: 0;
            color: #009fe3;
            margin-bottom: 0;
            padding-left: 15px;
            padding-top: 18px;
            height: 60px;
            cursor: pointer;
            border-bottom: 1px solid #ccc2b8;
            background: url(../images/down-arrow.png) right 15px center no-repeat;

            &--active {
                background: -moz-linear-gradient(top, #0190ce 0%, #19a8e6 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #0190ce 0%, #19a8e6 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #0190ce 0%, #19a8e6 100%);
                color: #fff;
            }
        }
    }

    &__header {

        &--active {
            background-color: #f1efeb;
        }



        &-wrapper {
            display: flex;
            align-items: center;
            padding-left: 15px;
            padding-right: 40px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__regionName {
        position: relative;
        display: inline-block;
        padding-left: 42px;
        padding-right: 18px;
        min-width: 238px;
        font-size: 14px;
        line-height: 18px;
        .arial();
        color: #4c4c4c;

        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -16px;
            width: 32px;
            height: 32px;
            content: '';
            background: url(../images/suggest-input-bcg.png) 0 0 no-repeat;
        }

    }

    &__regionWrapper {
        display: flex;
        flex-direction: column;
    }

    &__regionNoSettings {
        display: none;
        margin-top: 12px;
        .arial();
        font-size: 12px;
        line-height: 19px;
        color: #807366;
        font-style: italic;

    }

    &__link {
        .arial();
        font-size: 14px;
        line-height: 18px;
        color: #009fe3;
        cursor: pointer;

        &--del {
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #009fe3;
            cursor: pointer;
            margin-left: 28px;
        }

        &:hover {
            color: #016b99;
        }
    }

    &__button {
        .arial();
        display: inline-block;
        padding-left: 18px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 34px;
        outline: 0;
        color: #fff;
        background-color: #009fe3;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 0;
        white-space: nowrap;
        transition: background-color 0.1s;

        &:hover {
            background-color: #016b99;
        }
    }
}


@media screen and (max-width: 1000px) {

    .removeDeliveryLocationButton to___process {
        margin-top: 10px;
        margin-left: 0;
    }

    .dealerAccount-delivery__indexBlock-title {
        white-space: normal;
    }

    .dealerAccount-delivery__index-table {
        overflow: auto;
    }

    .dealerAccount-delivery {
        &__header-wrapper {
            flex-direction: column;
            align-items: flex-start;
            height: auto;

            
        }

        &__indexBlock {
            .account-form__checkboxes {
                flex-direction: column;
                height: auto;
                align-items: flex-start;

                .account-form__checkbox--w228 {
                    width: auto;
                    padding-right: 0;
                    margin-bottom: 10px;
                }
            }
        }

        &__index {
            &-columns {
                flex-direction: column;
            }

            &-column {
                width: 100%;
                padding-left: 0;

            }

            &-table {
                &--w50 {
                    width: 100%;
                }
            }
        }

        &__link {
            &--del {
                margin-left: 0;
                margin-top: 10px;
            }
        }

        &__index-table {

            &--w75 {
                width: 100%;
            }
        }

        &__inner--noSettings {
            .dealerAccount-delivery__button {
                margin-top: 15px;
                margin-left: 0;
            }
        }

        &__regionWrapper {
            margin-bottom: 25px;
        }

    }




}