/* Form
   ========================================================================== */

.form {

    background: #e6e3de;

    &--login {
        width: 448px;
    }

    &--loginWithoutReg {
        width: 448px;

        .form__buttons {
            justify-content: flex-start;
            margin-bottom: 16px;
        }

        .form__button {

            &:first-child {
                margin-right: 20px;
            }
        }
    }

    &--restore {

        width: 448px;

        .form__button {
            width: auto;
            padding-left: 15px;
            padding-right: 15px;


            &:hover,
            &:focus,
            &:active {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }

    &__wrapper {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 18px;
        padding-bottom: 21px;
    }

    &__group {
        margin-bottom: 21px;

        label {
            .arial();
            font-size: 14px;
            line-height: 18px;
            display: inline-block;
        }

        input {
            width: 100%;
            color: #807366;
            font-size: 13px;
            margin-top: 11px;
            padding: 9px 10px 8px 8px;
            border: 1px solid #cec2b6;
            border-radius: 0px;
            display: block;
            box-shadow: none;
            .arial();
            outline: 0;

            &::-webkit-input-placeholder {
                font-style: italic;
            }

            &:-moz-placeholder {
                font-style: italic;
            }

            &::-moz-placeholder {
                font-style: italic;
            }

            &:-ms-input-placeholder {
                font-style: italic;
            }
        }
    }

    &__social {
        margin-bottom: 19px;

        p {
            margin-top: 0;
            .arial();
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        &-items {
            display: flex;
        }

        &-item {
            display: block;

            width: 26px;
            height: 26px;
            margin-right: 9px;
            background: url(../images/social-icons-sprite.png) 0 0 no-repeat;

            &:last-child {
                margin-right: 0;
            }

            &--vk {
                background-position: 0px 0px;
            }

            &--fb {
                background-position: -35px 0px;
            }

            &--ok {
                background-position: -70px 0px;
            }

            &--google {
                background-position: -105px 0px;
            }

            &--ya {
                background-position: -140px 0px;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        .arial();
        font-size: 14px;
        line-height: 34px;
        display: inline-block;
        padding: 0;
        padding-left: 17px;
        padding-right: 17px;
        cursor: pointer;
        transition: background-color .1s;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        border: 0;
        outline: 0;
        background-color: #009fe3;

        &:hover,
        &:focus,
        &:active {
            background-color: #016b99;
            padding: 0;
            padding-left: 17px;
            padding-right: 17px;
            border: 0;
        }
    }

    &__link {
        .arial();
        font-size: 16px;
        line-height: 16px;
        color: #1d9ed8;
        margin-top: 0;
        padding-left: 12px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
            left: 0px;
            top: 3px;
        }

        &:hover {

            color: #016b99;

            &:before {
                background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
            }
        }
    }
}


.registerForm {
    .account-form__checkbox label {
        white-space: normal;
    }
}



@media screen and (max-width: 1000px) {
    .form {
        width: 100%;
    }
}


@media screen and (max-width: 570px) {
    .form {

        &__wrapper {
            padding-top: 25px;
            padding-bottom: 37px;
        }


        &__buttons {
            flex-direction: column;
            align-items: flex-start;
        }

        &__button {
            margin-bottom: 24px;
        }
    }
}