/* Goods
   ========================================================================== */

.goods {

    &__title {
        font-family: 'futuralight', 'GillSansLightC';
        font-size: 28px;
        font-weight: 300;
        font-style: normal;
        line-height: 34px;
        margin: 0;
        margin-bottom: 29px;
        text-transform: uppercase;
        color: #484846;
    }

    &__table {
        width: 100%;

        &-saveBtn {
            display: inline-block;
            margin-left: 10px;
            width: 26px;
            height: 26px;
            background: url(../images/dl_icon_sprite.png) 0 -108px no-repeat;
        }

        &-row {
            display: flex;
            align-items: center;
        }

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            display: inline-block;
            color: #1d9ed8;

            &:hover {
                color: #016b99;
            }
        }


        th {
            background-color: #e6e2dc;
            height: 37px;
            color: #818085;
            .arial();
            font-size: 13px;
            text-align: left;

            &:nth-child(1) {
                padding-left: 21px;
                padding-right: 13px;
                width: 65%;
            }

            &:nth-child(2) {
                width: 15%;
                padding-right: 15px;
            }

            &:nth-child(3) {
                width: 20%;
                padding-right: 15px;
            }
        }

        td {
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e6e1db;

            &:nth-child(1) {
                padding-right: 13px;
                width: 65%;
            }

            &:nth-child(2) {
                width: 15%;
                padding-right: 15px;
            }

            &:nth-child(3) {
                width: 20%;
                padding-right: 15px;
            }
        }

        .account-form__checkbox label {
            .arial();
            font-size: 13px;
            line-height: 15px;
            color: #807366;
        }



        .account-form__field {
            margin-right: 0;

            .styledSelect {
                width: 187px;

                dl {
                    margin: 0;
                }
            }
        }

        &-deleteItemBtn {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 17px;
            background: url(../images/cart-del-icon.png) 0 0 no-repeat;
        }

        &-orderWrapper {
            display: flex;
            align-items: center;

            img {
                max-width: 100%;

            }
        }

        &-orderName {
            display: flex;
            width: 69%;
            align-items: center;
            padding-right: 15px;

            a {
                &:first-child {
                    width: 50px;
                    margin-right: 15px;
                    flex-shrink: 0;
                }
            }
        }

        .account-form__field {
            width: auto;
            margin-right: 0;
            margin-bottom: 0;

            &>span {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
                color: #4c4c4c;
            }

            &>div {
                display: flex;
                align-items: center;

                input {
                    width: 60px;
                    margin-right: 5px;
                    padding-right: 5px;
                    padding-left: 5px;
                }

                span {
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18px;
                    margin-bottom: 0;
                    color: #807366;
                }
            }
        }
    }


    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &-button {
            .arial();
            width: auto;
            padding-left: 18px;
            padding-right: 18px;
            font-size: 14px;
            font-weight: 500;
            line-height: 34px;
            display: inline-block;
            cursor: pointer;
            transition: background-color .1s;
            text-align: center;
            white-space: nowrap;
            text-decoration: none;
            color: #fff;
            border: 0;
            outline: 0;
            background-color: #009fe3;

            &:hover,
            &:active,
            &:focus {

                background-color: #016b99;
            }
        }

        &-upload {
            cursor: pointer;
            position: relative;
            width: 230px;
            height: 32px;
            margin-right: 89px;


            input {
                display: none;
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                cursor: pointer;
                padding-left: 9px;
                padding-top: 5px;
                border: 1px solid #ccc2b8;
            }

            span {
                .arial();
                font-size: 12px;
                line-height: 19px;
                font-style: italic;

                color: #807366;

                &:last-child {
                    position: absolute;
                    right: -89px;
                    top: -1px;
                    bottom: 0px;
                    width: 89px;
                    height: 32px;
                    color: #fff;
                    background-color: #b8b1a8;
                    text-align: center;
                    .arial();
                    font-size: 14px;
                    line-height: 32px;
                    font-style: normal;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .goods {
        &__top {
            margin-bottom: 10px;
            flex-direction: column;

            &-button {
                margin-bottom: 20px;
                width: 210px;
                font-size: 14px;
                padding-left: 0;
                padding-right: 0;
            }

            &-upload {
                width: 205px;
            }
        }

        &__title {
            font-size: 27px;
            line-height: 35px;
            margin-bottom: 24px;
        }

        &__table {

            .account-form__checkbox {
                padding-left: 43px;
            }

            &-deleteItemBtn {
                width: 22px!important;
                margin-right: 21px;
                position: absolute;
                left: 0;
                top: 30px;
            }

            &-orderWrapper {
                flex-wrap: wrap;
                position: relative;
            }

            &-orderName {
                width: 100%;
                padding-left: 43px;
                padding-right: 0;
                margin-bottom: 24px;

                a {
                    &:first-child {
                        width: 89px;
                        margin-right: 14px;
                    }
                }
            }

            tr {
                padding-bottom: 30px;
                border-bottom: 1px solid #ccc2b8;

                &:first-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }

                th {
                    display: none;

                    &:first-child {
                        display: block;
                        width: 100%;
                        padding-top: 9px;
                    }
                }

                display: flex;
                flex-wrap: wrap;
            }

            td {
                padding-top: 20px;
                padding-bottom: 0;
                border-bottom: 0;
                &:nth-child(1) {
                    width: 100%;
                    padding-right: 0;
                }

                &:nth-child(2) {
                    width: 120px;
                    padding-left: 43px;
                    padding-right: 0;
                    display: inline-block;
                    margin-right: 14px;
                }

                &:nth-child(3) {
                    width: 70px;
                    display: inline-block;
                }
            }
        }
    }
}