    /* Main Footer
   ========================================================================== */

    .main-footer {

        background: #f1efeb url(../images/footerbg.png) top left no-repeat;
        background-size: auto auto;
        background-size: contain;
        padding-top: 52px;

        &__wrapper {
            .wrapper();
            padding-bottom: 60px;
            margin-top: -15px;
        }

        &__column {

            width: 204px;
            margin-right: 25px;

            &:last-child {
                margin-right: 0;
            }

        }

        &__menu {

            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-bottom: 12px;

            &-subtitle {

                margin-top: 0;
                margin-bottom: 17px;
                .gillSansLight();
                font-size: 18px;
                color: #807367;
                font-weight: 500;



            }

            &-item {
                margin-bottom: 45px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-list {

                &>li {

                    a {
                        margin-left: 0px;
                    }

                    ul {
                        padding-left: 17px;
                    }

                    &>li {
                        a {
                            margin-left: 0px;
                        }
                    }
                }

                li {
                    margin-bottom: 4px;

                    a {
                        .arial();
                        font-size: 12px;
                        line-height: 16px;
                        color: #807367;
                        position: relative;
                        display: inline-block;
                        padding-left: 17px;
                        background: url(../images/navpfeil.png) 0px 4px no-repeat;


                    }
                }
            }
        }

        &__copyright {

            span {
                color: #807367;
                font-size: 13px;
            }
        }
    }



    @media screen and (max-width: 1000px) {

        .main-footer {

            &__wrapper {
                padding-left: 0;
                padding-right: 0;
                width: 434px;
                margin: 0 auto;
                margin-top: -15px;
            }

            &__column {
                width: 204px;
                margin-bottom: 20px;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(2n+1) {
                    margin-right: 25px;
                }
            }

        }

    }


    @media screen and (max-width: 570px) {
        .main-footer {

            &__wrapper {
                padding-bottom: 38px;
            }

            &__column {
                width: 122px;
                margin-bottom: 20px;

                &:nth-child(2n) {
                    margin-right: 0;
                }

                &:nth-child(2n+1) {
                    margin-right: 21px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__menu-subtitle {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            &__menu-list li a {
                font-size: 12px;
                line-height: 20px;
                background: url(../images/navpfeil.png) 0 6px no-repeat;
            }
        }
    }