/* Main Nav
   ========================================================================== */

.main-nav {
    position: relative;
    display: flex;
    background-color: #fff;
    height: 100%;
    // box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
    z-index: 100;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1153px;

    &__menuButton-mobile {
        display: none;
        position: relative;
        max-width: 130px;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        background-color: #fff;
        transition: background-color 0.1s;
        font-size: 15px;
        line-height: 16px;
        color: #04a2e0;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    &__items {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    &__item {
        position: relative;
        border-left: 1px solid #e3e3e3;
        background-color: #fff;
        transition: background-color 0.1s;
        min-width: 77px;
        text-align: center;

        &-dropdown {
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 0;
            visibility: hidden;
            width: 250px;
            height: auto;
            -webkit-transition: opacity .2s;
            -moz-transition: opacity .2s;
            -o-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 0;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.2) 0 9px 10px;

            &-item {

                text-align: left;

                &--dropright {


                    &>a {

                        &:before {
                            position: absolute;
                            content: '';
                            width: 6px;
                            height: 2px;
                            background-color: #04a2e0;
                            top: 13px;
                            right: 10px;
                            transform: rotate(45deg);
                        }

                        &:after {
                            position: absolute;
                            content: '';
                            width: 6px;
                            height: 2px;
                            background-color: #04a2e0;
                            top: 17px;
                            right: 10px;
                            transform: rotate(-45deg);
                        }

                        &:hover:after,
                        &:hover:before {
                            background-color: #fff;
                        }
                    }
                }

                border-bottom: 1px solid #e5e0db;
                position: relative;

                &:last-child {
                    border-bottom: 0;
                }

                &:hover {

                    &>.main-nav__item-dropdown2 {
                        visibility: visible;
                        opacity: 1;
                    }
                }

                a {
                    padding-left: 16px;
                    padding-right: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    display: block;
                    .arial();
                    font-size: 12px;
                    line-height: 19px;
                    color: #04a2e0;

                    &:hover {
                        color: #fff;
                        background: -webkit-linear-gradient(#1aa9e7, #008fcd);
                        background: -moz-linear-gradient(#1aa9e7, #008fcd);
                        background: -o-linear-gradient(#1aa9e7, #008fcd);
                        background: linear-gradient(#1aa9e7, #008fcd);
                    }
                }
            }

            &--span {
                background-color: #b8b1a8;
                padding-left: 16px;
                padding-top: 6px;
                padding-bottom: 7px;
                font-size: 12px;
                line-height: 16px;
                color: #fff;
                font-style: italic;
            }
        }

        &-dropdown2 {
            position: absolute;
            z-index: 10;
            left: 100%;
            top: 0;
            visibility: hidden;
            width: 250px;
            height: auto;
            -webkit-transition: opacity .2s;
            -moz-transition: opacity .2s;
            -o-transition: opacity .2s;
            transition: opacity .2s;
            opacity: 0;
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.2) 0 9px 10px;

            &-item {

                border-bottom: 1px solid #e5e0db;

                &:last-child {
                    border-bottom: 0;
                }

                a {
                    padding-left: 16px;
                    padding-right: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    display: block;
                    .arial();
                    font-size: 12px;
                    line-height: 16px;
                    color: #04a2e0;

                    &:hover {
                        color: #fff;
                        background: -webkit-linear-gradient(#1aa9e7, #008fcd);
                        background: -moz-linear-gradient(#1aa9e7, #008fcd);
                        background: -o-linear-gradient(#1aa9e7, #008fcd);
                        background: linear-gradient(#1aa9e7, #008fcd);
                    }
                }
            }

            &--span {
                background-color: #b8b1a8;
                padding-left: 16px;
                padding-top: 9px;
                padding-bottom: 8px;
                font-size: 12px;
                line-height: 16px;
                color: #fff;
                font-style: italic;
            }
        }

        &:hover {

            background-color: #b8b1a8;

            .main-nav__item-link {
                transition: color 0.1s;
                color: #fff;
            }

            &>.main-nav__item-dropdown {
                visibility: visible;
                opacity: 1;
            }
        }

        &--active {
            background-color: #009fe3;

            .main-nav__item-link {

                color: #fff;
            }

            &:hover {
                background-color: #009fe3;

                .main-nav__item-link {

                    color: #fff;
                }
            }
        }

        &--login {
            border-right: 1px solid #e3e3e3;

            .main-nav__item-link {
                padding-right: 0;
                padding-left: 0;
            }
        }

        &-link {
            display: block;
            font-size: 16px;
            line-height: 20px;
            color: #04a2e0;
            padding-left: 18px;
            padding-right: 17px;
            padding-top: 20px;
            height: 40px;



            &--login {
                display: block;
            }

            &--logout {
                display: none;
            }
        }


    }

    &__logo {
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 15px;

        img {
            width: 90px;
            height: auto;
        }
    }

    &__mainLogo {
        width: 58px;
        position: relative;
        z-index: 1;

        img {
            position: absolute;
            left: 0;
            top: 0;
            min-width: 75px;
            width: 75px;
            height: auto;
        }
    }

    &__geo {
        z-index: 10;
        width: 50px;
        background: #009fe3 url(../images/geo-icon.png) 50% 50% no-repeat;
        background-size: 18px 21px;
        transition: background-color 0.1s;

        &:hover {
            background-color: #b8b1a8;
        }
    }

    &__account {
        width: 56px;
        background: none;
        pointer-events: none;
        border-left: 1px solid #e3e3e3;
        margin-left: auto;

        &:hover {
            opacity: 0.8;
        }
    }

    &__cart {
        width: 56px;
        background: #fff url(../images/cart-icon.png) 50% 50% no-repeat;
        background-size: 22px 22px;
        border-left: 1px solid #e3e3e3;
        position: relative;

        &--active {
            background: #009fe3 url(../images/cart-icon-active.png) 50% 50% no-repeat;

            &:hover {
                opacity: 1;
            }

            &.main-nav__cart--notEmpty {
                .main-nav__cart-quantity {
                    color: #009de2;
                    background-color: #fff;
                }
            }


        }

        &--quantity {
            display: none;
        }

        &--notEmpty {
            .main-nav__cart-quantity {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                .arial();
                content: '';
                width: 19px;
                height: 18px;
                top: 16px;
                left: 27px;
                border-radius: 50%;
                background-color: #009de2;
                color: #fff;
                font-size: 11px;
                line-height: 12px;
                text-align: center;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__search {
        // margin-left: auto;
        width: 56px;
        border-left: 1px solid #e3e3e3;
        background: #fff url(../images/search-icon.png) 50% 50% no-repeat;
        background-size: 20px 20px;

        a {
            display: block;
            min-width: 100%;
            min-height: 100%;
        }

        &:hover {
            opacity: 0.8;
        }

        &.openSearch {
            background: #b8b1a8 url(../images/search-icon-active.png) 50% 50% no-repeat;
            background-size: 20px 20px;
            border-left: 1px solid #b8b1a8;

            &:hover {
                opacity: 1;
            }

            form {
                display: block;
            }
        }


        form {
            position: absolute;
            top: 60px;
            background: #b8b1a8;
            width: 250px;
            right: 0;
            padding: 17px;
            overflow: hidden;
            -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 10px;
            -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 6px 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 6px 10px;
            display: none;

            input {
                .arial();
                width: 190px;
                height: 26px;
                line-height: 14px;
                font-size: 12px;
                margin: 0;
                padding: 0 4px;
                border: 1px solid #e5e0dc;
                border-right: 0;
                background: #fff;
                border-radius: 0;
                color: #807366;
            }

            button {
                background: #009fe3;
                text-indent: 0;
                height: 26px;
                line-height: 14px;
                font-size: 12px;
                margin: 0;
                padding: 0;
                width: 24px;
                border: 1px solid #e5e0dc;
                color: #FFFFFF;
                display: inline-block;
                .arial();
                cursor: pointer;
                border-left: none;
            }
        }
    }
}



.logged {

    .main-nav__item-link {

        &--login {
            display: none;
        }

        &--logout {
            display: block;
            height: 100%;
            border-right: 1px solid #e3e3e3;
        }
    }

    .main-nav__account {
        background: #fff url(../images/account-icon.png) 50% 50% no-repeat;
        background-size: 20px 20px;
        pointer-events: auto;
        margin-left: auto;

        &--active {
            background: #009fe3 url(../images/account-icon-active.png) 50% 50% no-repeat;

            &:hover {
                opacity: 1;
            }
        }
    }
}




@media screen and (max-width: 1000px) {
    .main-nav {

        &__menuButton-mobile {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            z-index: 10;
            width: 70px;
        }

        &__mainLogo {
            display: none;
        }

        &__logo {
            z-index: 10;
            background-color: #fff;
        }

        &__items {
            position: fixed;
            width: 270px;
            left: -272px;
            top: 0;
            z-index: 1;
            height: 100%;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            border-top: 1px solid #e3e3e3;
            transition: left 1s, box-shadow 1s;
            background-color: #fff;
            z-index: 99999;

            &.hide {
                .main-nav__item {
                    display: none;
                }
            }
        }

        &__item {
            max-width: 291px;
            height: 40px;
            border-left: 0;
            text-align: left;

            &:hover,
            &:focus,
            &:active {
                background: #009fe3;
                color: #fff;

                &:before,
                &:after {
                    background-color: #fff;
                }
            }


            &-dropdown {
                position: static;
                display: none;
                visibility: visible;
                opacity: 1;
                width: 270px;

                &2 {
                    position: static;
                    display: none;
                    visibility: visible;
                    opacity: 1;
                    box-shadow: none;
                    width: 270px;

                    &-item {
                        background-color: #e6e2dc;
                        border-bottom: 1px solid #CCC2B8;

                        &:last-child {
                            border-bottom: 1px solid #CCC2B8;
                        }
                    }
                }



                &-item {

                    background-color: #F1F0EC;
                    border-bottom: 1px solid #e3dfdc;

                    &:last-child {
                        border-bottom: 1px solid #e3dfdc;
                    }




                    a {
                        .arial();
                        font-size: 17px;
                        line-height: 26px;
                    }

                    &.showSubMenu {
                        border-bottom: 0;
                        background: -webkit-linear-gradient(#1aa9e7, #008fcd);
                        background: -o-linear-gradient(#1aa9e7, #008fcd);
                        background: -webkit-gradient(linear, left top, left bottom, from(#1aa9e7), to(#008fcd));
                        background: -moz- oldlinear-gradient(#1aa9e7, #008fcd);
                        background: linear-gradient(#1aa9e7, #008fcd);



                        >a {
                            color: #fff;

                            &:before,
                            &:after {
                                background-color: #fff;
                            }

                            &:before {
                                display: none;
                            }
                        }

                        >.main-nav__item-dropdown2 {
                            display: block;
                        }
                    }

                    &--pageLink {
                        position: relative;


                        a {
                            padding-left: 35px;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            width: 14px;
                            height: 10px;
                            background: url(../images/menu-pagelink-icon.png) 0 0 no-repeat;
                            left: 14px;
                            top: 14px;
                        }
                    }

                    &--dropright {

                        >a {
                            &:after {
                                position: absolute;
                                content: '';
                                top: 18px;
                                right: 11px;
                                width: 10px;
                                height: 2px;
                                background-color: #009fe3;
                                transform: none;
                            }

                            &:before {
                                position: absolute;
                                content: '';
                                top: 14px;
                                right: 15px;
                                width: 2px;
                                height: 10px;
                                background-color: #009fe3;
                                transform: none;
                            }
                        }
                    }
                }
            }




            &-link {
                padding-left: 17px;
                padding-top: 8px;
                .arial();
                font-size: 17px;
                line-height: 26px;
                color: #009fe3;
                border-bottom: 1px solid #e6e1db;
            }

            &.showSubMenu {

                &:before,
                &:after {
                    background-color: #fff;
                }

                &:before {
                    display: none;
                }

                background: -webkit-linear-gradient(#1aa9e7, #008fcd);
                background: -o-linear-gradient(#1aa9e7, #008fcd);
                background: -webkit-gradient(linear, left top, left bottom, from(#1aa9e7), to(#008fcd));
                background: -moz- oldlinear-gradient(#1aa9e7, #008fcd);
                background: linear-gradient(#1aa9e7, #008fcd);

                >a {
                    color: #fff;
                }

                >.main-nav__item-dropdown {
                    display: block;
                }
            }

            &--mainLogo {
                background: #aacc02 url(../images/main-site-logo-mob.png) 14px 4px no-repeat;

                a {
                    .arial();
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 26px;
                    padding-left: 51px;
                }

                &:hover,
                &:active,
                &:focus {
                    background: #aacc02 url(../images/main-site-logo-mob.png) 14px 4px no-repeat;
                }
            }

            &--close {
                text-align: right;

                &:hover,
                &:active,
                &:focus {
                    background-color: #fff;
                }

                .main-nav__item-link {
                    display: inline-block;
                    width: 40px;
                    height: 100%;
                    background: url(../images/blue-close-icon.png) 50% 50% no-repeat;
                }
            }

            &--dropdown {
                height: auto;
                position: relative;


                &:after {
                    position: absolute;
                    content: '';
                    top: 18px;
                    right: 11px;
                    width: 10px;
                    height: 2px;
                    background-color: #009fe3;
                }

                &:before {
                    position: absolute;
                    content: '';
                    top: 14px;
                    right: 15px;
                    width: 2px;
                    height: 10px;
                    background-color: #009fe3;
                }

            }

        }
    }

    .main-nav__item--login .main-nav__item-link {
        padding-right: 17px;
        padding-left: 17px;
    }



    .main-nav__item-dropdown-item {
        &.showSubMenu2 {
            display: block !important;

            .main-nav__item-dropdown2 {
                visibility: visible !important;
                opacity: 1 !important;
                z-index: 20;
            }
        }
    }

    .showMenu {
        overflow: hidden !important;
        position: fixed;

        main,
        footer {
            position: relative;
            left: 270px;
        }

        .main-nav__items {
            left: 0;
            overflow: auto;
            box-shadow: rgba(0, 0, 0, 0.2) 0 6px 10px;

        }
    }
}




@media screen and (max-width: 570px) {
    .main-nav {

        &__logo {

            padding-top: 9px;
            padding-left: 12px;
            padding-right: 10px;

            img {
                width: 37px;
                width: 65px;
                height: 23px;
                height: auto;
            }
        }

        &__geo {
            width: 39px;
            background: #009fe3 url(../images/geo-icon.png) 50% 50% no-repeat;
            background-size: 15px 17px;
        }

        &__menuButton-mobile {
            width: 58px;
            font-size: 13px;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        &__account {
            width: 38px;
        }

        &__cart {
            width: 38px;
        }

        &__cart--notEmpty .main-nav__cart-quantity {
            top: 2px;
            left: 14px;
        }

        &__search {
            width: 38px;

            form {
                top: 40px;
            }

        }
    }

}