/* Modal review
   ========================================================================== */

.modal-review {
    display: none;
    min-width: 288px;
    width: 675px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding-top: 28px;
        padding-bottom: 47px;
        padding-left: 34px;
        padding-right: 34px;
    }


    &__title {
        .gillSansLight();
        font-size: 27px;
        line-height: 35px;
        margin: 0;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__subtitle {
        .gillSansLight();
        font-size: 22px;
        line-height: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    &__counter {
        .arial();
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 17px;
    }

    &__textarea {
        height: 170px;
        width: 100%;
        border: 1px solid #ccc2b8;
        padding: 10px;
        margin-bottom: 18px;
    }

    &__close {
        display: none;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__button {
        .arial();
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        transition: background-color .1s;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        border: 0;
        outline: 0;
        background-color: #009fe3;

        &:hover,
        &:active,
        &:focus {

            background-color: #016b99;
        }
    }

    &__rating {

        margin-left: 16px;
        margin-top: 2px;

        &-wrapper {
            display: flex;
            span {
                .arial();
                font-size: 12px;
                line-height: 19px;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            -moz-user-select: none;
            -webkit-user-select: none;

            li.star {
                display:inline-block;

                span {
                    display: inline-block;
                    width: 15px;
                    height: 14px;
                    background: url(../images/rating-star-icon.png) 0 0 no-repeat;
                    background-size: 100% 100%;
                }

                &.hover {

                    span {
                        background: url(../images/full-star-icon.png) 0 0 no-repeat;
                        background-size: 100% 100%;
                    }
                }

                &.selected {

                    span {
                        background: url(../images/full-star-icon.png) 0 0 no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
        }


    }
}

.fancybox-opened .fancybox-skin {
    border-radius: 0 !important;
}


.fancybox-review .fancybox-close {
    font-size: 0;
    position: absolute;
    z-index: 1000002;
    top: -9px;
    right: -9px;
    width: 19px;
    height: 18px;
    background: url(../images/fancybox-review-close.png) 0 0 no-repeat;
    cursor: pointer;
}





@media screen and (max-width: 780px) {
    .fancybox-review {
        width: 90%!important;

        .fancybox-inner {
            width: 100%!important;
        }
    }

    .modal-review {
        width: 100%;
    }
}

@media screen and (max-width: 570px) {


    .modal-review {

        min-width: 0px;
        &__wrapper {
            padding-left: 25px;
            padding-right: 25px;
        }

        &__subtitle {
            .arial();
            font-size: 16px;
            line-height: 18px;
            color: #484846;
            margin-bottom: 13px;
        }

        &__bottom {
            display: flex;
            flex-direction: column;
        }

        &__rating-wrapper {
            margin-bottom: 15px;
        }
    }
}

