/* Modal quick order
   ========================================================================== */

.modal-qOrder {
    display: none;
    min-width: 288px;
    width: 710px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding-top: 22px;
        padding-bottom: 38px;
        padding-left: 16px;
        padding-right: 16px;
    }


    &__title {
        font-family: "futuralight";
        font-size: 22px;
        line-height: 25px;
        margin: 0;
        margin-bottom: 22px;
    }

    &__desc {
        margin-bottom: 30px;
        p {
            margin-top: 0;
            margin-bottom: 10px;
            .arial();
            font-size: 14px;
            line-height: 19px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }
    }

    &__dealers {
        margin-bottom: 30px;

        &-title {
            display: block;
            margin-top: 0;
            margin-bottom: 10px;
            .arial();
            font-size: 14px;
            line-height: 19px;
        }

        .account-form__checkbox {
            width: 20px;
            margin-top: 0;
        }

        .account-form__checkbox input[type='radio']+label {
            width: 24px;
            height: 24px;
            padding: 0;
        }

        .dealer__review-stars {
            margin-bottom: 0;
        }


    }

    .account-form__field--w100 {
        margin-right: 0;
    }

    &__dealer {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        background: #f1efeb;
        padding: 20px;
        padding-left: 16px;
        padding-right: 16px;

        &-price {
            .arial();
            font-size: 20px;
            font-weight: bold;
            line-height: 1;
            margin-left: auto;
            padding-left: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .account-form__checkbox label {
        white-space: normal;
    }

    .account-form__regBtn {
        margin-top: 0;
    }

    .account-form__checkbox input[type='checkbox']+label {
        padding-left: 39px;
    }

    .account-form__regBtn .account-form__button {
        margin-right: 20px;
    }

    .account-form__regBtn {
        align-items: flex-start;
    }
}


@media screen and (max-width: 780px) {
    .fancybox-review {
        width: 90% !important;

        .fancybox-inner {
            width: 100% !important;
        }
    }

    .modal-qOrder {
        width: 100%;
    }
}