/* Modal City
   ========================================================================== */

.ui-autocomplete {
    z-index: 1000040;
    

    .ui-menu-item-wrapper {
        background-color: #fbf7f0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-decoration: none;
        color: #807366;

        &.ui-state-active {
            background-color: #fff;
            border: 0;
            margin: 0;
        }
    }

}

.ui-widget.ui-widget-content.ui-autocomplete {
    border: 1px solid #e5e0db;
}


.modal-city {
    display: none;
    min-width: 288px;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;
    padding-bottom: 38px;

    &--cities {
        .modal-city__city {
            padding: 0;
            text-align: left;
            margin-bottom: 15px;

            &--nonActive {
                pointer-events: none;
                color: #b8b8b8;
            }

            span {
                cursor: pointer;
                .arial();
                padding: 0;
                font-size: 16px;
                line-height: 20px;

                &:before {
                    display: none;
                    left: -27px;
                }

                &:hover {
                    color: #b4cd26;
                    font-weight: bold;

                    &:before {
                        display: block;
                    }
                }
            }
        }
    }

    &__column {
        width: 180px;
        margin-right: 44px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        .gillSansLight();
        font-size: 24px;
        line-height: 28px;
        margin: 0;
        padding-left: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: #009fe3;
        color: #fff;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-left: 48px;
        padding-right: 48px;

        .account-form__field input {
            .arial();
            font-size: 14px;
            line-height: 18px;
        }
    }

    &__close {
        font-size: 0;
        width: 10px;
        height: 9px;
        position: absolute;
        top: 17px;
        right: 10px;
        background: url(../images/white-close-icon.png) 0 0 no-repeat;
    }

    &__city {

        text-align: center;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 15px;
        margin-bottom: 23px;

        span {
            .arial();
            font-size: 16px;
            line-height: 20px;
            position: relative;
            padding-left: 28px;
            padding-right: 28px;

            &:before {
                position: absolute;
                content: '';
                top: -2px;
                left: 0px;
                width: 18px;
                height: 21px;
                background: url(../images/green-city-icon.png) 0 0 no-repeat;

            }
        }
    }

    &__buttons {
        width: 216px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &__button {
        .arial();
        width: 98px;
        font-size: 14px;
        font-weight: 500;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        -webkit-transition: background-color .1s;
        -moz-transition: background-color .1s;
        -o-transition: background-color .1s;
        transition: background-color .1s;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        border: 0;
        outline: 0;
        background-color: #009fe3;

        &:hover,
        &:active,
        &:focus {

            background-color: #016b99;
        }
    }
}

.fancybox-opened .fancybox-skin {
    border-radius: 0 !important;
}


@media screen and (max-width: 570px) {

    .modal-city {
        min-width: 270px;
    }
}

@media screen and (max-width: 780px) {
    .modal-city__inner {
        flex-wrap: wrap;
    }


    .modal-city {
        &__column {
            width: 40%;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {


    .modal-city {

        &--cities {
            .modal-city__city {
                margin-bottom: 10px;
            }
        }

        &__inner {
            padding-left: 44px;
            padding-right: 44px;
        }

        &__column {
            width: 100%;
            margin-right: 0;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}