/* Modal quick order
   ========================================================================== */

.modal-qOrder {
    display: none;
    min-width: 288px;
    width: 710px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding-top: 22px;
        padding-bottom: 38px;
        padding-left: 16px;
        padding-right: 16px;
    }


    &__title {
       font-family: "futuralight";
        font-size: 22px;
        line-height: 25px;
        margin: 0;
        margin-bottom: 22px;
    }

    .account-form__checkbox label {
        white-space: normal;
    }

    .account-form__regBtn {
        margin-top: 0;
    }

    .account-form__checkbox input[type='checkbox'] + label {
        padding-left: 39px;
    }

    .account-form__regBtn .account-form__button {
        margin-right: 20px;
    }

    .account-form__regBtn {
        align-items: flex-start;
    }
}


@media screen and (max-width: 780px) {
    .fancybox-review {
        width: 90%!important;

        .fancybox-inner {
            width: 100%!important;
        }
    }

    .modal-qOrder {
        width: 100%;
    }
}
