/* popup
   ========================================================================== */

#noty_center_layout_container {
    display: block !important;
    width: auto !important;
    max-width: 288px !important;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;


    &>li {
        width: auto !important;
        background-image: none !important;
        background-color: #fff !important;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        border-radius: 0 !important;
        color: #484846 !important;
    }

    .noty_message {
        position: relative;

        &:before {
            position: absolute;
            width: 10px;
            height: 9px;
            content: '';
            background: url(../images/hotspot_closer.png) 0 0 no-repeat;
            background-size: 100% 100%;
            right: 10px;
            top: 17px;
        }
    }

    .noty_type_alert {
        .noty_message {
            padding-left: 30px !important;
            padding-right: 30px !important;

            &:before {
                display: none;
            }
        }
    }
}


#noty_topRight_layout_container {
    display: block !important;
    width: auto !important;
    max-width: 288px !important;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;


    &>li {
        width: auto !important;
        background-image: none !important;
        background-color: #009fe3 !important;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
        border: 0 !important;
        border-radius: 0 !important;
        color: #fff !important;
    }

    .noty_message {
        position: relative;
        color: #fff;
        padding-top: 17px !important;
        padding-bottom: 17px !important;

        &:before {
            position: absolute;
            width: 10px;
            height: 9px;
            content: '';
            background: url(../images/hotspot_closer-w.png) 0 0 no-repeat;
            background-size: 100% 100%;
            right: 10px;
            top: 50%;
            margin-top: -5px;
        }

        .noty_text {
            color: #fff;
        }


    }

    .noty_type_alert {
        .noty_message {
            padding-left: 30px !important;
            padding-right: 30px !important;

            &:before {
                display: none;
            }
        }
    }
}

.noty_buttons {
    border-top: 0 !important;
    padding-top: 12px !important;
    padding-bottom: 20px !important;
    padding-left: 36px !important;
    padding-right: 36px !important;
    text-align: center !important;

    .btn {
        width: 98px !important;
        height: 34px !important;
        background-color: #009fe3 !important;
        color: #fff !important;
        font-size: 14px !important;
        .arial();
        line-height: 34px !important;

        text-shadow: none !important;
        background-image: none !important;
        border: 0 !important;
        border-radius: 0 !important;
        outline: 0 !important;
        padding: 0 !important;
    }
}

.noty_message {
    padding-left: 20px !important;
    padding-right: 48px !important;
    padding-top: 12px !important;
    padding-bottom: 13px !important;
}

.noty_text {
    .arial();
    font-size: 16px;
    line-height: 18px;
    color: #484846;
}

.noty_close {
    width: 10px !important;
    height: 9px !important;
    background: url(../images/hotspot_closer.png) 0 0 no-repeat !important;
    top: 50% !important;
    right: 10px !important;
    transform: translateY(-50%);
}


@media screen and (max-width: 550px) {

    .noty_buttons {
        display: flex;
        flex-direction: column;
    }

    .btn-primary {
        margin-bottom: 10px !important;
    }

    .btn-danger {
        margin-left: 0 !important;
    }
}