/* Product tabs
   ========================================================================== */

.product-tabs {


    dl {
        margin-top: 0;
        margin-bottom: 0;
    }

    dd {
        margin: 0;
        font-size: 0;
    }


}

.product-tab {
    display: inline-block;
    background-color: #009fe3;

    cursor: pointer;
    .arial();
    white-space: nowrap;
    font-size: 12px;
    line-height: 34px;
    color: #fff;
    margin-right: 1px;
    margin-bottom: 1px;

    a {
        color: #fff;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
        display: inline-block;

    }

    &:last-child {
        margin-right: 0;
    }

    &:not(.active) {

        &:hover {
            background: #0c85b9;

            background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3cb5ea), color-stop(100%, #0c85b9));
            background: -moz-linear-gradient(#3cb5ea, #0c85b9);
            background: -webkit-linear-gradient(#3cb5ea, #0c85b9);
            background: linear-gradient(#3cb5ea, #0c85b9);
        }
    }


    &.active {
        background-color: #a2988d;
    }
}