/* Product
   ========================================================================== */

.product {

    &--sale {
        .product-gallery__image {

            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 80px;
                height: 80px;
                right: 0px;
                top: 0px;
                background: url(../images/sale-icon.png);
                background-size: 100% 100%;
                z-index: 1;
            }
        }
    }

    &--promotion {
        .product-gallery__image {

            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 229px;
                height: 50px;
                left: 0px;
                top: 0px;
                background: url(../images/promotion-label.png);
                background-size: 100% 100%;
                z-index: 1;
            }
        }
    }

    &__index {
        display: flex;
    }

    &__left {
        width: 433px;
        margin-right: 26px;
        flex-shrink: 0;
    }

    &__right {
        padding-top: 55px;

        .more {
            display: inline-block;
            position: relative;
            bottom: 10px;
            .arial();
            color: #009fe3;
            font-size: 12px;
            line-height: 19px;
            margin-bottom: 10px;
        }
    }

    &__review {
        position: relative;
        left: 459px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-rating {
            display: flex;
            flex-direction: column;

            &>span {
                .arial();
                font-size: 14px;
                line-height: 18px;
                color: #009fe3;
                cursor: pointer;
            }
        }

        &-button {
            .arial();
            display: inline-block;
            padding-left: 18px;
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            transition: background-color 0.1s;

            &:hover {
                background-color: #016b99;
            }
        }

        &-stars {
            margin-bottom: 10px;
        }

        &-star {
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-right: 2px;
            cursor: auto;
            background: url(../images/star-icon.png) 0 0 no-repeat;

            &:last-child {
                margin-right: 0;
            }

            &--full {
                background: url(../images/full-star-icon.png) 0 0 no-repeat;
            }
        }

    }

    &__gallery {
        margin-top: -45px;
    }

    &__desc {
        .arial();
        margin-top: 0;
        margin-bottom: 0px;
        overflow: hidden;
        position: relative;
        transition: max-height 0.5s;


        &.noTrim {
            // margin-bottom: 15px;

            &:after {
                opacity: 0;
                transition: opacity 0s 0s;

            }
        }

        &:after {
            position: absolute;
            height: 35px;
            width: 100%;
            content: '';
            bottom: -5px;
            left: 0;
            opacity: 1;
            transition: opacity 0.2s 0.3s;
            background: linear-gradient(to top, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
        }

        &--hide {
            display: none;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                .arial();
                margin-bottom: 3px;
                font-size: 12px;
                line-height: 19px;
                padding-left: 14px;
                position: relative;

                &:after {
                    position: absolute;
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #484846;
                    left: 1px;
                    top: 7px;
                }

            }
        }


        p {
            .arial();
            margin-top: 0;
            margin-bottom: 1em;
            font-size: 12px;
            line-height: 19px;
        }


    }

    &-inner {
        min-height: 124px;
        display: flex;
        flex-direction: column;
    }

    &__prices {
        margin-bottom: 29px;
        display: flex;
        align-items: center;
    }

    &__fromPrice {
        .arial();
        font-weight: bold;
        font-size: 25px;
        line-height: 18px;
        color: #484846;
        display: inline-block;
        margin-right: 15px;
    }

    &__toPrice {
        .arial();
        font-size: 16px;
        line-height: 18px;
        color: #99999b;
    }

    &__form {
        margin-bottom: 20px;

        .cart__goodsTable-counter {
            @media screen and (max-width: 1000px) {
                margin-left: 0;
            }
        }
    }

    &__buttons {
        text-align: right;
        margin-bottom: 15px;

        &--outofstock {
            text-align: left;
        }

        &--mobile {
            display: none;
        }
    }

    &__button {
        .arial();
        display: inline-block;
        padding-left: 18px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 34px;
        outline: 0;
        color: #fff;
        background-color: #009fe3;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 0;
        white-space: nowrap;
        transition: background-color 0.1s;

        &--bookmark {
            padding-left: 30px;
            margin-left: 10px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 14px;
                height: 12px;
                top: 10px;
                left: 10px;
                background: url(../images/bookmark-icon.png) 0 0 no-repeat;
            }
        }

        &:hover {
            background-color: #016b99;
        }
    }

    &__title {
        .gillSansLight();
        font-size: 27px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__subtitle {
        .arial();
        font-size: 16px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 17px;
    }

    &__notes {
        margin-top: 10px;
    }

    &__note {
        margin-top: 0;

        &--warning {
            color: #bf0000;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}


@media screen and (max-width: 1000px) {
    .product {

        &__index {
            flex-direction: column;
        }

        &__left {
            width: 100%;
            margin-right: 0;
        }

        &__review {
            position: static;
            margin-bottom: 30px;
        }

        &__gallery {
            margin-top: 0;
        }
    }
}


@media screen and (max-width: 570px) {
    .product--sale .product-gallery__image:before {
        width: 50px;
        height: 50px;
    }
    .product {

        &__subtitle {
            display: none;
        }

        &__review {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            &-rating {
                margin-bottom: 20px;
            }
        }

        &__prices {
            // display: flex;
            // flex-direction: column;

        }

        &__fromPrice {
            // display: inline-block;
            // margin-bottom: 10px;
            margin-right: 10px;
        }

        &__buttons {
            text-align: left;

            &--mobile {
                display: block;
            }
        }

    }
}