/* Product form
   ========================================================================== */

.product-form {
    background: #e6e3de;

    &__wrapper {
        padding-left: 16px;
        padding-bottom: 40px;
        padding-top: 27px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
    }

    &__field {
        display: flex;
        flex-direction: column;


        &--packing {
            width: 238px;
            margin-right: 26px;
        }

        span {
            margin-bottom: 10px;
            .arial();
            font-size: 14px;
            line-height: 19px;
        }

        input {
            .arial();
            font-size: 13px;
            line-height: 18px;
            width: 100%;
            padding-left: 7px;
            width: 100%;
            height: 33px;
            background: #fff;
            border: 1px solid #cec2b6;
            outline: 0;
            color: #807366;
        }
    }

    &__select {
        width: 100%;
        position: relative;
        height: 33px;
        color: #807366;
        background: #fff;
        border: 1px solid #cec2b6;
        border-radius: 0;


        &:after {
            position: absolute;
            content: '';
            width: 15px;
            height: 9px;
            top: 12px;
            right: 11px;
            background: url(../images/select-arrow.png) 0 0 no-repeat;
        }

        &>select {
            position: relative;
            .arial();
            font-size: 13px;
            line-height: 18px;
            padding-left: 7px;
            width: 100%;
            height: 33px;
            background: transparent;
            border: 0;
            outline: 0;
            color: #807366;
            appearance: none;
            z-index: 1;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &>select::-ms-expand {
            display: none;
        }
    }
}


@media screen and (max-width: 570px) {
    .product-form {

        &__wrapper {
            display: flex;
            flex-direction: column;
        }

        &__field {

            &--packing {
                margin-right: 0;
                margin-bottom: 23px;
            }
        }
    }

}