/* Product Item Block
   ========================================================================== */

.product-item {

    margin-bottom: 35px;

    &--sale {
        .product-item__image {

            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 50px;
                height: 50px;
                right: -20px;
                top: -20px;
                background: url(../images/sale-icon.png);
                background-size: 100% 100%;
                z-index: 1;
            }
        }

    }

    &__image {
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e6e1db;

        img {
            max-height: 151px;
            width: 100%;
            max-width: 100%;
        }
    }

    &__inner {
            min-height: 124px;
            display: flex;
            flex-direction: column;
        }

    &__title {
        .gillSansLight();
        font-size: 21px;
        line-height: 25px;
        margin-top: 0;
        margin-bottom: 8px;
        color: #484846;
    }

    &__largeTitle {
        .gillSansLight();
        text-transform: uppercase;
        font-size: 27px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    &__list {
    	display: none;
    }

    &__linkTitle {

        .arial();
        font-size: 13px;
        line-height: 16px;
        color: #1d9ed8;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 10px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
            left: 0px;
            top: 3px;
        }

        &:hover {

            color: #016b99;

            &:before {
                background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
            }
        }

    }

    &__desc {
        .arial();
        font-size: 12px;
        line-height: 19px;
        color: #4c4c4c;
        margin-top: 0;

        &:last-child {
            margin-bottom: 0;
        }
    }


    &__titleProduct {
        h3 {
            .arial();
            font-size: 13px;
            line-height: 16px;
            color: #1d9ed8;
            margin-top: 0;
            margin-bottom: 10px;
            padding-left: 10px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 5px;
                height: 10px;
                background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                left: 0px;
                top: 3px;
            }

            &:hover {

                color: #016b99;

                &:before {
                    background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                }
            }
        }
    }

    &__text {
        color: #484846;
        margin-bottom: 18px;
        margin-top: 0;
    }

    &__link {
        .arial();
        font-size: 13px;
        line-height: 16px;
        color: #1d9ed8;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 10px;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
            left: 0px;
            top: 3px;
        }

        &:hover {

            color: #016b99;

            &:before {
                background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
            }
        }
    }

    &__fromPrice {
        .arial();
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
        color: #484846;
        display: block;
        margin-bottom: 5px;
    }

    &__toPrice {
        .arial();
        font-size: 12px;
        line-height: 18px;
        color: #99999b;
        display: block;
        margin-bottom: 7px;
    }

    &__cartLink {
        .arial();
        display: inline-block;
        width: 98px;
        font-weight: 500;
        font-size: 14px;
        line-height: 34px;
        outline: 0;
        color: #fff;
        background-color: #009fe3;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 0;
        white-space: nowrap;
        transition: background-color 0.1s;
        margin-top: auto;

        &:hover {
            background-color: #016b99;
        }
    }

}


@media screen and (max-width: 570px) {

    .product-item--sale .product-item__image:before {
        width: 40px;
        top: -10px;
        right: -10px;
        height: 40px;

    }
        .product-item {
            display: flex;

            &__image {
                width: 90px;
                margin-right: 16px;
                margin-bottom: 0;
                flex-shrink: 0;
            }

            &__title {
                font-size: 16px;
                margin-bottom: 4px;
            }

            &__grid {
                display: flex;
                align-items: flex-start;
                margin-bottom: 7px;
            }
        }
}