/* Search panel
   ========================================================================== */

.searchPanel {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    transition: left 0.5s;
    z-index: 10;

    &--filter {
        
    }

    &__inner {
        width: 241px;
        box-shadow: 2px 1px 7px #ccc;

        background-color: #e6e3de;
    }

    &__title {
        padding-left: 11px;
        line-height: 35px;
        background-color: #adcc05;
        color: #fff;
        font-size: 21px;
        position: relative;
        margin: 0;
        z-index: 20;
        font-weight: 300;
    }

    &__toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 34px;
        content: '';
        cursor: pointer;
        box-shadow: 2px 1px 7px #ccc;

        &-image {
        	position: absolute;
        	top: 50%;
        	margin-top: -9px;
        	right: 6px;
        }
    }

    &__keywords {
        padding: 26px 0px 20px 0px;
        background-color: #e6e3de;
        border-bottom: 1px solid #fff;

        input {
            border: 1px #cec2b6 solid;
            color: #7a736d;
            padding-right: 24px;
            margin: 0px 19px;
            background: #fff url(../images/input-search.png) no-repeat 100% 50%;
            font-size: 13px;
            .arial();
            width: 198px;
            padding: 8px 10px 7px;
            border-radius: 0px;
            box-shadow: none;
            outline: 0;

            &:nth-child(2) {
                margin-top: 20px;
            }
        }

        .styledSelect {
            margin-bottom: 10px;



            dl {
                margin: 0 auto;
                width: 197px;
            }
        }
    }

}

@media screen and (max-width: 570px) {
    .searchPanel {
        top: -42px;
    }
}