/* Search panel Navigation
   ========================================================================== */

.searchPanel-nav {


    &__item {
        position: relative;
        border-bottom: 1px solid #fff;



        &--active {

            .searchPanel-nav__item-link {
                color: #fff;
                background-color: #009fe3;
            }
        }

        &--arrowUp {

            .searchPanel-nav__item-link:after {
                display: block;
            }
        }

        &--dropdown {
            position: relative;

            &:after {
                position: absolute;
                top: 25px;
                content: '';
                background: url(../images/filter-arrow.png) 0 0 no-repeat;
                width: 15px;
                height: 9px;
                right: 10px;
                pointer-events: none;
            }

            &.showSubMenu {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        &-number {
            display: inline-block;
            margin-left: 5px;
        }

        &-dropdown {
            display: none;
            height: auto;

            &-item {

                transition: background-color 0.1s;
                border-bottom: 1px solid #fff;

                &:last-child {
                    border-bottom: 0;
                }

                &--active {


                    .searchPanel-nav__item-dropdown-link {
                        color: #fff;
                        background-color: #009fe3;
                    }

                }
            }

            &-link {
                background-color: #ddd9d0;
                padding-left: 19px;
                padding-right: 15px;
                padding-top: 17px;
                padding-bottom: 17px;
                display: block;
                .arial();
                font-size: 14px;
                line-height: 17px;
                color: #484846;
            }

        }


        &-link {
            position: relative;
            padding-left: 19px;
            padding-right: 15px;
            padding-top: 17px;
            padding-bottom: 17px;
            display: block;
            .arial();
            font-size: 14px;
            line-height: 17px;
            background-color: #e6e3de;
            color: #484846;

            &:after {
                content: '';
                display: none;
                position: absolute;
                background: url(../images/filter_up_b.png) no-repeat;
                width: 17px;
                height: 8px;
                right: 10px;
                top: 50%;
                margin-top: -4px;
                cursor: pointer;
            }
        }
    }


}



.showSubMenu {

    .searchPanel-nav__item-dropdown {
        display: block;
    }
}