/* shops
   ========================================================================== */

.shops {

    &__map {
        height: 512px;
        width: 100%;
    }

    &__header {
        padding: 15px;
        padding-bottom: 5px;
    }

    &__title {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__filters {
        display: flex;
        justify-content: space-between;
    }

    &__footer {
    	text-align: center;
    	background-color: #fff;

        a {
            display: inline-block;
            color: #fff;
            background: url(../images/button_icon_sprite.png) 6px -76px no-repeat, linear-gradient(#1ba9e7, #009fe3);
            padding-left: 24px;
            padding-right: 15px;
            height: 33px;
            .arial();
            font-size: 12px;
            line-height: 33px;
            cursor: pointer;
            margin-top: 65px;


            &:hover {
            	background: url(../images/button_icon_sprite.png) 6px -76px no-repeat,linear-gradient(#3cb5ea,#0c85b9);
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .shops {
        &__filters {
            flex-direction: column;
        }
    }
}