/* Slider
   ========================================================================== */



.slider {
    padding-top: 5px;
    visibility: hidden;

    &--visible {
        visibility: visible;
    }

    &__wrapper {
        &.active {
            display: block;
        }
    }

    display: flex;
    align-items: stretch;


    &__item {
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;

        &--sale {
            .slider__item-image {
                &>a {
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 50px;
                        height: 50px;
                        right: 0px;
                        top: 0px;
                        background: url(../images/sale-icon.png);
                        background-size: 100% 100%;
                    }
                }
            }
        }

        &--promotion {
            .slider__item-image {

                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 135px;
                    height: 30px;
                    left: 0px;
                    top: -5px;
                    background: url(../images/promotion-label.png);
                    background-size: 100% 100%;
                    z-index: 1;
                }
            }
        }

        &-image {
            width: 100%;
            margin-bottom: 23px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0px solid #e6e1db;

            img {
                max-height: 151px;
                width: 100%;
                max-width: 100%;
            }
        }

        &-inner {
            min-height: 124px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding-bottom: 5px;
        }

        &-title {
            .gillSansLight();
            font-size: 21px;
            line-height: 25px;
            margin-top: 0;
            margin-bottom: 8px;
            color: #484846;
        }


        &-titleProduct {
            h3 {
                .arial();
                font-size: 13px;
                line-height: 16px;
                color: #1d9ed8;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 10px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 10px;
                    background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                    left: 0px;
                    top: 3px;
                }

                &:hover {

                    color: #016b99;

                    &:before {
                        background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                    }
                }
            }
        }

        &-text {
            color: #484846;
            margin-bottom: 18px;
            margin-top: 0;
        }

        &-desc {

            .arial();
            font-size: 12px;
            line-height: 18px;
            display: block;
            margin-bottom: 10px;

        }

        &-link {
            .arial();
            font-size: 14px;
            line-height: 16px;
            color: #1d9ed8;
            margin-top: 0;
            margin-bottom: 10px;
            padding-left: 10px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 5px;
                height: 10px;
                background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                left: 0px;
                top: 3px;
            }

            &:hover {

                color: #016b99;

                &:before {
                    background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                }
            }
        }

        &-fromPrice {
            .arial();
            font-weight: bold;
            font-size: 15px;
            line-height: 18px;
            color: #484846;
            display: block;
            margin-bottom: 5px;
        }

        &-toPrice {
            .arial();
            font-size: 12px;
            line-height: 18px;
            color: #99999b;
            display: block;
            margin-bottom: 10px;
        }

        &-cartLink {
            .arial();
            display: inline-block;
            width: 98px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            transition: background-color 0.1s;
            margin-top: auto;

            &:hover {
                background-color: #016b99;
            }
        }

        &-counter {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            position: relative;

            &Top {
                display: flex;
                align-items: center;

                @media screen and (max-width: 570px) {
                    flex-wrap: wrap;
                }

                .cart__goodsTable-counter {
                    margin-right: 14px;
                }
            }

            &Dimension {
                margin-left: 0px;
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                line-height: 19px;
                .arial();
                color: #807366;
            }

            &Text {
                .arial();
                font-size: 12px;
                line-height: 15px;
                color: #99999b;
                display: inline-block;
                margin-top: 7px;

            }
        }
    }

}




.sliderPopular {



    &__item {

        &-title {

            h3 {
                .arial();
                font-size: 13px;
                line-height: 16px;
                color: #1d9ed8;
                margin-top: 0;
                margin-bottom: 10px;
                padding-left: 9px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 10px;
                    background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                    left: -1px;
                    top: 3px;
                }

                &:hover {

                    color: #016b99;

                    &:before {
                        background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                    }
                }
            }

        }


    }



}




@media screen and (max-width: 570px) {}