/* Subscribe form
   ========================================================================== */

.subscribe {
    z-index: 99999;
    position: fixed;
    bottom: 0;
    right: 125px;
    width: 295px;
    background: #e5e0db;
    transition: bottom .5s;

    &__hidden {
    	
    	.subscribe__arrow {
    		    background-position: -60px 18px;
    	}
    }

    &__header {
        background: #009fe3;
        border-bottom: 1px solid #fff;
        padding: 7px 15px 5px;

        & > div {
        	cursor: pointer;
        }
    }

    &__title {
        margin: 0;
        font-size: 21px;
        line-height: 28px;
        color: #fff;
    }

    &__arrow {
        display: block;
        position: absolute;
        background: url(../images/arrow_sprite.png) no-repeat 10px 18px;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
    }

    &__form {
        padding: 10px 15px;
        padding-bottom: 20px;
    }

    &__successMsg {
        display: none;

        p {
            .arial();
            font-size: 12px;
            line-height: 19px;
            margin: 0;
        }
    }

    &__inner {

        p {
            .arial();
            font-size: 12px;
            line-height: 19px;
            margin: 0;
        }

    }

    &__input {
        width: 100%;
        margin-bottom: 5px;

        input {
            color: #807366;
            font-size: 12px;
            padding: 8px 10px 7px;
            margin-top: 12px;
            border: 1px solid #ccc2b8;
            border-radius: 0px;
            display: block;
            box-shadow: none;
            font-family: Arial;
            width: 100%;
            outline: 0;
        }

        &-link {
            .arial();
            font-size: 12px;
            line-height: 18px;
            color: #1d9ed8;
            margin-top: 0;
            margin-bottom: 0px;
            padding-left: 8px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                width: 5px;
                height: 10px;
                background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                left: 0px;
                top: 3px;
            }

            &:hover {

                color: #016b99;

                &:before {
                    background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                }
            }
        }
    }

    &__interests {

        &>p {
            margin-top: 0;
            margin-bottom: 10px;
            .arial();
            font-size: 12px;
            line-height: 19px;
        }

        input[type='checkbox'] {
            position: absolute;
            z-index: -1;
            width: auto;
            margin: 10px 0 0 7px;
            opacity: 0;
        }

        input[type='checkbox']+label {
            display: inline-block;

            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
            color: #4c4c4c;
            position: relative;

            cursor: pointer;
            padding-left: 26px;
        }

        input[type='checkbox']+label:before {
            position: absolute;
            top: 0px;
            left: 0;
            content: '';
            outline: 0;
            height: 20px;
            width: 20px;
            background: url(../images/sprite-input.png) 0% -61px no-repeat;
        }

        input[type='checkbox']:checked+label:after {
            opacity: 1;
        }

        input[type='checkbox']+label:after {
            position: absolute;
            top: 0px;
            left: 0;
            width: 20px;
            height: 20px;
            content: '';
            transition: .2s;
            opacity: 0;
            outline: 0;
            background: url(../images/sprite-input.png) -30px -61px no-repeat;
        }




    }

    &__button {
        text-align: center;
        padding-top: 7px;

        a {
            .arial();
            display: inline-block;
            padding-left: 18px;
            padding-right: 15px;
            font-weight: 500;
            font-size: 14px;
            line-height: 34px;
            outline: 0;
            color: #fff;
            background-color: #009fe3;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            border: 0;
            white-space: nowrap;
            transition: background-color 0.1s;

            &:hover {
                background-color: #016b99;
            }
        }
    }

}


@media screen and (max-width: 1000px) {
    .subscribe {
        right: 41px;
    }
}