/* Tab
   ========================================================================== */

.tab {
    background: #e2ded7;
    padding: 25px 15px;
    padding-top: 17px;

    &--shops {
        padding: 0;

        .dealer__addresses-item {
            border-bottom: 0;
            border-top: 1px solid #ccc2b8;
        }
    }

    &--map {
        padding: 0;
    }

    &--pay {
        padding: 0;

        .tab__title {
            padding-top: 17px;
            padding-left: 15px;
            padding-right: 0px;
        }
    }

    &--delivery {

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }
    }

    &--orders {
        .tab__title {
            padding-left: 15px;
            padding-right: 0px;
        }

        .account-form__tab {
            margin-right: 1px;
        }


        .account-form__tab a {
            display: flex;
            align-items: center;
        }


        .account-form__table--bids > tbody > tr > td {
            border-bottom: 0px solid #000!important;
        }

        .account-form__table--common > tbody > tr > td {
            padding-right: 15px!important;
        }

        .account-form__table--common > tbody > tr {
            .styledSelect {
                width: 100%;
            }
        }

        .account-form__table--bids > tbody > tr > td:nth-child(3) {
            width: 200px;
        }

        .account-form__table--common > tbody > tr > th:nth-child(3) {
            width: 200px;
        }

        .account-form__table--bids > tbody > tr > td:nth-child(4) {

            .account-form__table-flexColumn {
                padding-top: 17px;
            }
        }


        .account-form__table--bids > tbody > tr > td:nth-child(5) {
            width: 90px;
        }

        .account-form__table--common > tbody > tr > th:nth-child(5) {
            width: 90px;
        }

        .account-form__table--common > tbody > tr th:nth-child(6) {
            width: 140px;
        }

        .account-form__table--bids > tbody > tr > td:nth-child(6) {
            width: 140px;

            .account-form__table-flexColumn {
                padding-top: 17px;
            }
        }

        .account-form__table--bids>tbody>tr>td:nth-child(7) {
            width: 189px;
            padding-right: 9px;
            padding-left: 0;
        }

        .account-form__table--common > tbody > tr th:nth-child(7) {
            width: 204px;
            padding-right: 9px;
            padding-left: 0;
            text-align: center;
        }

        .account-form__table--bids>tbody>tr:nth-child(odd) td:nth-child(7) {
            background-color: #f1efeb;
        }

        .account-form__table--bids > tbody > tr > td:nth-child(5) {
            span {
                white-space: nowrap;
            }
        }

        .account-form__table--bids > tbody > tr > td span.account-form__table-goodsQuantity {
            pointer-events: auto;
        }

        .account-form__table--requests {
            margin-top: -22px;

            &.account-form__table--cartOrders {
                margin-top: 0;
            }
        }
    }

    &--reviews {
        .tab__title {
            padding-left: 15px;
        }
    }

    &--review {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;
        position: relative;

        .product__review-button {
            position: absolute;
            top: 13px;
            right: 15px;
        }

        .more-button {
            margin-top: 30px;
        }

        .tab__title {
            margin-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }

        .tab__date {
            .arial();
            color: #807366;
            font-size: 12px;
            line-height: 19px;
        }

        table {
            width: 100%;
            margin-bottom: 30px;

            th {
                text-align: left;
                border-top: 1px solid #ccc2b8;
                border-bottom: 1px solid #ccc2b8;

                padding-top: 9px;
                padding-bottom: 9px;
                .arial();
                font-size: 13px;
                line-height: 20px;
                color: #818085;

                &:first-child {
                    width: 300px;
                    padding-left: 20px;
                    padding-right: 15px;
                }
            }

            td {
                border-bottom: 1px solid #ccc2b8;
                padding-left: 0px;
                padding-right: 30px;
                padding-top: 25px;
                padding-bottom: 25px;
                color: #4c4c4c;
                .arial();
                font-size: 15px;
                line-height: 18px;
                vertical-align: top;


                &:first-child {
                    width: 300px;
                    padding-left: 57px;

                    div {
                        position: relative;
                    }




                    .tab__review--mob {
                        display: none;
                        justify-content: space-between;
                        margin-bottom: 15px;

                        span {
                            .arial();
                            position: static;
                            width: auto;
                            height: auto;
                            text-align: left;
                            background: none;
                            color: #818085;
                            font-size: 13px;
                            line-height: 19px;

                            .tab__date {
                                .arial();
                                color: #807366;
                                font-size: 12px;
                                line-height: 19px;
                            }
                        }
                    }

                    span {


                        .arial();
                        padding-top: 1px;
                        font-size: 9px;
                        position: absolute;
                        left: -36px;
                        top: -2px;
                        width: 24px;
                        height: 23px;
                        text-align: center;
                        line-height: 23px;
                        color: #fff;
                        background: url(../images/reviews-star-icon.png) 0 0 no-repeat;
                    }
                }

                &:last-child {
                    padding-right: 70px;
                }

                p {
                    margin-bottom: 10px;
                    margin-top: 0;
                    font-size: 15px;
                    line-height: 18px;

                    &:last-child {
                        margin-bottom: 10px;
                    }
                }
            }

            &.account-form__table-reviews {


                .account-form__button-wrapper {
                    padding-right: 55px;
                    padding-top: 0;
                    padding-bottom: 0;

                }

                &>tbody {


                    &>tr {



                        &>td {

                            border-bottom: 0 !important;
                            padding-bottom: 20px;

                            &:nth-child(1) {
                                width: 205px;
                                padding-right: 15px;
                            }

                            &:nth-child(2) {
                                width: 174px;
                                padding-right: 15px;

                                span {

                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 16px;
                                    display: inline-block;
                                    cursor: pointer;
                                    color: #1d9ed8;

                                    &:hover {
                                        color: #016b99;
                                    }



                                }


                            }

                            &:nth-child(3) {
                                width: 517px;
                                padding-right: 20px;
                            }


                            span.account-form__table-mobTh {
                                display: none;
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 18px;
                                margin-bottom: 0 !important;
                                color: #818085;
                            }
                        }

                        &.account-form__table-reviewsBtn {

                            &>td {
                                border-bottom: 1px solid #ccc2b8 !important;
                            }
                        }

                        &.account-form__table-orderInner {
                            display: none;


                            background-color: #f1efeb;

                            &>td {
                                width: 100%;
                                padding: 0;
                                border-bottom: 0;

                            }

                            table a {
                                font-family: Arial, Helvetica, sans-serif;
                                font-size: 13px;
                                font-weight: 500;
                                line-height: 16px;
                                display: inline-block;
                                color: #1d9ed8;

                                &:hover {
                                    color: #016b99;
                                }
                            }

                            .account-form__table-order-total {
                                padding-left: 18px;
                                padding-right: 85px;

                                .account-form__row {
                                    justify-content: flex-end;
                                }

                                span {
                                    background: none;
                                    color: #484846;
                                    .arial();
                                    padding: 0;
                                    font-size: 15px;
                                    line-height: 18px;
                                    font-weight: 500;
                                    text-align: left;
                                    position: relative;
                                    left: auto;
                                    text-align: left;
                                    width: auto;
                                    height: auto;
                                }

                                .cart-form__infoColumn {
                                    &-title {
                                        color: #4c4c4c;
                                        .arial();
                                        font-size: 14px;
                                        line-height: 19px;
                                    }

                                    &-text {
                                        color: #807366;
                                        .arial();
                                        font-size: 14px;
                                        line-height: 19px;
                                    }

                                    &:first-child {
                                        margin-right: auto;

                                        .cart-form__infoColumn-title {
                                            position: relative;

                                            &:before {
                                                display: none;
                                            }
                                        }
                                    }

                                    &:nth-child(2) {
                                        .cart-form__infoColumn-title {
                                            position: relative;

                                            &:before {
                                                position: absolute;
                                                top: 1px;
                                                left: -19px;
                                                width: 14px;
                                                height: 15px;
                                                content: '';
                                                background: url(../images/check-icon-transparent.png) 0 0 no-repeat;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .account-form__table-order {

                            margin-top: 19px;
                            margin-bottom: 13px;

                            &Name {
                                width: auto;
                            }

                            td {
                                vertical-align: middle;
                                border-bottom: 0;
                                padding-top: 0;
                                padding-bottom: 8px;


                                &:nth-child(1) {
                                    width: 42%;
                                    padding-left: 16px;
                                    padding-right: 15px;
                                }

                                &:nth-child(2) {
                                    width: 58%;
                                    padding-right: 16px;

                                    &>div {

                                        span {

                                            background: none;
                                            color: #484846;
                                            .arial();
                                            padding: 0;
                                            font-size: 15px;
                                            line-height: 18px;
                                            font-weight: 500;
                                            text-align: left;
                                            position: static;
                                            width: auto;
                                            height: auto;

                                            &:first-child {
                                                display: inline-block;
                                                margin-right: 140px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                th {

                    &:nth-child(1) {
                        width: 205px;
                        padding-right: 15px;
                    }

                    &:nth-child(2) {
                        width: 174px;
                        padding-right: 15px;
                    }

                    &:nth-child(3) {
                        width: 517px;
                        padding-right: 20px;
                    }
                }


            }
        }
    }

    &__title {
        pointer-events: none;
        .gillSansLight();
        font-weight: 500;
        margin-top: 0;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 15px;

        a {
            pointer-events: auto;
            padding-left: 15px;
        }
    }



    p {
        .arial();
        margin-top: 0;
        margin-bottom: 20px;
        color: #4c4c4c;
        font-size: 12px;
        line-height: 19px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin: 0;
        padding-left: 15px;
        margin-bottom: 13px;

        &.noDots {
            padding-left: 0;

            li {

                &:before {
                    display: none;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            .arial();
            margin-top: 0;
            margin-bottom: 0px;
            color: #4c4c4c;
            font-size: 12px;
            line-height: 19px;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                background-color: #4c4c4c;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                left: -15px;
                top: 7px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .tab {

        &__title {
            pointer-events: auto;
        }

        &--address {
            .account-form__addAddress {
                margin-left: 15px;
            }

            .account-form__button {
                margin-left: 15px;
            }
        }

        &--shops {
            .dealer__addresses-item:first-child {
                padding-top: 17px;
            }
        }

        &--review {
            .tab__title {
                pointer-events: none;
                margin-bottom: 13px;

                &:after {
                    display: none;
                }
            }

            table.account-form__table-reviews>tbody>tr>td span.account-form__table-mobTh {
                display: inline-block;
            }

            table.account-form__table-reviews {

                &>tbody {

                    &>tr {

                        &:first-child {
                            display: none;
                        }

                        display: flex;
                        flex-direction: column;
                        border-bottom: 0;


                        &.account-form__table-reviewsBtn {

                            &>td {
                                &:nth-child(1) {
                                    margin-bottom: 0;
                                    padding-left: 15px;
                                    padding-top: 20px;
                                    padding-bottom: 20px;

                                    .account-form__button-wrapper {
                                        padding-left: 0;
                                        text-align: left;
                                    }
                                }
                            }
                        }

                        &.account-form__table-orderInner {

                            .account-form__table-order-total {
                                padding-left: 15px;
                                padding-right: 15px;
                                padding-top: 0;

                                .account-form__row {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;

                                    .cart-form__infoColumn {

                                        &:nth-child(2) {

                                            .cart-form__infoColumn-title {
                                                padding-left: 18px;

                                                &:before {
                                                    left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &>td {

                                &:nth-child(1) {
                                    padding-left: 0px;
                                    padding-right: 0px;
                                }

                                .account-form__table-order-total {
                                    margin-left: 0 !important;
                                }



                                .account-form__table-order {

                                    td {
                                        margin-bottom: 0;
                                    }

                                    tr {
                                        border-bottom: 0;
                                    }

                                    td:nth-child(2)>div span:first-child {
                                        margin-right: 60px;
                                    }



                                    .account-form__table-orderName {
                                        font-size: 0;
                                        display: flex;
                                        align-items: flex-start;

                                        a {

                                            &:last-child {
                                                padding-top: 10px;
                                            }
                                        }
                                    }

                                    &>tbody {

                                        &>tr {
                                            display: flex;
                                            flex-direction: column;
                                            margin-bottom: 20px;

                                            &:last-of-type {
                                                margin-bottom: 0;
                                            }

                                            &>td {

                                                &:nth-child(1) {
                                                    width: 100%;
                                                }

                                                &:nth-child(2) {
                                                    width: 100%;
                                                    padding-left: 80px;
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        &>td {

                            &:nth-child(1) {
                                order: 2;
                                width: auto;
                                padding-left: 50px;
                                margin-bottom: 25px;
                                padding-top: 0;
                                padding-bottom: 0;
                            }

                            &:nth-child(2) {
                                order: 1;
                                display: flex;
                                padding-top: 0;
                                padding-bottom: 0;
                                margin-bottom: 17px;
                                padding-top: 10px;

                                padding-left: 15px;
                                width: auto;


                                .account-form__table-goodsQuantity {
                                    display: inline-block;
                                    margin-right: 50px;
                                }
                            }

                            &:nth-child(3) {
                                order: 3;
                                width: auto;
                                padding-left: 15px;
                                padding-top: 0;
                                padding-bottom: 7px;
                                margin-bottom: 0px;

                                .tab__date {
                                    display: none;
                                }
                            }


                        }
                    }
                }

            }
        }

        &--orders {
            &>.tab__title {
                pointer-events: none;

                &:after {
                    display: none;
                }
            }

            .account-form__table--dealerOrders {
                border-top: 1px solid #ccc2b8;

                &.account-form__table--dealerOrdersComplete {
                    border-top: 0;
                }
            }

            .dealerAccount-form__completedOrders {

                .tab__title {
                    &:after {
                        right: 15px;
                    }
                }
            }



            .account-form__table--dealerOrders>tbody>tr>td:nth-child(3) {
                .account-form__table-flexColumn {
                    .account-form__table-mobTh {
                        display: inline-block;
                        margin-right: 21px;
                    }

                    span {

                        &:last-child {
                            padding-left: 20px;
                        }
                    }
                }
            }

            .account-form__table--dealerOrders>tbody>tr>td:nth-child(4) {
                .account-form__table-flexColumn {
                    .account-form__table-mobTh {
                        display: inline-block;
                        margin-right: 21px;
                    }

                    span {

                        &:last-child {
                            padding-left: 20px;
                        }
                    }
                }
            }

            .account-form__table--dealerOrders>tbody>tr>td:nth-child(5) {
                .account-form__table-flexColumn {
                    .account-form__table-mobTh {
                        display: inline-block;
                        margin-right: 21px;
                    }

                    span {

                        &:last-child {
                            padding-left: 20px;
                        }
                    }
                }
            }

            .account-form__table--dealerOrders>tbody>tr>td:nth-child(3)::before {
                top: 17px;
                left: 84px;
            }

            .account-form__button-wrapper {
                text-align: left;
            }

            .account-form__table-title {
                position: relative;

                &:after {
                    position: absolute;
                    top: 10px;
                    right: 0;
                    width: 17px;
                    height: 8px;
                    content: '';
                    transform: rotate(180deg);
                    background: url(../images/down-arrow.png) 0 0 no-repeat;
                }
            }
        }
    }


    .account-form__table--dealerOrdersComplete.account-form__table--dealerOrders>tbody>tr>td .account-form__table-flexColumn {
        padding-top: 7px;
    }


    .tab--orders .account-form__table--dealerOrders>tbody>tr>td:nth-child(5)::before {
        top: 17px;
        left: 84px;
    }


    .tab--orders .account-form__table--bids > tbody > tr > td:nth-child(4) .account-form__table-flexColumn {
        padding-top: 9px;
    }

    .tab--orders .account-form__table--bids > tbody > tr > td:nth-child(5) .account-form__table-flexColumn {
        align-items: center;
    }

    .tab--orders .account-form__table--bids > tbody > tr > td:nth-child(6) .account-form__table-flexColumn {
        padding-top: 9px;
    }

    .tab--orders .account-form__table--common > tbody > tr > td {
        padding-right: 0!important;
    }

    .tab--orders .account-form__table--common > tbody > tr {
        margin-bottom: 4px;
    }




}


@media screen and (max-width: 570px) {
    .tab {

        &--review {

            .tab__date {
                display: none;
            }

            table {

                td {
                    border-bottom: 0;
                    padding-right: 16px;
                    padding-top: 0;
                    padding-bottom: 0;

                    p {
                        font-size: 12px;
                        line-height: 18px;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    &:last-child {
                        padding-right: 16px;
                        padding-left: 16px;
                        padding-bottom: 26px;
                    }
                }

                td:first-child {
                    padding-left: 16px;
                    width: 100%;
                    margin-bottom: 25px;
                    padding-top: 27px;

                    &>div {

                        &:nth-child(2) {
                            margin-left: 33px;
                        }
                    }
                }

                tr {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid #ccc2b8;

                    &:first-child {
                        display: none;
                    }

                    &:nth-child(2) {
                        td:first-child {
                            padding-top: 0;
                        }
                    }
                }

                td:first-child .tab__review--mob {
                    display: flex;

                    .tab__date {
                        display: inline-block;
                    }
                }
            }
        }

    }
}