/* Tabs
   ========================================================================== */

.tabs {
    display: inline-block;
    padding: 3px;
    padding-bottom: 2px;

    width: auto;
    background-color: #ded9d0;
    font-size: 0;

    li {
        display: inline-block;
        background-color: #009fe3;
        padding-left: 18px;
        padding-right: 18px;
        cursor: pointer;
        .arial();
        white-space: nowrap;
        font-size: 14px;
        line-height: 32px;
        color: #fff;
        margin-right: 1px;
        margin-bottom: 1px;

        &:last-child {
        	margin-right: 0;
        }

        &:not(.active) {

            &:hover {
                background: #0c85b9;

                background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3cb5ea), color-stop(100%, #0c85b9));
                background: -moz-linear-gradient(#3cb5ea, #0c85b9);
                background: -webkit-linear-gradient(#3cb5ea, #0c85b9);
                background: linear-gradient(#3cb5ea, #0c85b9);
            }
        }


        &.active {
            background-color: #a2988d;
        }
    }
}


@media screen and (max-width: 1000px) {
    .tabs {

        li {
            font-size: 12px;
        }
    }
}