/* tooltipster-lime
   ========================================================================== */

.tooltipster-lime {
    max-width: 130px;
    transform: translateX(30px);

    &.tooltipster-sidetip {

        .tooltipster-box {
            border: 0;
            background: #b5d21a;
            border-radius: 0px;
            box-shadow: 0px 0px 5.58px 0.42px rgba(111, 111, 111, 0.68); 
        }

        &.tooltipster-bottom .tooltipster-arrow {
            margin-left: -66px;
        }


        &.tooltipster-bottom .tooltipster-arrow-border {
            border-bottom-color: #b5d21a;
        }

        &.tooltipster-bottom .tooltipster-arrow-background {
            border-bottom-color: #b5d21a;
        }

        &.tooltipster-bottom .tooltipster-arrow {
            height: 11px;
        }

        &.tooltipster-top .tooltipster-arrow {
            margin-left: -66px;
        }


        &.tooltipster-top .tooltipster-arrow-border {
            border-top-color: #b5d21a;
        }

        &.tooltipster-top .tooltipster-arrow-background {
            border-top-color: #b5d21a;
        }

        &.tooltipster-top .tooltipster-arrow {
            height: 11px;
        }

        .tooltipster-content {
            color: #fff;
            .arial();
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            padding-top: 7px;
            padding-bottom: 6px;
            padding-left: 7px;
            padding-right: 20px;
        }
    }
}