/* View switcher
   ========================================================================== */

.view-switcher {
	position: absolute;
	top: -91px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: 98px;

	&__text {
		font-size: 13px;
		line-height: 18px;
		.arial();
		color: #4c4c4c;
	}

	&__buttons {
		display: flex;
		width: 69px;
		justify-content: space-between;
		margin-left: 10px;
	}

	&__button {
		display: block;
		width: 32px;
		height: 32px;

		&--grid {
			background: url(../images/thumb-grid-active.png) 0 0 no-repeat;
		}

		&--list {
			background: url(../images/thumb-list.png) 0 0 no-repeat;
		}
	}
}


@media screen and (max-width: 750px) {
	.view-switcher {
		display: none;
	}
} 