p.error___p {
	color:red!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}

p.error___p.modal_error___p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 19px;
	margin-top: 10px;
	margin-bottom: 10px;
}



.account-form__tab, .account-form__tab--link {
	height: 34px;
}


p.no___count {
	font-style:italic;
}

.success___p {
	color: green!important;
}

input.is___error, textarea.is___error {
	border: 1px solid red!important;
}
.selectDropdown.is___error {
	border: 1px solid red!important;
}

.is___process {
	opacity: 0.9!important;
}


.null___view {
	width: 0!important;
	height: 0!important;
	margin: 0!important;
	padding: 0!important;
	opacity: 0!important;
	visibility: hidden!important;
}


/* Запрет выделения */
.some___class {
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.menuSubsectActive a {
	color: #fff;
	background-color: #06b4e3;
}



.basketOfferItemHidden {
	display:none;
}



.no___sort:after {
	background:none;
}


.sortASC:after {
	background: url(../images/sortASC.png) 0 0 no-repeat!important;
}
.sortDESC:after {
	background: url(../images/sortDESC.png) 0 0 no-repeat!important;
}

.error___td {
	color:#bf0000!important;
	text-align: right!important;
}



.lk___no_count {
	font-family: 'futuralight', 'GillSansLightC';
	font-size: 28px;
	font-weight: 300;
	font-style: normal;
	line-height: 34px;
	margin: 0;
	margin-bottom: 29px;
	text-transform: none;
	color: #484846;
	font-style: italic;
}





.contactPersonsBlock {
	/*border-bottom: 1px solid #cccccc;
	margin-bottom:20px;
	border-top: 1px solid #cccccc;
	padding-top:20px;*/
}


.contactPersonsBlock span.account-form__deleteAddress {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	position: relative;
	display: inline-block;
	margin-bottom: 25px;
	margin-left: 4px;
	padding-left: 20px;
	cursor: pointer;
	color: #009fe3;
}


.contactPersonsBlock .contactPersonItem:not(:first-of-type){
	border-top: 1px solid #cccccc;
	padding-top: 20px;
}






.dealerLKPhotoBlock .error___p{
	margin-top:10px
}




.personalOrderHistoryBlock {
	padding-bottom: 40px;
}



.dealerLKShopItem:not(:first-of-type){
	margin-top: 25px;
}


.dealerLKShopsForm span.account-form__deleteAddress {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	position: relative;
	display: inline-block;
	margin-bottom: 25px;
	margin-left: 4px;
	padding-left: 20px;
	cursor: pointer;
	color: #009fe3;
}




.account-form__table--dealerOrders > tbody > tr > td:nth-child(3):before {
	background: none!important;
}







.trNotSort {
	cursor: default!important;
}
.trNotSort:after {
	background:none!important;
}



.sortTD {
	cursor: pointer!important;
}
.sortTD:after {
	background:none!important;
}

.tdSortASC:after {

	position: absolute!important;
	top: 17px!important;
	left: 85px!important;
	width: 7px!important;
	height: 4px!important;
	content: ''!important;
	background: url(/local/templates/main/images/sortASC.png) 0 0 no-repeat!important;
}
.tdSortDESC:after {
	position: absolute!important;
	top: 17px!important;
	left: 85px!important;
	width: 7px!important;
	height: 4px!important;
	content: ''!important;
	background: url(/local/templates/main/images/sortDESC.png) 0 0 no-repeat!important;
}



.new_delivery_location_block{
	position: relative;
}
.new_delivery_location_button {
	position: absolute;
	top: 0;
	right: 15px;
}


.removeDeliveryLocationButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	cursor: pointer;
	color: #009fe3;
}



.delivFileTable td {
	padding: 8px;
}

.delivInfoLink {
	color:#da0000;
	cursor: pointer;
}

.delivInfoLink.newDeliveryFile {
	color:#0895d4;
}


.modal-city--cities .modal-city__city span.active {
	font-weight: bold;
	color: #b4cd26;
}
.modal-city--cities .modal-city__city span.active:before
{
	display: block;
}

.bx-core-popup-menu {
	z-index: 99999!important;
}

.main-header {
	z-index: 999!important;
}



.dealerAccount-form__rightCol a {
	color:#009fe3;
}





#loadFileWindow h1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 23px;
}

#loadFileWindow p.warning___p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 19px;
}

#loadFileWindow p.success___p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.aoptima_progress_bar_block {
	width: 100%;
	border: 1px solid #cac9c9;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	margin-bottom: 20px;
}

.status___block {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 48px;
	z-index: 100;
	padding-top: 15px;
}

.status___block p.loading___status {
	color: #d0d0d0;
	font-size: 20px;
}

.aoptima_progress_bar {
	position: absolute;
	top:0;
	left:0;
	width: 0%;
	background-color:#3cb5ea;
	height: 48px;
	z-index: 50;
}




.loadCSVForm article, .loadYMLForm article {
	background: #ffffff!important;
}




.fancybox-opened {
	z-index: 999999;
}


.removeDealerPhotoButton {
	margin-right: 0!important;
    top:5px!important;
}


div.noty___block {
	background-color: coral;
}

div.noty___block p {
	margin:0;
	padding: 15px;
	color: white;
	font-weight: bold;
}


.account-form__table--dealerOrders .account-form__table-order td:nth-child(1){
	width: 53%;
}

.account-form__table--dealerOrders .account-form__table-order td:nth-child(2){
	width: 20%;
}

.account-form__table--dealerOrders .account-form__table-order td:nth-child(3){
	width: 27%;
}


.account-form__field .orderDatepicker {
	background: #fff url(../images/datepicker-icon.png) right 4px center no-repeat;
}


.catalogTabs {
	margin-bottom: 21px;
}




.basketDatepicker {
	background: #fff url(../images/datepicker-icon.png) right 4px center no-repeat!important;
}


.dealer__addresses-itemTitle.no___label:before {
	background: none!important;
}

.openDealerModalMapLink {
	color: #016b99;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 500;
	line-height: 25px;
	position: relative;
	cursor: pointer;
	text-decoration: underline;
}

#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	margin-left: 12px;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 400px;
}

#pac-input:focus {
	border-color: #4d90fe;
}


span.basket___warning {
	color:red!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}


.dealerAutoUpdatePricesInput {
	margin: 0 30px;
	padding: 5px;
}

.dealerAccount-prices_auto_update_save___link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;

	cursor: pointer;

	display:none; text-decoration: underline;
	color: #e300a8;
}


@media screen and (max-width: 1000px) {
	div.noty___block p {
		padding: 7px;
		font-size: 14px;
	}

	.dealerLKShopsForm span.account-form__deleteAddress
	{
		padding-left:0;
	}
}

@media screen and (max-width: 570px) {
	div.noty___block p {
		padding: 4px;
		font-size: 10px;
	}
}

.underOrderButton {
	background-color: #96b4d8
}
.basketArea .underOrderButton {
	background-color: #009fe3
}


textarea.dealerLKComment {
	width: 100%;
	height: 170px;
	resize: none;
}







input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
	color: #bbb4ad;
}

input::-moz-placeholder,
textarea::-moz-placeholder
{
	color: #bbb4ad;
}

input:-moz-placeholder,
textarea:-moz-placeholder
{
	color: #bbb4ad;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder
{
	color: #bbb4ad;
}



select.modalSelect {
	padding: 5px;
	color: #807366;
	border: 1px solid #cec2b6;
}

.cart-form__title.error
{
	color:red;
}
.cart-loc_error
{
	font-size: 14px;
	margin-bottom: 10px;
	color: red;
}
.cart-loc_error a
{
	font-size: 14px;
	color: red;
	text-decoration: underline;
}





.saveFilterPage {
	float: right;
}

.deleteFilterPage {
	float: left;
	background-color: #a5a5a5;
}



.modal-review__input {
	width: 100%;
	margin-bottom: 18px;
	padding: 10px;

	border: 1px solid #ccc2b8;
}

.account-form__tab a
{
	padding-left:8px;
	padding-right:8px;
}




div.seo_text {
	width:100%;
	padding: 30px;
}

.quickOrderForm .cart-offer__table-dealerName, .basketArea .cart-offer__table-dealerName
{
	color: #484846;
	padding-left:0;
}
.quickOrderForm .cart-offer__table-dealerName:hover, .basketArea .cart-offer__table-dealerName:hover
{
	color: #484846;
}
.quickOrderForm .cart-offer__table-dealerName:before, .basketArea .cart-offer__table-dealerName:before
{
	background: none;
}
.quickOrderForm .cart-offer__table-dealerName:hover:before, .basketArea .cart-offer__table-dealerName:hover:before
{
	background: none;
}

.free_deliv
{
	color:#33a916;
}

.cookie_message {
	z-index: 99999;
	bottom: 0;
	top: auto;
}

.check-fast-order-features
{
	position: relative;
	margin-bottom: 18px;
}
.check-fast-order-features:before
{
	position: absolute;
	top: 0;
	left: -5px;

	width: 14px;
	height: 15px;

	content: '';

	background: url(../images/check-icon-brown.png) 0 0 no-repeat;
}

#stock_order_edit_form input.warning {
	color: #ed1c24;
	border-color: #ed1c24;
	background-color: #ffecec;
}


.city_landing_text {
	margin: 0 auto;
	width: 80%;
	padding: 50px 20px 20px 20px;
}

.city_landing_products {
	margin: 0 auto;
    padding: 50px 20px 20px 20px;
	width: 80%;
}

.tab--orders .account-form__table--bids > tbody > tr:nth-child(odd) td:nth-child(8) {
	background-color: #f1efeb;
}
.tab--orders .account-form__table--bids > tbody > tr > td:nth-child(8) {
	width: 189px;
	padding-right: 9px;
	padding-left: 0;
}

.dealerActiveOrdersForm th
{
	position:relative;
}
.dealerActiveOrdersForm .tdSortDESC:after, .dealerActiveOrdersForm .tdSortASC:after
{
	top: 25px!important;
	left: 50px!important;
}
/**/
.dz-0001 {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
align-items: center;
}
span.s-p0 {
	margin: 0px;
	cursor: pointer;
	border: 0;
	outline: 0;
	margin-bottom: 0px;
	width: 48px;
	display: none;
}
.s-p1 {
	left: 0;
	background-image: url(/local/templates/main/images/minus.png);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: 10px 2px;
	background-size: 10px 2px;
	top: 0;
	width: 32px;
	height: 32px;
	background-color: #009fe3;
	content: '';
}
.s-p2 {
	left: 0;
	background-image: url(/local/templates/main/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
	top: 0;
	width: 32px;
	height: 32px;
	background-color: #009fe3;
	content: '';
}