/* Account form
   ========================================================================== */

.account-form {
    background: #fff;
    font-size: 0;

    &--order {
        background: #e6e2dc;
    }

    .tab {
        background: #e6e2dc;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 18px;
        padding-bottom: 0px;

    }


    .tab__title {
        margin-bottom: 15px;
        padding-left: 14px;
        padding-right: 14px;
    }

    &__title {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0;
        padding-top: 18px;
        padding-left: 14px;
        margin-bottom: 10px;
    }

    .selectDropdown ul {
        display: none;
    }

    &__preference {

        overflow-x: hidden;

        .tab__title {
            padding-left: 0;
            padding-right: 0;
        }

        .account-form__wrapperMinusMargin>.account-form__field {

            &:last-child {
                margin-bottom: 0;
            }
        }

        .account-form__wrapperMinusMargin {

            border-bottom: 0;

            &:first-child {
                border-bottom: 1px solid #ccc2b8;
            }
        }

        .account-form__wrapperMinusMargin--lightBcg {
            display: none;
        }
    }

    &__address {

        overflow-x: hidden;

        .account-form__wrapperMinusMargin>.account-form__field {

            &:last-child {
                margin-bottom: 0;
            }
        }

        .account-form__wrapperMinusMargin {
            border-bottom: 1px solid #ccc2b8;

            &:last-child {
                border-bottom: 0;
            }
        }

    }

    &__table {
        width: 100%;

        &-title {
            .gillSansLight();
            margin-top: 0;
            font-size: 22px;
            line-height: 35px;
            margin-bottom: 0px;
        }

        &-statusField {
            position: relative;
        }

        &-flexColumn {
            display: flex;
            flex-direction: column;
        }

        &-dateOfDelivery {
            display: block;
            margin-top: 7px;
        }

        &-link {
            .arial();
            font-size: 15px;
            font-weight: 500;
            line-height: 16px;
            position: relative;
            padding-left: 10px;
            color: #1d9ed8;
            display: inline-block;
            margin-top: 7px;

            &:before {
                position: absolute;
                top: 2px;
                left: 0;
                width: 5px;
                height: 10px;
                content: '';
                background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
            }

            &:hover {
                color: #016b99;

                &:before {
                    background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                }
            }
        }


        &-order {

            &-total {
                padding-left: 40px;
                padding-right: 133px;
                padding-top: 18px;
                padding-bottom: 10px;

                .cart-form__infoColumn {

                    margin-right: 43px;

                    &-sum {
                        margin-left: auto;
                        margin-bottom: 14px;

                        &>span {

                            color: #818085;
                            font-size: 13px;
                            .arial();
                            line-height: 18px;

                            &:last-child {
                                color: #484846;
                                font-size: 15px;
                                .arial();
                                line-height: 18px;
                                font-weight: bold;
                                display: inline-block;
                                margin-left: 14px;
                            }
                        }
                    }

                    &-title {
                        color: #4c4c4c;
                        .arial();
                        font-size: 14px;
                        line-height: 19px;
                    }

                    &-text {
                        color: #807366;
                        .arial();
                        font-size: 14px;
                        line-height: 19px;
                    }

                    &:first-child {
                        .cart-form__infoColumn-title {
                            position: relative;

                            &:before {
                                position: absolute;
                                top: 1px;
                                left: -19px;
                                width: 14px;
                                height: 15px;
                                content: '';
                                background: url(../images/check-icon-transparent.png) 0 0 no-repeat;
                            }
                        }
                    }
                }
            }

            &-btns {
                margin-bottom: 25px;
                margin-left: 21px;
            }

            &-btn {
                .arial();
                display: inline-block;
                padding-left: 15px;
                padding-right: 15px;
                font-weight: 500;
                font-size: 14px;
                line-height: 34px;
                outline: 0;
                color: #fff;
                background-color: #009fe3;
                text-decoration: none;
                text-align: center;
                cursor: pointer;
                border: 0;
                white-space: nowrap;
                transition: background-color 0.1s;

                &:hover {
                    background-color: #016b99;
                }

                &--hide {
                    margin-right: 19px;
                }

                &--review {
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                }
            }
        }


        &-orderWrapper {
            display: flex;
            align-items: center;

            img {
                width: 50px;
                margin-right: 15px;
            }
        }

        &-orderName {
            width: 526px;
        }

        &-deleteItemBtn {
            display: inline-block;
            width: 22px;
            height: 22px;
            margin-right: 17px;
            background: url(../images/cart-del-icon.png) 0 0 no-repeat;
        }



        th {
            .arial();
            color: #818085;
            font-size: 13px;
            line-height: 18px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: 1px solid #ccc2b8;
            border-bottom: 1px solid #ccc2b8;
            text-align: left;
            padding-right: 5px;

            &:first-child {
                padding-left: 21px;
                width: 192px;
            }

            &:last-child {
                width: 189px;
            }

            &:nth-child(2) {
                width: 103px;
            }

            &:nth-child(3) {
                width: 112px;
            }

            &:nth-child(4) {
                width: 140px;
            }

            &:nth-child(5) {
                width: 158px;
            }
        }

        td {
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #ccc2b8;
            vertical-align: bottom;



            span {
                .arial();
                font-size: 15px;
                line-height: 18px;
                color: #484846;

                &.account-form__table-goodsQuantity {
                    cursor: pointer;
                    font-size: 15px;
                    line-height: 16px;
                    .arial();
                    color: #1d9ed8;
                    display: inline-block;
                    margin-top: 7px;

                    &:hover {
                        color: #016b99;
                    }
                }

                &.account-form__table-mobTh {
                    display: none;
                    .arial();
                    color: #818085;
                    font-size: 13px;
                    line-height: 18px;
                    margin-bottom: 0 !important;
                }
            }

            &:first-child {
                padding-left: 21px;

            }

            &:last-child {
                max-width: 189px;
            }

            &:nth-child(5) {
                max-width: 158px;
            }
        }

        tr {

            &.account-form__table-orderInner {
                display: none;


                >td {
                    padding: 0 !important;
                    background-color: #f1efeb;
                    position: relative;
                    width: 100%;
                }

                table {
                    width: 100%;
                    margin-top: 19px;
                    margin-bottom: 13px;

                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        left: 36px;
                        top: -25px;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 6px solid #f1efeb;
                    }


                    td {
                        vertical-align: middle;
                        padding-top: 0;
                        padding-bottom: 8px;
                        border-bottom: 0;
                    }

                    a {
                        font-size: 13px;
                        line-height: 16px;
                        .arial();
                        color: #1d9ed8;
                        display: inline-block;

                        &:hover {
                            color: #016b99;
                        }

                        &.account-form__table-order-btn {
                            .arial();
                            display: inline-block;
                            width: 98px;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 34px;
                            outline: 0;
                            color: #fff;
                            background-color: #009fe3;
                            text-decoration: none;
                            text-align: center;
                            cursor: pointer;
                            border: 0;
                            white-space: nowrap;
                            transition: background-color 0.1s;

                            &:hover {
                                background-color: #016b99;
                            }
                        }
                    }
                }
            }

            &.account-form__table-delivered {

                td {
                    padding-bottom: 90px;
                }
            }

            &:last-child {
                td {
                    border-bottom: 0;
                }
            }

            &:nth-last-child(2) {
                td {
                    border-bottom: 0 !important;
                }
            }
        }

        &--dealerOrders {


            &Complete {

                &.account-form__table--dealerOrders>tbody>tr>td .account-form__table-flexColumn {
                    padding-top: 0;
                }

                &.account-form__table--dealerOrders>tbody>tr>td:nth-child(3):before {
                    top: 16px;
                }

                &.account-form__table--dealerOrders>tbody>tr>td:nth-child(5) {
                    padding-left: 22px;
                    position: relative;
                }

                &.account-form__table--dealerOrders>tbody>tr>td:nth-child(5):before {
                    position: absolute;
                    left: 0;
                    width: 14px;
                    height: 15px;
                    content: '';
                    background: url(../images/check-icon-transparent.png) 0 0 no-repeat;
                    top: 16px;
                }
            }

            td {
                border-bottom: 0 !important;
            }

            .account-form__table-order {

                &Name {
                    width: auto;
                }

                td {
                    &:nth-child(1) {
                        width: 53%;
                    }

                    &:nth-child(2) {
                        width: 47%;

                        &>div {

                            &>span {
                                &:first-child {
                                    display: inline-block;
                                    margin-right: 60px;
                                }
                            }
                        }
                    }
                }
            }




            &>tbody {


                &>tr {

                    &:nth-child(2) {

                        td {
                            padding-bottom: 0px;
                        }
                    }

                    &>td {
                        border-bottom: 0;
                        padding-top: 15px;
                        padding-bottom: 17px;
                        vertical-align: top;

                        .account-form__table-flexColumn {
                            padding-top: 7px;
                        }

                        &:nth-child(1) {
                            .account-form__table-flexColumn {
                                padding-top: 0px;
                            }
                        }


                        &:first-child {
                            padding-left: 21px;
                            width: 112px;
                            padding-right: 15px;

                        }


                        &:nth-child(2) {
                            width: 317px;
                            padding-right: 25px;

                        }

                        &:nth-child(3) {
                            width: 115px;
                            cursor: auto;
                            padding-left: 18px;
                            padding-right: 10px;

                        }

                        &:nth-child(4) {
                            width: 117px;
                            padding-right: 10px;

                        }

                        &:nth-child(5) {
                            width: 200px;

                        }


                        &:nth-child(3) {
                            padding-left: 18px;
                            position: relative;


                            &:before {
                                position: absolute;
                                content: '';
                                width: 14px;
                                height: 15px;
                                background: url(../images/check-icon-transparent.png) 0 0 no-repeat;
                                left: 0;
                                top: 22px;

                            }

                            &.account-form__table-postpay {
                                position: relative;

                                &:before {
                                    position: absolute;
                                    content: '';
                                    width: 11px;
                                    height: 11px;
                                    background: url(../images/red-cross.png) 0 0 no-repeat;
                                    left: 0;
                                    top: 24px;

                                }
                            }
                        }

                        &:nth-child(5) {
                            padding-right: 18px;

                            .account-form__table-flexColumn {
                                padding-top: 0px;
                            }

                        }

                        dl {
                            margin: 0;
                        }
                    }
                }

                th {
                    cursor: pointer;
                    position: relative;

                    &:after {
                        position: absolute;
                        top: 15px;
                        left: 0px;
                        width: 7px;
                        height: 9px;
                        content: '';
                        background: url(../images/sorting-icon.png) 0 0 no-repeat;
                    }



                    &:first-child {
                        padding-left: 21px;
                        width: 112px;
                        padding-right: 15px;

                        &:after {
                            position: absolute;
                            top: 17px;
                            left: 85px;
                            width: 7px;
                            height: 4px;
                            content: '';
                            background: url(../images/sorting-arrow.png) 0 0 no-repeat;
                        }

                    }


                    &:nth-child(2) {
                        width: 317px;
                        padding-right: 25px;

                        &:after {
                            left: 45px;
                        }
                    }

                    &:nth-child(3) {
                        width: 115px;
                        cursor: auto;
                        padding-left: 18px;
                        padding-right: 10px;

                        &:after {
                            display: none;
                        }
                    }

                    &:nth-child(4) {
                        width: 117px;
                        padding-right: 10px;

                        &:after {
                            left: 37px;
                        }
                    }

                    &:nth-child(5) {
                        width: 200px;

                        &:after {
                            left: 48px;
                        }
                    }

                }

            }



        }
    }

    &__fields {
        display: flex;
        flex-wrap: wrap;
    }


    &__addAddress {
        display: block;
        margin-bottom: 20px;

        span {
            color: #009fe3;
            .arial();
            font-size: 14px;
            line-height: 20px;
            cursor: pointer;
        }

    }

    span {

        &.account-form__listTitle {
            display: inline-block;
            margin-bottom: 17px;
        }



        &.account-form__deleteAddress {
            .arial();
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            margin-left: 4px;
            padding-left: 20px;
            cursor: pointer;
            color: #009fe3;

            &:before {
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                left: 0;
                top: 6px;
                background: url(../images/small-blue-cross.png) 0 0 no-repeat;
            }
        }

        &.account-form__selectAll {
            .arial();
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            margin-left: 4px;
            padding-left: 20px;
            cursor: pointer;
            color: #009fe3;

            &:before {
                position: absolute;
                content: '';
                width: 14px;
                height: 9px;
                left: 0;
                top: 8px;
                background: url(../images/selectall-icon.png) 0 0 no-repeat;
            }
        }

        &.account-form__cancelAll {
            .arial();
            font-size: 14px;
            font-weight: 500;
            line-height: 25px;
            position: relative;
            display: inline-block;
            margin-bottom: 25px;
            margin-left: 27px;
            padding-left: 20px;
            cursor: pointer;
            color: #009fe3;

            &:before {
                position: absolute;
                content: '';
                width: 12px;
                height: 12px;
                left: 0;
                top: 7px;
                background: url(../images/small-blue-cross.png) 0 0 no-repeat;
            }
        }
    }

    &__hideBlock {
        display: none;
    }

    &__moreBtn {
        .arial();
        font-size: 13px;
        line-height: 16px;
        color: #1d9ed8;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 10px;
        position: relative;


        &:before {
            position: absolute;
            content: '';
            width: 5px;
            height: 10px;
            background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
            left: 0px;
            top: 3px;
        }

        &:hover {

            color: #016b99;

            &:before {
                background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
            }
        }
    }



    &__telCode {
        display: flex;
        justify-content: space-between;

        &-btn {
            .arial();
            font-size: 14px;
            line-height: 33px;
            display: inline-block;
            width: 212px;
            padding: 0;
            cursor: pointer;
            transition: background-color .1s;
            text-align: center;
            white-space: nowrap;
            text-decoration: none;
            color: #fff;
            border: 0;
            outline: 0;
            background-color: #009fe3;

            &:hover,
            &:focus,
            &:active {
                background-color: #016b99;
                padding: 0;
                border: 0;
            }
        }
    }

    &__regBtn {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .account-form__button {
            margin-right: 44px;
        }
    }

    &__note {
        color: #807366;
        .arial();
        font-size: 12px;
        line-height: 19px;
        margin: 0;
    }

    &__field {
        width: 197px;
        display: inline-flex;
        flex-direction: column;
        margin-right: 26px;
        margin-bottom: 22px;

        .datepicker {
            background: #fff url(../images/datepicker-icon.png) right 4px center no-repeat;
        }

        &--wa {
            width: auto;
        }

        &--w85 {
            width: 85px;
        }

        &--w100 {
            width: 100%;
        }

        &--w318 {
            width: 318px;
        }

        &--w384 {
            width: 384px;
        }

        &--mr246 {
            margin-right: 246px;
        }

        &--mr0 {
            margin-right: 0;

            .account-form__checkbox {
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--w416 {
            width: 416px;
        }

        &--w432 {
            width: 432px;

            input {
                width: 197px !important;
            }
        }

        &--w760 {
            width: 760px;
        }

        &--noMB {
            margin-bottom: 0;
        }

        span {
            margin-bottom: 10px;
            .arial();
            font-size: 14px;
            line-height: 19px;

            &.account-form__label {
                margin-bottom: 4px;
            }

            &.account-form__sublabel {
                color: #807366;
                margin-bottom: 10px;
                .arial();
                font-size: 12px;
                line-height: 14px;
            }
        }

        input {
            .arial();
            font-size: 12px;
            line-height: 19px;
            width: 100%;
            padding-left: 7px;
            padding-right: 7px;
            width: 100%;
            height: 33px;
            background: #fff;
            border: 1px solid #cec2b6;
            outline: 0;
            color: #807366;

            &.account-form__suggestInput {
                padding-left: 40px;
                position: relative;
                background: #fff url(../images/suggest-input-bcg.png) 0 0 no-repeat;

            }



        }

        textarea {
            .arial();
            font-size: 12px;
            line-height: 19px;
            width: 100%;
            padding: 9px;
            width: 100%;
            min-height: 129px;
            background: #fff;
            border: 1px solid #cec2b6;
            outline: 0;
            color: #807366;
        }

        label a {
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }
    }

    &__textarea-counter {
        .arial();
        font-size: 12px;
        line-height: 19px;
        margin-bottom: 17px;

        span {
            .arial();
            font-size: 12px;
            line-height: 19px;

        }
    }

    &__block {
        border-bottom: 1px solid #ccc2b8;

        .account-form__wrapperMinusMargin {
            padding-bottom: 20px;
        }

        &:last-child {
            border-bottom: 0;

            .account-form__wrapperMinusMargin {
                padding-bottom: 40px;
            }
        }
    }




    &__flexColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__checkboxes {
        display: flex;
        height: 33px;
        align-items: center;

        &--pl210 {
            padding-left: 210px;
        }
    }

    &__checkbox {
        margin-right: 16px;
        position: relative;

        &--vertical {
            margin-right: 0;
            margin-bottom: 16px;
        }

        &-paymentMethods {
            position: absolute;
            left: 29px;
            top: 30px;
            display: flex;
            align-items: center;

            img {
                margin-right: 11px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--mr35 {
            margin-right: 35px;

            label {
                padding-left: 25px;
            }
        }

        &--w228 {
            width: 228px;
            margin-right: 0;
            padding-right: 10px;
        }


        &--w210 {
            width: 210px;
            margin-right: 0;
            padding-right: 10px;
        }

        input[type="radio"] {
            width: auto;
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 7px;
        }

        label {
            .arial();
            font-size: 14px;
            line-height: 19px;
            color: #4c4c4c;
            white-space: nowrap;
        }

        input[type="radio"]+label {
            position: relative;
            padding: 0 0 0 30px;
            cursor: pointer;

        }

        input[type="radio"]+label:before {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            background: url(../images/sprite-input.png) 0px 0% no-repeat;
        }

        input[type="radio"]+label:after {
            opacity: 0;
            transition: .2s;
            outline: 0;


            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            background: url(../images/sprite-input.png) -31px 0% no-repeat;
        }

        input[type="radio"]:checked+label:after {
            opacity: 1;
        }

        input[type="checkbox"] {
            width: auto;
            position: absolute;
            z-index: -1;
            opacity: 0;
            margin: 10px 0 0 7px;
        }

        label {
            .arial();
            font-size: 14px;
            line-height: 16px;
            color: #4c4c4c;
        }

        input[type="checkbox"]+label {
            position: relative;
            padding-left: 29px;
            cursor: pointer;

        }

        input[type="checkbox"]+label:before {
            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            background: url(../images/sprite-input.png) 0px -30px no-repeat;
        }

        input[type="checkbox"]+label:after {
            opacity: 0;
            transition: .2s;
            outline: 0;


            content: '';
            position: absolute;
            top: -4px;
            left: 0;
            outline: 0;
            width: 24px;
            height: 24px;
            background: url(../images/sprite-input.png) -30px -30px no-repeat;
        }

        input[type="checkbox"]:checked+label:after {
            opacity: 1;
        }



    }

    &__tab {
        display: inline-block;
        background-color: #009fe3;

        cursor: pointer;
        .arial();
        white-space: nowrap;
        font-size: 12px;
        line-height: 34px;
        color: #fff;
        margin-right: 1px;
        margin-bottom: 1px;

        &--link {
            display: inline-block;
            background-color: #009fe3;

            cursor: pointer;
            .arial();
            white-space: nowrap;
            font-size: 12px;
            line-height: 34px;
            color: #fff;
            margin-right: 1px;
            margin-bottom: 1px;

            a {
                color: #fff;
                font-size: 12px;
                padding-left: 15px;
                padding-right: 15px;
                height: 100%;
                display: inline-block;

            }
        }

        a {
            color: #fff;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;
            height: 100%;
            display: inline-block;

        }

        &:last-child {
            margin-right: 0;
        }

        &:not(.active) {

            &:hover {
                background: #0c85b9;

                background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3cb5ea), color-stop(100%, #0c85b9));
                background: -moz-linear-gradient(#3cb5ea, #0c85b9);
                background: -webkit-linear-gradient(#3cb5ea, #0c85b9);
                background: linear-gradient(#3cb5ea, #0c85b9);
            }
        }


        &.active {
            background-color: #a2988d;
        }
    }

    &__tabs {

        .dropdown {
            margin: 0;

            dd {
                margin: 0;
            }

            ul {
                font-size: 0;
            }
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        &--mb36 {
            margin-bottom: 36px;
        }

        &--top {
            align-items: flex-start;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &MinusMargin {
            margin-right: -26px;
            padding-left: 14px;
            padding-right: 14px;
            padding-top: 35px;
            padding-bottom: 40px;

            &:first-of-type {
                padding-top: 0;
            }

            &--lightBcg {
                background-color: #f1efeb;
            }
        }
    }

    &__listTitle {
        font-size: 15px;
        .arial();
        line-height: 18px;
    }

    &__button {
        .arial();
        display: inline-block;
        padding-left: 18px;
        padding-right: 17px;
        font-weight: 500;
        font-size: 14px;
        line-height: 34px;
        outline: 0;
        color: #fff;
        background-color: #009fe3;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 0;
        white-space: nowrap;
        transition: background-color 0.1s;

        &:hover {
            background-color: #016b99;
        }

        &-wrapper {
            padding-left: 18px;
            padding-right: 18px;
            padding-top: 10px;
            padding-bottom: 30px;
            text-align: right;
        }
    }



    &__select {
        width: 100%;
        position: relative;
        height: 33px;
        color: #807366;
        background: #fff;
        border: 1px solid #cec2b6;
        border-radius: 0;


        &:after {
            position: absolute;
            content: '';
            width: 15px;
            height: 9px;
            top: 12px;
            right: 11px;
            background: url(../images/select-arrow.png) 0 0 no-repeat;
        }

        &>select {
            .arial();
            font-size: 13px;
            line-height: 18px;
            padding-left: 7px;
            width: 100%;
            height: 33px;
            background: transparent;
            border: 0;
            outline: 0;
            color: #807366;
            appearance: none;
            z-index: 1;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &>select::-ms-expand {
            display: none;
        }
    }

    form {
        font-size: 0;
    }
}


@media screen and (max-width: 1000px) {
    .account-form {

        &__wrapperMinusMargin {
            margin-right: 0;
        }

        &__field {

            width: 100%;
            margin-right: 0;

            &--w432 {
                width: 100%;

                input {
                    width: 100% !important;
                }
            }

            &--w416 {
                .account-form__checkboxes {
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }

                .account-form__checkbox {
                    margin-right: 0;
                    margin-bottom: 22px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &--wa {
                .account-form__checkboxes {
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }

                .account-form__checkbox {
                    margin-right: 0;
                    margin-bottom: 22px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &--w100 {
                .account-form__checkboxes {

                    &--pl210 {
                        flex-direction: column;
                        align-items: flex-start;
                        height: auto;
                        padding-left: 0;

                        .account-form__checkbox {
                            margin-right: 0;
                            margin-bottom: 22px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            &--w760 {
                .account-form__checkboxes {
                    flex-direction: column;
                    align-items: flex-start;
                    height: auto;
                }

                .account-form__checkbox {
                    margin-right: 0;
                    margin-bottom: 22px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &__checkbox {
            label {
                white-space: normal;
            }

            &-paymentMethods {
                position: static;
                margin-top: 10px;
            }
        }



        &__regBtn {
            margin-top: 0;
            flex-direction: column;
            align-items: flex-start;

            .account-form__button {
                margin-right: 0;
                margin-bottom: 17px;
            }
        }



        &__telCode {

            flex-direction: column;

            input {
                margin-bottom: 20px;
            }
        }

        &__preference {
            .account-form__checkboxes {
                flex-direction: column;
                height: auto;
                align-items: flex-start;

                .account-form__checkbox--w228 {
                        width: auto;
                        margin-right: 0;
                        margin-bottom: 22px;
                }
            }

            .account-form__wrapperMinusMargin--delivery {
                padding-top: 0;
                padding-bottom: 0;
                margin-top: -30px;
            }
        }

        &__table {

            &-order-total {
                padding-left: 34px;
                padding-right: 15px;
            }

            &-order-total .cart-form__infoColumn-sum {
                margin-left: 0;
            }

            .account-form__table-delivered {
                position: relative;
                padding-bottom: 100px;
            }

            .account-form__table-flexColumn {
                    flex-direction: row;
                    align-items: center;

                    .account-form__table-mobTh {
                        display: inline-block;
                    }

                    .styledSelect {
                        width: 213px;
                    }

                    .account-form__table-goodsQuantity {
                        margin-top: 0;
                    }

                    .account-form__table-link {
                        margin-top: 0;
                    }

                    &>span {
                        &:first-child {
                            width: 85px;
                            max-width: 85px;
                            margin-right: 21px;
                        }
                    }

                    &>div {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        .account-form__table-link {
                            margin-top: 10px;
                        }
                    }
                }

            th {
                    display: none;
                }

                tr {
                    display: flex;
                    flex-direction: column;
                    border-top: 1px solid #ccc2b8;
                    padding-bottom: 20px;
                    padding-top: 20px;

                    &.account-form__table-orderInner {
                        border-top: 0;

                        .account-form__table-order-btns {
                            margin-left: 15px;
                        }

                        tr {
                            border-top: 0;
                        }

                        .account-form__table-orderName {
                            width: auto;
                        }

                        table {
                            margin-bottom: 0;
                        }

                        .account-form__table-orderWrapper {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;

                            &>span {
                                margin-left: 65px;
                            }
                        }
                    }

                    &:last-child {
                        border-bottom: 0;
                    }


                    &>td {

                        max-width: 100% !important;
                        width: 100% !important;
                        padding-left: 15px !important;
                        padding-right: 15px !important;
                        padding-top: 7px !important;
                        padding-bottom: 7px !important;
                        border-bottom: 0!important;

                    }
                }

            &--dealerOrders {

                

                th {
                    display: none;
                }

                tr {
                    display: flex;
                    flex-direction: column;


                    &>td {

                        max-width: 100% !important;
                        width: 100% !important;
                        padding-left: 15px !important;
                        padding-right: 15px !important;
                        padding-top: 7px !important;
                        padding-bottom: 7px !important;

                    }
                }

                .account-form__table-flexColumn {

                    &>span {
                        &:first-child {
                            width: auto;
                            max-width: 100%;
                            margin-right: 21px;
                        }
                    }

                    &>div {
                        display: block;
                    }

                    .account-form__table-mobTh {
                        display: inline-block;
                    }

                    .styledSelect {
                        width: 213px;
                    }
                }


            }
        }
    }
}


@media screen and (max-width: 570px) {
    .account-form {

        span {
            &.account-form__selectAll {
                margin-left: 0;
                margin-right: 50px;
                margin-bottom: 0px;
            }

            &.account-form__cancelAll {
                margin-left: 0;
            }
        }

        &__table {

            &--dealerOrders {
                tr.account-form__table-orderInner .account-form__table-orderWrapper {
                    flex-direction: row;
                    align-items: center;
                }

                .account-form__table-orderName {
                    display: flex;
                    align-items: center;
                }

                .account-form__table-order-total {
                    padding-left: 15px;
                    padding-right: 15px;

                    .cart-form__infoColumn  {
                        margin-right: 20px;

                        &:first-child {
                            .cart-form__infoColumn-title {
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}