/* Accordion
   ========================================================================== */



.accordion {
    overflow: hidden;

    &__section {

        border-bottom: 1px solid #ccc2b8;

        &:last-child {
            border-bottom: 0;
        }

        &-title {
            display: block;
            padding-left: 15px;
            padding-right: 75px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #e5e1db;
            position: relative;

            &.active {

                &:before {
                    background: url(../images/arrow-sprite.png) -67px -93px no-repeat;
                }

                &:hover {

                    &:before {
                        background: url(../images/arrow-sprite.png) -67px 0px no-repeat;
                    }
                }
            }

            &:before {
                position: absolute;
                content: '';
                width: 17px;
                height: 8px;
                top: 50%;
                margin-top: -4px;
                right: 17px;
                background: url(../images/arrow-sprite.png) 0 -92px no-repeat;
            }

            &:hover {

                &:before {
                    background: url(../images/arrow-sprite.png) 0 0px no-repeat;
                }
            }

            h3 {
                cursor: pointer;
                margin: 0;
                .gillSansLight();
                color: #009fe3;
                font-size: 19px;
                line-height: 25px;
            }

            &:hover {

                background-color: #0c85b9;
                background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3cb5ea), color-stop(100%, #0c85b9));
                background: -moz-linear-gradient(#3cb5ea, #0c85b9);
                background: -webkit-linear-gradient(#3cb5ea, #0c85b9);
                background: linear-gradient(#3cb5ea, #0c85b9);

                h3 {
                    color: #fff;
                }
            }
        }

        &-content {
            display: none;
            padding-left: 15px;
            padding-right: 75px;
            padding-top: 8px;
            padding-bottom: 20px;
            background: #e5e1db;

            p {
                margin-top: 0;
                .arial();
                font-size: 14px;
                line-height: 19px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .accordion {

        &__section {

            &-title {

                &:hover {
                    background: #e5e1db;

                    h3 {
                        color: #009fe3;
                    }

                    &:before {

                        background: url(../images/arrow-sprite.png) 0 -92px no-repeat;
                    }
                }

                &.active {

                    &:hover {

                        &:before {
                            background: url(../images/arrow-sprite.png) -67px -93px no-repeat;
                        }
                    }
                }

            }
        }
    }
}





@media screen and (max-width: 570px) {
    .accordion {

        &__section {

            &-title {
                padding-left: 18px;
                padding-right: 45px;
                padding-top: 15px;
                padding-bottom: 23px;

                &:before {
                    top: 25px;
                    margin-top: 0;
                }

            }

            &-content {
                padding-top: 15px;
                padding-right: 15px;
                padding-bottom: 25px;

                background-color: #f1efeb;

                p {
                    font-size: 12px;
                    line-height: 18px;
                }
            }
        }
    }
}