/* Banner
   ========================================================================== */

.banner {
    background-color: #fff;

    &__wrapper {
        padding-top: 61px;
        display: flex;

        .wrapper();
    }

    &__image {
        flex-shrink: 0;

        img {
            width: 434px;
            margin-right: 23px;
            margin-bottom: 20px;
        }
    }

    &__link {
        color: #009fe3;
        text-decoration: none;
        display: inline-block;
        background: url(../images/external_linkpfeil.png) 100% center no-repeat;
        padding-right: 15px;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 15px;
        margin-right: 15px;
        font-size: 1.16667em;

        &:hover {
            color: #016b99;
            background: url(../images/external_linkpfeil_hover.png) 100% -3px no-repeat;
            font-weight: normal;
        }
    }

    h4 {
        font-size: 1.375em;
        margin-bottom: 5px;
        margin-top: 0;
        font-family: "futuralight";
        font-style: normal;
        font-weight: normal;
    }

    p {
        margin-bottom: 1em;
        margin-top: 0;
        .arial();
        font-size: .75em;
        line-height: 1.5em;
    }

    ul {
        list-style-type: disc;
        margin: 0 0 20px 15px;
        display: table;
        .arial();
        font-size: .75em;
        line-height: 1.5em;
        position: relative;
        left: 5px;

        li {
            list-style-type: disc;
        }
    }
}


@media screen and (max-width: 1000px) {
    .banner__wrapper {
        flex-direction: column;
    }
}