/* Block with background
   ========================================================================== */

.bcgBlock {
    position: relative;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    &--indexTop {
        height: 511px;

        .bcgBlock__wrapper {
            padding-top: 113px;
        }

        .bcgBlock__title {
            background-color: rgba(255,255,255,0.95);
        }
    }

    &--indexMaterials {
        height: 456px;
    }

    &__wrapper {
        padding-top: 63px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: flex-start;
        align-items: flex-start;
    }


    &__title {
        .subHeader();
        display: inline-block;
        padding-left: 65px;
        padding-right: 24px;
        padding-top: 5px;
        padding-bottom: 6px;
        background-color: #fff;
    }

    &__link {
        .arial();
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        padding-left: 65px;
        padding-right: 26px;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #009fe3;
        position: relative;

        span {
            padding-left: 12px;
            background: url(../images/white-right-arrow.png) left 50% no-repeat;
        }


        &:hover {
            background: #3cb5ea url(../images/slder-link-arrow.png) 163px 13px no-repeat;
            background: url(../images/slder-link-arrow.png) 163px 13px no-repeat, linear-gradient(#3cb5ea, #0c85b9);
        }
    }
}



@media screen and (max-width: 570px) {
    .bcgBlock {

        &--indexTop {
            height: 260px;

            .bcgBlock__wrapper {
                padding-top: 68px;
            }
        }

        &--indexMaterials {
            height: 285px;
        }

        &__title {
            font-size: 20px;
            line-height: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 26px;
            padding-right: 14px;
        }

        &__link {
            padding-left: 26px;
            padding-right: 14px;
        }


    }
}