/* Simple Block
   ========================================================================== */

.block {
    background-color: #fff;

    &--brownBcg {
        background-color: #e6e3de;
    }

    &--top {
    	.block__wrapper {
    		padding-top: 108px;
    	}
    }

    &--map {
        .block__wrapper {
            padding-top: 0px;
            width: 100%;
            padding-bottom: 45px;
        }
    }

    &--account {
        .block__wrapper {
            padding-top: 108px;
            padding-bottom: 27px;
        }

        .block__title {
            margin-bottom: 0;
        }

        .block__textBlock {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }

    &--accountForm {
        .block__wrapper {
            padding-top: 0px;
            padding-bottom: 50px;
        }
    }

    &--cartForm {
        .block__wrapper {
            padding-top: 0px;
            padding-bottom: 0px;
        }
    }

    &--tabs {
        .block__wrapper {
            padding-top: 0px;
        }
    }

    &--video {
        .block__wrapper {
            padding-top: 0px;
        }
    }

    &__wrapper {
    	.wrapper();
    	padding-top: 63px;
    	padding-bottom: 50px;
    }

    &__title {
        .subHeader();
        margin-bottom: 21px;

        &--search {
            margin-bottom: 7px;
        }
    }

    &__text {
    	.arial();
    	margin: 0;
    	margin-bottom: 20px;
    	font-size: 16px;
    	line-height: 18px;

    	&:last-child {
    		margin-bottom: 0;
    	}

    	&Block {
    		margin-bottom: 17px;
    	}

        &--numberFound {
            margin-left: 7px;
        }
    }

    &__link {
    	color: #009fe3;

    	&:hover, &:active, &:focus {
    		color: #016b99;
    	}
    }
}

@media screen and (max-width: 1000px) {
    .block {
        &--accountForm {
            min-height: 250px;
        }
    }
}


@media screen and (max-width: 570px) {
    .block {

    	&--top {

    		.block__wrapper {
    			padding-top: 88px;
    		}
    	}

    	&__wrapper {
    		padding-top: 25px;
    	}

    	&__title {
    		margin-bottom: 8px;

    		&--faq {
    			margin-bottom: 21px;
    		}
    	}
        

        &__text {
        	font-size: 14px;
        	line-height: 19px;

        	&Block {
        		margin-bottom: 28px;
        	}
        }
    }
}