/* Breadcrumbs
   ========================================================================== */

.breadcrumbs {
    display: flex;
    position: absolute;
    right: 0;
    bottom: -24px;
    height: 24px;
    overflow: hidden;
    z-index: 50;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 10px;

    li {
        height: 24px;
        background: #fff;

        a {
            .arial();
            color: #009fe3;
            display: block;
            margin-left: -6px;
            padding: 6px 20px 0 20px;
            font-size: 11px;
            height: 26px;
            background: #fff url(../images/breadcrumb.png) 0% 0 no-repeat;
            text-decoration: none;
        }

        &:last-child {

            a {
                color: #fff;
                background-color: #b8b1a8;
                padding-right: 13px;
            }
        }
    }
}



@media screen and (max-width: 570px) {
    .breadcrumbs {
        display: none;
    }
}