/* cookie msg
   ========================================================================== */



.cookie_message {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9998;
    background: #FFF;
    background: linear-gradient(#ffffff, #e6e6e6);
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px;


    p {
        .arial();
        margin: 0;
        font-size: 12px;
        line-height: 18px;
    }
}


.cookie_message .box_closer {
    background: url("../images/hotspot_closer.png") no-repeat center center;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
}

.cookie_message .cookie_message_content {
    max-width: 1082px;
    margin: 0 auto;
    position: relative;
    padding: 20px 35px 20px 20px;
    box-sizing: content-box;
}

.cookie_message a.link {
    color: #009fe3;
    text-decoration: none;
    background: url(../images/linkpfeil.png) 0 4px no-repeat;
    padding-left: .75em;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;

    &:hover {
        color: #016b99;
        background: url(../images/linkpfeil_hover.png) 0 4px no-repeat;
    }
}


@media screen and (max-width: 500px) {
    .cookie_message p {
        font-size: 10px;
        line-height: 14px;
    }

    .cookie_message a.link {
        background: url(../images/linkpfeil.png) 0 1px no-repeat;


        &:hover {

            background: url(../images/linkpfeil_hover.png) 0 1px no-repeat;
        }
    }
}