/* Dealer
   ========================================================================== */

.dealer {

    &__title {
        font-size: 27px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 26px;

        text-transform: uppercase;
    }

    &__label {
        background-color: #fff;
        margin-top: -20px;
        padding-bottom: 20px;

        &-wrapper {
            padding-left: 50px;
            min-height: 37px;
            display: inline-flex;
            padding-right: 18px;
            margin-left: -10px;

            align-items: center;
            background-color: #ea2626;
            width: auto;
            position: relative;
            background: url(../images/dealer-label-bcg.png) 17px 5px no-repeat;
            background-size: 24px 24px;

            &:after {
                position: absolute;
                width: 11px;
                height: 37px;
                content: '';
                right: -11px;
                top: 0;
                background: url(../images/dealer-label.png) 0 0 no-repeat;
            }

            span {
                .arial();
                font-size: 12px;
                line-height: 16px;
                color: #fff;
            }

        }
    }

    &__review {
        position: relative;
        left: 459px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-rating {
            display: flex;
            flex-direction: column;

            &>span {
                .arial();
                font-size: 14px;
                line-height: 18px;
                color: #009fe3;
                cursor: pointer;
            }
        }

        &-stars {
            margin-bottom: 23px;
            font-size: 0;
        }

        &-star {
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-right: 2px;
            cursor: auto;
            background: url(../images/star-icon-grey.png) 0 0 no-repeat;
            background-size: 100% 100%;

            &:last-child {
                margin-right: 0;
            }

            &--full {
                background: url(../images/full-star-icon.png) 0 0 no-repeat;
            }
        }

    }

    &__top {
        display: flex;
        align-items: flex-start;

        &-column {
            display: flex;
            flex-direction: column;
            margin-right: 50px;
            width: 172px;
        }

        &-telephones {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;


            span {
                .arial();
                font-size: 12px;
                line-height: 21px;
                color: #807366;
            }
        }

        &-web {
            display: flex;
            flex-direction: column;

            a {
                .arial();
                font-size: 12px;
                line-height: 16px;
                color: #1d9ed8;
                margin-top: 0;
                margin-bottom: 4px;
                padding-left: 10px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 10px;
                    background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                    left: 0px;
                    top: 3px;
                }

                &:hover {

                    color: #016b99;

                    &:before {
                        background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                    }
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;

            span {
                .arial();
                font-size: 12px;
                line-height: 21px;
                color: #807366;
            }

            a {
                .arial();
                font-size: 12px;
                line-height: 16px;
                color: #1d9ed8;

                &:hover {

                    color: #016b99;

                }
            }
        }
    }

    &__image {
        width: 147px;
        height: 147px;
        border: 1px solid #e6e1db;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 40px;

        img {
            max-width: 100%;
        }
    }

    &__map {
        width: 100%;
        height: 300px;
    }

    &__pay {

        &-item {
            min-height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 15px;
            padding-right: 58px;
            border-bottom: 1px solid #ccc2b8;

            &:last-child {
                border-bottom: 0;
            }

            div {

                &:nth-child(1) {
                    display: flex;
                    align-items: center;

                    span {
                        .arial();
                        font-size: 14px;
                        line-height: 19px;
                        color: #4c4c4c;

                        &:nth-child(1) {
                            width: 215px;
                        }

                        &:nth-child(2) {
                            width: 160px;
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            position: relative;
                            padding-left: 22px;

                            &:before {
                                position: absolute;
                                top: 1px;
                                left: 0;
                                width: 14px;
                                height: 15px;
                                content: '';
                                background: url(../images/check-icon-transparent.png) 0 0 no-repeat;
                            }
                        }
                    }
                }

                &:nth-child(2) {
                	display: flex;
                    align-items: center;

                    img {

                    	&:nth-child(1) {
                    		display: inline-block;
                    		margin-right: 17px;
                    	}
                    }
                }
            }
        }

    
    }

    &__addresses {

        &-title {
            font-size: 22px;
            line-height: 35px;
            color: #484846;
            margin-top: 0;
            padding-top: 22px;
            padding-left: 15px;

            margin-bottom: 12px;
        }

        &-item {
            padding-left: 86px;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 56px;
            border-bottom: 1px solid #ccc2b8;

            &:last-child {
                padding-bottom: 25px;
                border-bottom: 0;
            }

            &Title {
                font-size: 22px;
                line-height: 35px;
                color: #484846;
                margin-top: 0;
                text-transform: uppercase;
                margin-bottom: 12px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 45px;
                    height: 37px;
                    left: -72px;
                    top: -3px;
                    background: url(../images/dealer-address-title-icon.png) 0 0 no-repeat;
                }
            }
        }

        &-stars {
            margin-bottom: 16px;
            font-size: 0;
        }

        &-star {
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-right: 2px;
            cursor: auto;
            background: url(../images/star-icon-white.png) 0 0 no-repeat;
            background-size: 100% 100%;

            &:last-child {
                margin-right: 0;
            }

            &--full {
                background: url(../images/full-star-icon.png) 0 0 no-repeat;
            }
        }

        &-row {
            display: flex;
            justify-content: space-between;
        }

        &-column {
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            width: 250px;

            // &:nth-child(2) {
            //     margin-left: auto;
            //     margin-right: 65px;
            // }

            &:last-child {
                padding-right: 0;
            }

            span {
                .arial();
                font-size: 12px;
                line-height: 21px;
                color: #807366;
            }

            a {
                .arial();
                font-size: 12px;
                line-height: 16px;
                color: #1d9ed8;
                margin-top: 0;
                margin-bottom: 4px;
                padding-left: 10px;
                position: relative;

                &:before {
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 10px;
                    background: url(../images/blue-right-arrow.png) 0 0 no-repeat;
                    left: 0px;
                    top: 3px;
                }

                &:hover {

                    color: #016b99;

                    &:before {
                        background: url(../images/blue-right-arrow-hover.png) 0 0 no-repeat;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .dealer {
        &__top {
            flex-direction: column;

            &-telephones {
                margin-bottom: 2px;
            }

            &-web {
                margin-bottom: 0px;
            }

            &-column {
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px;
            }
        }

        &__review-stars {
            margin-bottom: 18px;
        }

        &__image {
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__pay {

            &-item {
                padding-top: 25px;
                padding-bottom: 25px;
                padding-right: 20px;
                padding-left: 17px;

                &:nth-child(2) {

                    &>div {
                        span {
                            &:nth-child(2) {
                                margin-bottom: 13px;
                            }
                        }
                    }
                }

                &>div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &>span {
                        &:first-child {
                            display: inline-block;
                            margin-bottom: 13px;
                        }
                    }

                    &:nth-child(1) {
                        align-items: flex-start;

                        &>span {
                            &:nth-child(1) {
                                width: auto;
                            }
                        }
                    }

                    &:nth-child(2) {
                        align-items: flex-end;

                        img {
                            &:nth-child(1) {
                                margin-bottom: 17px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        &__addresses {
            &-item {
                padding-left: 17px;
                padding-right: 17px;
                padding-bottom: 30px;
                padding-top: 17px;

                &:first-child {
                    padding-top: 0;
                }

                &Title {
                    line-height: 28px;
                    margin-bottom: 0;
                    padding-left: 62px;
                    min-height: 60px;

                    &:before {
                        left: 0;
                    }
                }
            }

            &-row {
                flex-direction: column;
            }

            &-column {
                padding-right: 0;

                &:nth-child(1) {
                    margin-bottom: 21px;
                }

                &:nth-child(2) {
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            &-stars {
                margin-bottom: 8px;
            }
        }
    }
}