/* Dealer Account form
   ========================================================================== */

.dealerAccount-form {

    .tab__title {
        margin-bottom: 15px;
        margin-top: 0;
    }

    .tab {
        padding-top: 22px;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;

        &--review {

            padding-bottom: 40px;

        }
    }

    .account-form__checkboxes--ha {
        height: auto;
        align-items: flex-start;
    }

    .account-form__field--rows {

        margin-right: 0;
        margin-bottom: 0;
        width: 100%;


        .account-form__checkboxes--ha {
            display: flex;
            flex-direction: column;

            &>.account-form__checkbox {
                width: 100%;
                margin-right: 0;
                display: flex;
                align-items: center;
                padding-top: 27px;
                padding-bottom: 27px;

                &:first-child {
                    padding-top: 10px;
                }

                &:last-child {
                    padding-bottom: 0px;
                }

                &>label {
                    min-width: 225px;
                }
            }
        }

        .prepayment___block {
            display: flex;
            margin-left: auto;
            margin-right: 120px;

            .account-form__checkbox {
                margin-bottom: 0;
                width: 150px;
            }
        }

        .account-form__checkbox-paymentMethods {
            position: static;
            flex-shrink: 0;
        }
    }

    .account-form__checkbox-paymentMethods {
        left: 0;
    }

    .prepayment___block {


        .account-form__checkbox {
            margin-right: 0;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__completedOrders {
        border-top: 1px solid #ccc2b8;
        padding: 17px 0px 43px;

        .tab__title {
            padding-left: 22px;
            padding-right: 0;
        }
    }

    &__tooltip {
        border-bottom: 1px solid #b5b5b5;
        cursor: pointer;
    }

    &__wrapper {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px;
        display: flex;

        &--address {
            flex-direction: column;
            align-items: flex-start;

            .dealerAccount-form__block {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc2b8;

                &:last-of-type {
                    border-bottom: 0;
                }
            }
        }



        &--delivery {
            padding-bottom: 0;
            align-items: flex-start;
            justify-content: space-between;
            padding-bottom: 22px;
            border-bottom: 1px solid #ccc2b8;

            .tab__title {
                margin-bottom: 0px;
            }

            span {
                .arial();
                font-size: 14px;
                line-height: 19px;
                color: #4c4c4c;
            }
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
        font-size: 0;
        padding-bottom: 2px;
        width: 100%;

        .account-form__textarea-counter span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;

        &--col {
            flex-direction: column;
        }

        &--posA {
            width: auto;
            align-items: flex-start;
            position: absolute;
        }

        &--t37l50 {
            top: 37px;
            left: ~'calc(50% + 24px)';
        }

        &--table {
            padding-bottom: 24px;

            .dealerAccount-form__field {
                margin-bottom: 0;
            }
            .dealerAccount-delivery__index-info {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }

        &--fromToTable {
            padding-bottom: 24px;

            .dealerAccount-form__field {
                margin-bottom: 0;
            }
            .dealerAccount-delivery__index-info {
                margin-top: -10px;
                margin-bottom: 10px;
            }

            .account-form__checkbox {
                margin-bottom: 15px;
            }

            .dealerAccount-form__field--fromTo {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    &:first-child {
                        display: inline-block;
                        width: 344px;
                        padding-right: 10px;
                    }
                }
            }
        }


    }

    &__workDays {
        .arial();
        font-size: 14px;
        line-height: 19px;
        color: #4c4c4c;
        display: inline-block;
        margin-bottom: 17px;
    }

    &__rightCol {
        width: 232px;
        margin-left: auto;
        flex-shrink: 0;
        padding-top: 48px;
    }

    &__logoUpload {

        position: relative;
        overflow: hidden;
        width: 190px;
        height: 190px;
        background: #f1efeb;
        color: #009fe3;
        text-align: center;
        cursor: pointer;
        margin-bottom: 17px;

        .cart__goodsTable-delBtn {
            position: absolute;
            right: 4px;
            top: 4px;
        }

        &-info {
            span {
                display: block;
                .arial();
                font-style: italic;
                white-space: nowrap;
                font-size: 12px;
                line-height: 19px;
                color: #807366;
            }
        }

        input {
            display: none;
        }

        label {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            text-align: center;
            padding-top: 80px;
        }

        span {
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }
    }

    &__addTel,
    &__addPerson {
        margin-bottom: 22px;
        padding-bottom: 5px;

        span {
            font-size: 14px;
            line-height: 25px;
            color: #009fe3;
            .arial();
            padding-left: 45px;
            position: relative;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                width: 32px;
                height: 32px;
                margin-top: -16px;
                background: url(../images/big-plus-icon.png) 0 0 no-repeat;

            }

            &:hover {
                color: #016b99;
            }
        }
    }

    &__note {
        margin-bottom: 24px;

        p {
            margin: 0;
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #807366;
        }

        a {
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }
    }

    &__field {
        width: 183px;
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
        margin-right: 26px;
        margin-bottom: 24px;
        position: relative;

        &:first-child {
            .dealerAccount-form__field-delete {
                display: none;
            }
        }



        &-delete {
            position: absolute;
            top: 0;
            left: 52px;
            .arial();
            font-size: 14px;
            line-height: 18px;
            color: #009fe3;
            cursor: pointer;
            padding-left: 15px;

            &:before {
                position: absolute;
                content: '';
                width: 11px;
                height: 11px;
                top: 4px;
                left: 0;
                background: url(../images/small-blue-cross.png) 0 0 no-repeat;
                background-size: 100% 100%;
            }

        }

        .styledSelect {
            width: 100%;
        }

        &--w100 {
            width: 100%;
        }

        &--w155 {
            width: 155px;
        }

        &--w183 {
            width: 183px;
        }

        &--w271 {
            width: 271px;
        }

        &--w632 {
            width: 100%;
            max-width: 632px;
            margin-right: 0;
            margin-bottom: 0;
        }

        &--w304 {
            width: 304px;
        }

        &--w384 {
            width: 384px;
        }

        &--w583 {
            width: 583px;
        }

        &--w600 {
            width: 600px;
        }

        &--w83 {
            width: 83px;
        }

        &--wa {
            width: auto;
        }

        &>span {
            margin-bottom: 10px;
            .arial();
            font-size: 14px;
            line-height: 19px;

            &.account-form__label {
                margin-bottom: 4px;
            }

            &.account-form__sublabel {
                color: #807366;
                margin-bottom: 10px;
                .arial();
                font-size: 12px;
                line-height: 14px;
            }
        }

        input {
            .arial();
            font-size: 12px;
            line-height: 19px;
            width: 100%;
            padding-left: 7px;
            padding-right: 7px;
            width: 100%;
            height: 33px;
            background: #fff;
            border: 1px solid #cec2b6;
            outline: 0;
            color: #807366;

            &.account-form__suggestInput {
                padding-left: 40px;
                position: relative;
                background: #fff url(../images/suggest-input-bcg.png) 0 0 no-repeat;

            }
        }

        textarea {
            .arial();
            font-size: 12px;
            line-height: 19px;
            width: 100%;
            padding: 9px;
            width: 100%;
            min-height: 129px;
            background: #fff;
            border: 1px solid #cec2b6;
            outline: 0;
            color: #807366;
        }

        label a {
            color: #009fe3;

            &:hover {
                color: #016b99;
            }
        }


        &--fromTo {
            display: flex;
            align-items: center;

            span {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
            }

            input {
                width: 134px;
                margin-left: 14px;
                margin-right: 14px;
            }
        }

    }

}


@media screen and (max-width: 1000px) {

    .dealerAccount-form .account-form__field--rows .account-form__checkboxes--ha>.account-form__checkbox {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .dealerAccount-form__row--fromToTable .dealerAccount-form__field--fromTo {
        flex-wrap: wrap;

        input {
            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    .dealerAccount-form__row--fromToTable .dealerAccount-form__field--fromTo span:first-child {
        width: 100%;
        padding-right: 0;
        margin-bottom: 5px;
    }


    .dealerAccount-form .account-form__field--rows .prepayment___block {
        margin-right: 0;
        flex-direction: column;
        margin-left: 0;

        &>.account-form__checkbox {
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .dealerAccount-form .account-form__field--rows .account-form__checkbox-paymentMethods {
        padding-left: 29px;
        margin-bottom: 10px;
    }

    .dealerAccount-form {

        &__block {
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;

            &--hide {
                min-height: 69px;
                padding-top: 15px;
                padding-bottom: 15px;
                display: flex;
                justify-content: center;
                border-bottom: 1px solid #ccc2b8;

                .tab__title {
                    margin-bottom: 0;
                }
            }

            &:last-of-type {
                border-bottom: 0;
            }
        }

        .prepayment___block {
            margin-top: 0 !important;
        }

        .account-form__checkboxes--ha {
            &>.account-form__checkbox {
                margin-bottom: 50px;

                &:last-child {
                    margin-bottom: 20px;
                }
            }
        }

        .tab__title {
            position: relative;
            padding-right: 20px;

            &:after {
                position: absolute;
                width: 17px;
                height: 8px;
                top: 10px;
                right: 0;
                content: '';
                background: url(../images/down-arrow.png) 0 0 no-repeat;
                transform: rotate(180deg);
            }

            &--hide {
                &:after {
                    transform: rotate(0);
                }
            }
        }

        &__row {
            &--posA {
                position: static;
            }
        }



        &__wrapper {
            flex-direction: column;
            padding-left: 0;
            padding-right: 0;

            &--delivery {
                padding-left: 15px;
                padding-right: 15px;

                .tab__title {

                    margin-bottom: 15px;

                    &:after {
                        display: none;
                    }
                }
            }
        }

        &__leftCol {
            order: 2;

            .account-form__button {
                margin-left: 15px;
            }

            .dealerAccount-form__block {

                &:first-child {

                    margin-top: -250px;
                    padding-top: 0;
                    min-height: 40px;

                    .tab__title {
                        margin-bottom: 235px;
                    }

                    &.dealerAccount-form__block--hide {
                        margin-top: 0;

                        .tab__title {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }

        &__rightCol {
            order: 1;
            padding-top: 48px;
            width: auto;
            margin-left: 0;
            align-self: center;
        }

        &__logoUpload-info {
            display: none;
        }

        &__wrapperMinusMargin {
            margin-right: 0;
        }

        &__field {

            width: 100%;
            margin-right: 0;

            &--w183 {
                width: 183px;
                margin-right: 26px;
            }

        }

        &__checkbox {
            label {
                white-space: normal;
            }
        }

        &__completedOrders {
            .tab__title {
                padding-left: 15px;

                &:after {
                    display: none;
                }
            }
        }




    }

}

@media screen and (max-width: 570px) {
    .dealerAccount-form__field--w304 .dealerAccount-form__field--fromTo {
        input {
            width: 49px;
        }
    }
}