/* Dropdown
   ========================================================================== */

.dropdown dt a,
.selectDropdown dt a {
    background: url(../images/dropdownpfeil.png) no-repeat scroll right 2px center;
    display: block;
    // padding: 3px 35px 3px 3px;
    padding-top: 3px;
    border: 1px solid #ccc2b8;
    color: #807366;
    .arial();
    font-size: 12px;
    line-height: 14px;
    height: 34px;
    cursor: pointer;
}

.dropdown dt a:hover,
.selectDropdown dt a:hover {
    background-image: url(../images/dropdownpfeil_hover.png);
}

.dropdown dd,
.selectDropdown dd {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: 0;
}



.dropdown dt a span,
.selectDropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px 0 5px 5px;
    .arial();
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 30px;
    text-overflow: ellipsis;
}

.selectDropdown {
    background: #FFF;

    a {
        cursor: pointer;
    }
}


.selectDropdown dd ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    color: #4c4c4c;
}

.selectDropdown dd ul li a {
    padding: 5px;
    display: block;
    color: #807366;
    text-decoration: none;
}


.selectDropdown li a:hover,
.selectDropdown li.active a {
    background-color: #fff;
}


.dropdown dd ul,
.selectDropdown dd ul {
    background: #fbf7f0 none repeat scroll 0 0;
    display: none;
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 99%;
    border: 1px solid #e5e0db;
    overflow-y: auto;
    max-height: 300px;

    li {

        &:before {
            display: none;
        }
    }
}

.tab {
    display: none;
}

.tab.first {
    display: block;
}


@media screen and (max-width: 1000px) {

    .dropdown dd ul,
    .selectDropdown dd ul {
        background: #fbf7f0 none repeat scroll 0 0;
        display: none;
        list-style: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: 1px solid #e5e0db;
        overflow-y: auto;
        max-height: 300px;
    }


    .dropdown dd ul li a,
    .selectDropdown dd ul li a {
        padding: 5px;
        display: block;
        color: #807366;
        text-decoration: none;

        &:hover {
            background-color: #fff;
        }
    }


    .dropdown dd ul li {
        display: inline;
        font-size: 12px;
        line-height: 18px;
        margin-right: 0;
        margin-bottom: 0;

        &.active {
            background-color: #fff;

            a {
                background-color: #fff;
            }
        }
    }
}


@media screen and (min-width: 1000px) {
    .dropdown dt {
        display: none;
    }

    .dropdown dd ul {
        background: none;
        display: block !important;
        position: static;
        width: auto;
        min-width: auto;
        border: none;
        overflow-y: visible;
        max-height: none;
    }
}