/* Кнопка "как работать с сайтом"
   ========================================================================== */

.howItWorks-btn {
	position: absolute;
	top: 115px;
	right: 0;
	margin-right: ~'calc((100% - 1153px)/2)';
	width: 190px;
	height: 65px;
	display: flex;
	padding-left: 15px;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 8px 0px rgba(111, 111, 111, 0.68);
	z-index: 8005;

	img {
		width: 45px;
		height: 45px;
		flex-shrink: 0;
		margin-right: 11px;
	}

	span {
		font-size: 18px;
		line-height: 20px;
		color: #484846;
	}
}

@media screen and (max-width: 1100px) {
    .howItWorks-btn {
        margin-right: 0;
    }
}

@media screen and (max-width: 570px) {
	.howItWorks-btn {
		top: 70px;
		right: -120px;
		transition: 0.2s;

		&--active {
			right: 0;
		}
	}
}