/* Main Header
   ========================================================================== */

.main-header {

    height: 60px;
    background-color: #fff;
    z-index: 9999;
    width: 1082px;
    width: 100%;
    position: fixed;    
    margin-left: -541px;
    margin-left: 0;
    left: 50%;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    left: 0;
    max-width: 100%;
    transition: margin-left 0.8s;
}


@media screen and (max-width: 1100px) {
    // .main-header {
    //     width: 1000px;
    //     margin-left: -500px;
    // }

}


@media screen and (max-width: 1000px) {
    // .main-header {
    //     width: 375px;
    //     margin-left: -187.5px;
    // }

    .showMenu .main-header {
        margin-left: 53px;
    }
}

@media screen and (max-width: 570px) {
    .main-header {
        // width: 270px;
        // margin-left: -135px;
        height: 40px;
    }

    .showMenu .main-header {
        margin-left: 135px;
    }
}