/* Main Header
   ========================================================================== */

.main-header {

    height: 60px;
    background-color: #fff;
    z-index: 9999;
    width: 1082px;
    position: fixed;    
    margin-left: -541px;
    left: 50%;
    transition: margin-left 0.8s;
}


@media screen and (max-width: 1100px) {
    .main-header {
        width: 1000px;
        margin-left: -500px;
    }

}


@media screen and (max-width: 1000px) {
    .main-header {
        width: 375px;
        margin-left: -187.5px;
    }

    .showMenu .main-header {
        margin-left: 187.5px;
    }
}

@media screen and (max-width: 570px) {
    .main-header {
        width: 270px;
        margin-left: -135px;
        height: 40px;
    }

    .showMenu .main-header {
        margin-left: 135px;
    }
}