/* Modal region
   ========================================================================== */

.modal-region {
    display: none;
    min-width: 288px;
    width: 710px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding-top: 20px;
        padding-bottom: 38px;
        padding-left: 14px;
        padding-right: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    &__title {
        .gillSansLight();
        font-weight: 500;
        font-size: 22px;
        line-height: 35px;
        margin: 0;
        color: #484846;
        margin-bottom: 16px;
    }

    &__info {
        margin-top: -17px;
        margin-bottom: 16px;
        .arial();
        font-size: 12px;
        line-height: 19px;
        color: #807366;
        font-style: italic;
    }

    &__cities {

        .account-form__checkbox {
            margin-bottom: 20px;

            label {
                .arial();
                font-size: 13px;
                line-height: 17px;
                color: #807366;
            }
        }
    }

}

.fancybox-review {
    overflow: visible !important;

    .fancybox-inner {
        overflow-y: auto!important;
        overflow-x: hidden!important;
    }
}


@media screen and (max-width: 850px) {
    .modal-region {
        min-width: 288px;
        width: 100%;
    }
}