/* Modal How it works
   ========================================================================== */

.modal-howItWorks {
    display: none;
    min-width: 288px;
    width: 675px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding: 31px;
    }


    &__title {
        font-size: 27px;
        line-height: 35px;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 22px;
    }

    &__slider {
        width: 100%;
    }

    &__slide {
        display: flex;
        padding-top: 5px;

        img {
            margin-right: 24px;
            width: 55%;
        }

        &-text {
            margin-top: -7px;
        }

        &-title {
            font-size: 22px;
            line-height: 30px;
            display: block;
            margin-bottom: 8px;
        }

        &-par {
            margin-top: 0;
            font-size: 12px;
            line-height: 19px;
            .arial();

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .bx-controls-direction {
        position: relative;
        bottom: 0px;
        height: 24px;
        margin: 0 auto;
    }


    .bx-wrapper .bx-pager {
        padding-top: 0;
        bottom: 6px;
        line-height: 13px;

        .bx-pager-link {
            background: url(../images/slider-sprite.png) -94px -6px no-repeat;
            display: inline-block;
            text-indent: -9999px;
            width: 12px;
            height: 13px;
            margin: 0 4px;
            padding: 1px;
            outline: none;
            border-radius: 0;

            &.active {
                background: url(../images/slider-sprite.png) no-repeat;
                background-position: -82px -6px;

                &:hover,
                &:active,
                &:focus {
                    background: url(../images/slider-sprite.png) no-repeat;
                    background-position: -82px -6px;
                }
            }

            &:hover,
            &:active,
            &:focus {
                background: url(../images/slider-sprite.png) -94px -6px no-repeat;
                display: inline-block;
                text-indent: -9999px;
                width: 12px;
                height: 13px;
                margin: 0 4px;
                padding: 1px;
                outline: none;
                border-radius: 0;
            }
        }
    }

    .bx-controls {
        margin-top: 32px;
    }

    .bx-wrapper .bx-controls-direction a {
        z-index: 8000;
    }

    .bx-wrapper .bx-controls-direction a.bx-next,
    .bx-wrapper .bx-controls-direction a.bx-prev {
        text-indent: -9999px;
        width: 19px;
        height: 35px;
        background: url(../images/slider-sprite.png) -58px 4px no-repeat;
        display: inline-block;
        position: absolute;
        padding: 5px;
        outline: none;
        margin-top: 0;
        top: -5px;
    }

    .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -35px;

        &:hover {
            background-position: -38px 4px;
        }

        &:active {
            background-position: -17px 4px;
        }
    }

    .bx-wrapper .bx-controls-direction a.bx-next {
        background-position: -123px 4px;
        right: -35px;

        &:hover {
            background-position: -144px 4px;
        }

        &:active {
            background-position: -165px 4px;
        }
    }

    .bxslider {
        opacity: 0;
    }

    .bx-wrapper {
        border: 0;
        box-shadow: none;
        margin-bottom: 0;
    }



}

.fancybox-review {
    transition: 0.1s ease;
}


@media screen and (max-width: 780px) {


    .modal-howItWorks {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .modal-howItWorks__slide {
        padding-top: 0;
        flex-direction: column;
    }

    .modal-howItWorks__slide img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 18px;
    }

    .modal-howItWorks__wrapper {
        padding: 17px;
    }

    .modal-howItWorks__title {
        margin-bottom: 15px;
    }

    .modal-howItWorks__slide-text {
        margin-top: 0;
    }

}