/* Modal addGoods
   ========================================================================== */

.modal-addGoods {
    display: none;
    min-width: 288px;
    width: 754px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    position: relative;

    &__wrapper {
        padding-top: 19px;
        padding-bottom: 30px;
        padding-left: 14px;
        padding-right: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__info {
        display: flex;
        align-items: flex-start;
        padding-bottom: 6px;
    }

    &__title {
        .gillSansLight();
        font-size: 22px;
        line-height: 32px;
        margin: 0;
        margin-bottom: 30px;
    }

    &__image {
        width: 184px;
        margin-right: 50px;
        flex-shrink: 0;

        img {
            max-width: 100%;
        }
    }

    &__close {
        display: none;
    }


    &__button {
        .arial();
        width: auto;
        padding-left: 18px;
        padding-right: 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 34px;
        display: inline-block;
        cursor: pointer;
        transition: background-color .1s;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        border: 0;
        outline: 0;
        background-color: #009fe3;

        &:hover,
        &:active,
        &:focus {

            background-color: #016b99;
        }
    }

    &__item {
        display: flex;
        align-items: flex-end;



        .account-form__checkbox label {
            .arial();
            font-size: 13px;
            line-height: 15px;
            color: #807366;
        }

        .account-form__checkbox {
            margin-bottom: 30px;
        }

        &>.account-form__field {
            margin-right: 0;

            .styledSelect {
                width: 187px;

                dl {
                    margin: 0;
                }
            }
        }
    }

    &__addPrice {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        position: relative;
        padding-left: 45px;
        cursor: pointer;
        color: #009fe3;

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            width: 32px;
            height: 32px;
            margin-top: -16px;
            content: '';
            background: url(../images/big-plus-icon.png) 0 0 no-repeat;
        }

        &:hover {
            color: #016b99;
        }
    }

    &__stockAndPrice {
        font-size: 0;
        margin-right: 21px;

        .account-form__field {
            width: auto;
            margin-right: 14px;



            &:last-child {
                margin-right: 0;
            }


            &>span {
                .arial();
                font-size: 14px;
                line-height: 19px;
                color: #4c4c4c;
            }

            &>div {
                display: flex;
                align-items: center;

                input {
                    width: 55px;
                    margin-right: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

                span {
                    .arial();
                    font-size: 13px;
                    line-height: 18px;
                    color: #807366;
                    margin-bottom: 0;
                }
            }
        }
    }

}


@media screen and (max-width: 1000px) {
    .modal-addGoods {
        .account-form__checkbox {
            min-width: 100px;
        }

        &__stockAndPrice {
            display: flex;
        }
    }
}


@media screen and (max-width: 815px) {
    .modal-addGoods {
        width: 100%;

        &__info {
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &__image {
            margin-right: 0;
            margin-bottom: 20px;
        }

        &__title {
            margin-bottom: 25px;
            font-size: 27px;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__button {
            margin-top: 27px;
        }


    }
}

