/* Modal Order Review
   ========================================================================== */

.fancybox-orderReview {
    overflow: visible !important;
    background-color: #e6e2dc;

    .fancybox-skin {
        background-color: #e6e2dc;
    }

    .fancybox-close {
        font-size: 0;
        position: absolute;
        z-index: 1000002;
        top: -9px;
        right: -9px;
        width: 19px;
        height: 18px;
        cursor: pointer;
        background: url(../images/fancybox-review-close.png) 0 0 no-repeat;
    }

    .fancybox-inner {
        overflow-x: hidden!important;
    }
}

.modal-orderReview {
    display: none;
    overflow: visible !important;
    min-width: 288px;
    width: 710px;
    margin: 0;
    padding: 0;
    background-color: #e6e2dc;
    position: relative;

    &__block {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 20px;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc2b8;
        display: flex;
        flex-direction: column;
        font-size: 0;

        &:last-child {
            padding-bottom: 40px;
            border-bottom: 0;
        }

        .modal-review__button {
            align-self: flex-end;
        }

        .modal-review__rating {
            margin-left: 0;

            span {
                margin-bottom: 0;
            }
        }
    }

    &__wrapper {
        padding-top: 20px;
        padding-bottom: 38px;
        padding-left: 14px;
        padding-right: 14px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    &__title {
        font-size: 22px;
        line-height: 35px;
        margin: 0;
        color: #484846;
        margin-bottom: 20px;
    }

    &__text {
        .arial();
        font-size: 13px;
        line-height: 18px;
        color: #807366;
        margin-top: 0;
        margin-bottom: 22px;
    }

}




@media screen and (max-width: 780px) {

    .modal-orderReview {
        width: 100%;


        .account-form__checkboxes {
            flex-wrap: wrap;
            height: auto;
        }

        .account-form__checkbox {
            width: 18%;
            margin-right: 2.5%;
            margin-bottom: 10px;

            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}



@media screen and (max-width: 450px) {

    .modal-orderReview {

        .account-form__checkbox {
            width: 30%;
            margin-right: 5%;

            &:nth-child(5n) {
                margin-right: 5%;
            }

            &:nth-child(3n) {
                margin-right: 0%;
            }
        }
    }
}
