/* priceSlider
   ========================================================================== */

.priceSlider {
    &__bar {
        margin-bottom: 18px;

        &.ui-widget-content {
            background-color: #008eca;
        }

        &.ui-slider-horizontal {
            .ui-slider-handle {
                width: 21px;
                height: 21px;
                border-radius: 50% !important;
                margin-left: -10px;
                top: -6px;
                box-shadow: 0px 0px 5px 0px rgba(103, 103, 103, 0.35);
                background: rgb(28, 179, 249);
                background: linear-gradient(-90deg, rgba(28, 179, 249, 1) 0%, rgba(0, 142, 203, 1) 100%);

            }
        }
    }

    &__inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        input {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
            width: 85px;
            height: 32px;
            padding-right: 7px;
            padding-left: 7px;
            color: #807366;
            border: 1px solid #cec2b6;
            outline: 0;
            background: #fff;
        }

        span {
        	font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
            color: #807366;
        }
    }
}