/* Product gallery
   ========================================================================== */

.product-gallery {

    &__image {
        background-color: #f0eeeb;
    }

    &__slide {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        position: relative;

        &:before {
        	position: absolute;
        	bottom: 0;
        	right: 0;
        	width: 16px;
        	height: 16px;
        	content: '';
        	background: url(../images/plus-icon.png) 0 0 no-repeat;
        }
    }

    &__thumb {
        display: flex;

        .product-gallery__slide {
            width: 89px !important;
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
        }

    }

    &__thumbs {

        .bx-viewport {
            padding-bottom: 5px;
        }
    }



    .bx-controls-direction {
        position: relative;
        bottom: 0px;
        height: 24px;
        margin: 0 auto;
    }

    .bx-wrapper {
        box-shadow: none;
        border: 0;
        margin: 0;

        &.noSlider {
            .bx-controls {
                display: none;
            }
        }
    }

    .bx-wrapper .bx-pager {
        padding-top: 0;
        bottom: 6px;
        line-height: 13px;

        .bx-pager-link {
            background: url(../images/slider-sprite.png) -94px -6px no-repeat;
            display: inline-block;
            text-indent: -9999px;
            width: 12px;
            height: 13px;
            margin: 0 4px;
            padding: 1px;
            outline: none;
            border-radius: 0;

            &.active {
                background: url(../images/slider-sprite.png) no-repeat;
                background-position: -82px -6px;

                &:hover,
                &:active,
                &:focus {
                    background: url(../images/slider-sprite.png) no-repeat;
                    background-position: -82px -6px;
                }
            }

            &:hover,
            &:active,
            &:focus {
                background: url(../images/slider-sprite.png) -94px -6px no-repeat;
                display: inline-block;
                text-indent: -9999px;
                width: 12px;
                height: 13px;
                margin: 0 4px;
                padding: 1px;
                outline: none;
                border-radius: 0;
            }
        }
    }

    .bx-controls {
        margin-top: 20px;
    }

    .bx-wrapper .bx-controls-direction a {
        z-index: 8000;
    }

    .bx-wrapper .bx-controls-direction a.bx-next,
    .bx-wrapper .bx-controls-direction a.bx-prev {
        text-indent: -9999px;
        width: 19px;
        height: 35px;
        background: url(../images/slider-sprite.png) -58px 4px no-repeat;
        display: inline-block;
        position: absolute;
        padding: 5px;
        outline: none;
        margin-top: 0;
        top: -5px;
    }

    .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -35px;

        &:hover {
            background-position: -38px 4px;
        }

        &:active {
            background-position: -17px 4px;
        }
    }

    .bx-wrapper .bx-controls-direction a.bx-next {
        background-position: -123px 4px;
        right: -35px;

        &:hover {
            background-position: -144px 4px;
        }

        &:active {
            background-position: -165px 4px;
        }
    }
}



@media screen and (max-width: 570px) {
    .product-gallery {

        .bx-wrapper {
            box-shadow: none;
            border: 0;
            margin: 0;

            &.noSlider.noSlider--moreThreeSlides {
                .bx-controls {
                    display: block;
                }
            }
        }


        .bx-viewport {
            height: auto !important;
        }

        .bx-wrapper .bx-pager {
            position: static;
        }

        &__thumbs .bx-controls-direction {
            display: none;
            margin-top: 45px;
        }

    }
}







/* Product gallery (FancyBox)
   ========================================================================== */


.product-gal {

    .fancybox-close {
        position: absolute;
        top: -11px;
        right: -11px;
        width: 30px;
        height: 30px;
        background: transparent url(../images/fancybox.png) -40px 0px;
        cursor: pointer;
        z-index: 9994;
    }

    &.fancybox-opened {
        overflow: visible !important;
    }

    .fancybox-nav {
        top: auto;
        position: absolute;
        bottom: -50px;
        text-indent: -9999px;
        width: 9px;
        height: 25px;
        background: url(../images/slider_sprite.png) -62px -1px no-repeat;
        margin-right: 0px;
        outline: none;
        z-index: 110000;
        left: 50%;
        transform: translateX(-20px);
    }

    .fancybox-next {
        background-position: -128px -1px;
        left: auto;
        right: 50%;
        transform: translateX(20px);
    }

    #fancybox-thumbs.bottom {
        bottom: -43px;
        position: absolute;
        line-height: 10px;

        // width: auto!important;
        // left: 50%;
        // transform: translateX(-50%);
    }

    #fancybox-thumbs ul {
        width: auto !important;
    }

    #fancybox-thumbs ul li {
        opacity: 1;
        outline: 0;
        margin: 0 4px;
        padding: 0;

        &.active {
            opacity: 1;
            padding: 0;

            outline: 0;
            border: 0;

            a {
                background-position: -82px -8px;
            }
        }
    }

    #fancybox-thumbs ul li a {
        background: url(../images/slider_sprite.png) -94px -8px no-repeat;
        border: 0;
        padding: 1px;
    }


}