/* Reveiws Diagram
   ========================================================================== */

.reveiws-diagram {

	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 1px;

		span {
			.arial();
			font-size: 12px;
			line-height: 18px;
			color: #807366;
		}

		&:nth-child(1) {
			.reveiws-diagram__colorRow {
				background-color: #accb04;
			}
		}

		&:nth-child(2) {
			.reveiws-diagram__colorRow {
				background-color: #009fe3;
			}
		}

		&:nth-child(3) {
			.reveiws-diagram__colorRow {
				background-color: #a2988e;
			}
		}

		&:nth-child(4) {
			.reveiws-diagram__colorRow {
				background-color: #c5c2c0;
			}
		}

		&:nth-child(5) {
			.reveiws-diagram__colorRow {
				background-color: #f1efeb;
			}
		}
	}

	&__maxRow {
		width: 136px;
		height: 25px;
		margin-left: 10px;
		margin-right: 15px;
	}

	&__colorRow {
		width: 5px;
		min-width: 5px;
		display: block;
		height: 100%;
		
		transition: width 0.5s;
	}
}