@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC.woff2') format('woff2'),
        url('../fonts/GillSansC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC-Italic.woff2') format('woff2'),
        url('../fonts/GillSansC-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GillSansC';
    src: url('../fonts/GillSansC-Bold.woff2') format('woff2'),
        url('../fonts/GillSansC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GillSansLightC';
    src: url('../fonts/GillSansLightC.woff2') format('woff2'),
        url('../fonts/GillSansLightC.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "futuralight";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/futura-lig.woff") format("woff");
}

@font-face {
    font-family: "futurabook";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/futura_book_woff.woff") format("woff");
}

@font-face {
    font-family: ALSRubl;
    src: url(../fonts/rouble.ttf);
}


@font-family-sans-serif: "futurabook", 'GillSansC', Helvetica, sans-serif;
@font-family-base: @font-family-sans-serif;


// Scaffolding
// ==============================

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}


// Body reset

body {
    color: #484846;
    font-family: @font-family-base;
    font-weight: 500;
    font-size: 16px;
    background-color: #f1efeb;
    width: 100%;

}


input::-ms-clear {
    display: none;
}

header,
main,
footer {
    position: relative;
    width: 100%;
    max-width: 1153px;
    margin: 0 auto;
    transition: left 1s, box-shadow 1s;
    left: 0;
}


// Reset fonts for relevant elements
input,
button,
button:focus,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

label {
    display: inline-block;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}


a:hover,
a:focus {
    text-decoration: none;
}


img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

table {
    border-collapse: collapse;
}


.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.rub {
    font-family: Arial!important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.hidden {
    overflow: hidden;
}

.block-label {
    position: absolute;
    top: 0;
    left: 65px;
    background-color: #accd00;
    font-size: 21px;
    padding-left: 11px;
    padding-right: 14px;
    color: #fff;
    line-height: 35px;

}

.more-button {
    .arial();
    margin-top: 54px;
    background: transparent url(../images/btn_bkg.png) repeat-x left center;
    color: #fff;
    width: 255px;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}



.scroll2top-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: none;
    z-index: 10010;
}

.scroll2top-container .scroll2top {
    background: #009fe3 url(../images/arrow_sprite.png) no-repeat -55px 18px;
    width: 40px;
    height: 40px;
    display: block;
}

.loader {
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 1000px) {
    .block-label {
        left: 0;
    }
}

@media screen and (max-width: 570px) {
    .block-label {
        font-size: 16px;
        line-height: 27px;
        padding-left: 9px;
        padding-right: 10px;
    }
}

.scrollDownLink {
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -18px;
    background: url(../images/scrolldownlink-icon.png) 0 0;
    background-size: auto auto;
    width: 36px;
    height: 36px;
    text-indent: -99999px;
    z-index: 10;

    &:hover {
        background-position: 0 74px;
    }

    &:active {
        background-position: 0 36px;
    }
}


@media screen and (max-width: 570px) {
    .scrollDownLink {
        left: auto;
        right: 41px;
    }
}



.yesMobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .yesMobile {
        display: block;
    }

    .dealerActiveOrdersForm {
        .tab__title {
            &:after {
                display: none;
            }
        }
    }

    .personal_password_form {
        .tab__title {
            padding-left: 15px;

            &:after {
                display: none;
            }
        }

        .account-form__button {
            margin-left: 0!important;
        }
    }

    .new_delivery_location_block {

        .tab__title {
            margin-bottom: 18px!important;
        }
        .new_delivery_location_button {
            position: static;
            margin-left: 0;
            align-self: flex-start;
        }
    }

    .dealerLKShopsForm {
        .tab__title {
            padding-left: 15px;

            &:after {
                display: none;
            }
        }
    }

    .basketProductTR {
        display: flex;
        flex-direction: column;

        .cart__goodsTable-rightCol {
            flex-direction: column;
        }

        &>td {
            &:last-child {
                margin-left: 42px;
            }
        }
    }
}


.noMobile {
    display: block;
}

@media screen and (max-width: 1000px) {
    .noMobile {
        display: none;
    }
}




// Примеси

.btn() {
    display: inline-block;
    padding: 6px 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    outline: 0;
    color: #fff;
    background-color: #ffa200;
    border-radius: 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
}



.wrapper() {
    width: 894px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
        width: 434px;
    }

    @media screen and (max-width: 570px) {
        padding-left: 0;
        padding-right: 0;
        width: 270px;
    }
}

.wrapperPadding() {
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 auto;

    @media screen and (max-width: 1000px) {
        padding-left: 0;
        padding-right: 0;
        width: 434px;
    }

    @media screen and (max-width: 570px) {
        padding-left: 0;
        padding-right: 0;
        width: 270px;
    }
}





.gillSansLight() {
    font-family: "futuralight", 'GillSansLightC';
    font-weight: 300;
    font-style: normal;
}

.arial() {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.subHeader() {
    .gillSansLight();
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    color: #484846;
    text-transform: uppercase;
}







