/* Search panel Filter
   ========================================================================== */

.searchPanel-filter {

    .searchPanel-nav__item--dropdown::after {
        width: 18px;
        height: 7px;
        top: 23px;
        background: url(../images/filter_up_w.png) no-repeat;
    }

    &__block {
        display: none;
        background-color: #ddd9d0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;

        .account-form__checkbox label {
            white-space: normal;
        }
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .account-form__checkbox {
            margin-bottom: 5px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        input {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
            width: 115px;
            margin-left: 5px;
            height: 32px;
            padding-right: 7px;
            padding-left: 7px;
            color: #807366;
            border: 1px solid #cec2b6;
            outline: 0;
            background: #fff;
        }

        span {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            color: #4c4c4c;
        }
    }


    &__item {
        position: relative;
        border-bottom: 1px solid #fff;

        &.showSubMenu {
            .searchPanel-filter__item-link {
                background-color: #ddd9d0;
                &:after {
                    transform: rotate(0deg);
                }
            }

            .searchPanel-filter__block {
                display: block;
            }
        }

        &-link {
            position: relative;
            padding-left: 19px;
            padding-right: 15px;
            padding-top: 17px;
            padding-bottom: 17px;
            display: block;
            .arial();
            font-size: 14px;
            line-height: 17px;
            background-color: #e6e3de;
            color: #484846;

            &:after {
                content: '';
                position: absolute;
                background: url(../images/filter_up_b.png) no-repeat;
                width: 17px;
                height: 8px;
                right: 10px;
                top: 50%;
                margin-top: -4px;
                cursor: pointer;
                transform: rotate(180deg);
            }
        }
    }
}