/* Search Block
   ========================================================================== */

.searchBlock {
    position: relative;
    background-color: #fff;

    &--goods {

        .searchBlock__wrapper {
            padding-left: 320px;
        }
    }

    .goods__title {
        padding-left: 20px;
    }

    &.listView {
        margin-right: 0;
        padding-left: 20px;

        .goods__title {
            padding-left: 0;
        }

        .view-switcher__button--grid {
            background: url(../images/thumb-grid.png) 0 0 no-repeat;
        }

        .view-switcher__button--list {
            background: url(../images/thumb-list-active.png) 0 0 no-repeat;
        }

        .product-item__inner {
            min-height: 0;
        }

        .product-item__cartLink {
            margin-top: 20px;
        }

        .searchBlock__types {
            .searchBlock__item {
                width: 184px;
                margin-right: 20px;
                margin-left: 20px;
                margin-bottom: 26px;
            }

            .product-item {
                display: block;
            }
        }

        .searchBlock__item {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }

        .product-item {
            display: flex;
            margin-bottom: 50px;

            &__list {
                display: block;
            }

            &__grid {
                width: 184px;
                margin-right: 32px;
                flex-shrink: 0;
            }

            &__titleProduct {
                display: none;
            }
        }


    }

    &__types {
        border-bottom: 1px solid #e6e1db;

        .sliderBlock__tabs {
            padding-left: 20px;
        }


        .product-item__inner {
            min-height: 0;
        }

        .product-item__image {
            margin-bottom: 20px;
        }

        .product-item__title {
            display: inline-block;
            cursor: pointer;
            padding: 4px 0px;
            margin-bottom: 0;
            align-self: flex-start;


        }

        .product-item {
            margin-bottom: 26px;

            &--active {
                .product-item__title {
                    padding: 4px 12px;
                    background-color: #009fe3;
                    color: #fff;
                }
            }
        }
    }


    &__wrapper {
        .wrapperPadding();
        padding-left: 305px;
        transition: padding-left 0.5s;
        padding-bottom: 50px;


    }

    &__items {
        display: flex;
        flex-wrap: wrap;

        &--landing {
            margin-left: -20px;
        }
    }

    &__item {
        width: 184px;
        margin-left: 20px;
        margin-right: 20px;
    }

    &__content {
        position: relative;
        margin-right: -20px;
        min-height: 550px;


        &.first {
            display: block;
        }
    }

    &__filter {
        width: 652px;

        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;

        .view-switcher {
            position: static;
        }

        &-sort {
            span {
                .arial();
                color: #4c4c4c;
                font-size: 13px;
                line-height: 18px;
            }

            select {
                .arial();
                color: #1d9ed8;
                font-size: 13px;
                line-height: 18px;
                border: 0;
                outline: 0;
                appearance: none;
                cursor: pointer;
            }

            select::-ms-expand {
                display: none;
            }

        }


    }

    &.hideMenu {
        .searchPanel {
            left: -241px;
        }

        .searchBlock__wrapper {
            padding-left: 65px;
        }

        .searchPanel__toggle-image {
            transform: rotate(180deg);
        }
    }
}


@media screen and (max-width: 1000px) {
    .searchBlock {

        &.hideMenu {
            .searchBlock__wrapper {
                padding-left: 0px;
            }
        }

        &--goods {

            .searchBlock__wrapper {
                padding-left: 0px;
            }
        }

    }
}

@media screen and (max-width: 570px) {
    .searchBlock {

        &:after {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            content: '';
            z-index: 5;
            background-color: rgba(0,0,0,0.7);
            opacity: 1;
            transition: 0.2s;
        }

        &.hideMenu {
            &:after {
                opacity: 0;
                pointer-events: none;
            }
        }

        &--goods {
            padding-top: 20px;
        }

        &__wrapper {
            width: 296px;
        }

        &__item {
            width: 121px;
            margin-left: 13px;
            margin-right: 13px;
            margin-bottom: 16px;
            flex-direction: column;

            .product-item__image {
                width: 100%;
                margin-right: 0;
            }

            .product-item__titleProduct h3 {
                margin-top: 10px;
            }
        }

        &__items {

            &--landing {

                .searchBlock__item {
                    width: 100%;
                }
            }
        }

        &__content {
            margin-right: 0;
        }

        &__types {
            .sliderBlock__tabs {
                padding-left: 0;
            }
        }
    }
}