/* Block with slider
   ========================================================================== */

.sliderBlock {
    position: relative;
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #e6e1db;

    &:last-of-type {
        border-bottom: 0;
    }

    &--popular {
        border-bottom: 0px;

        .sliderBlock__wrapper {
            padding-top: 45px;
            padding-bottom: 38px;
        }
    }

    &--materials {
        border-bottom: 0px;

        .sliderBlock__wrapper {
            padding-top: 40px;
            padding-bottom: 16px;
        }

        .slider__item-inner {
            min-height: 0;
        }
    }

    &--related {
        border-bottom: 0px;

        .sliderBlock__wrapper {
            padding-top: 0;
        }
    }

    &--spotlight {
        .slider__item-image img {
            max-height: 100%;
        }

        .bx-controls {
            display: none;
        }

        .slider__item-inner {
            min-height: 0;
        }
    }


    &__wrapper {
        padding-top: 63px;
        padding-bottom: 58px;
        position: relative;
        .wrapper();

        &--cart {
            padding-top: 40px;
            padding-bottom: 50px;
        }
    }

    &__tabs {
        margin-bottom: 21px;
    }

    &__sliders {

        .slider__wrapper {
            display: none;
        }
    }


    &__title {
        .subHeader();
        font-size: 27px;
        line-height: 33px;
        margin-bottom: 20px;
    }


    .bx-controls-direction {
        position: relative;
        bottom: 0px;
        height: 24px;
        margin: 0 auto;
    }

    .bx-wrapper {
        box-shadow: none;
        border: 0;
        margin: 0;

        &.noSlider {
            .bx-controls {
                display: none;
            }
        }
    }

    .bx-wrapper .bx-pager {
        padding-top: 0;
        bottom: 6px;
        line-height: 13px;

        .bx-pager-link {
            background: url(../images/slider-sprite.png) -94px -6px no-repeat;
            display: inline-block;
            text-indent: -9999px;
            width: 12px;
            height: 13px;
            margin: 0 4px;
            padding: 1px;
            outline: none;
            border-radius: 0;

            &.active {
                background: url(../images/slider-sprite.png) no-repeat;
                background-position: -82px -6px;

                &:hover,
                &:active,
                &:focus {
                    background: url(../images/slider-sprite.png) no-repeat;
                    background-position: -82px -6px;
                }
            }

            &:hover,
            &:active,
            &:focus {
                background: url(../images/slider-sprite.png) -94px -6px no-repeat;
                display: inline-block;
                text-indent: -9999px;
                width: 12px;
                height: 13px;
                margin: 0 4px;
                padding: 1px;
                outline: none;
                border-radius: 0;
            }
        }
    }

    .bx-controls {
        margin-top: 40px;
    }

    .bx-wrapper .bx-controls-direction a {
        z-index: 800;
    }

    .bx-wrapper .bx-controls-direction a.bx-next,
    .bx-wrapper .bx-controls-direction a.bx-prev {
        text-indent: -9999px;
        width: 19px;
        height: 35px;
        background: url(../images/slider-sprite.png) -58px 4px no-repeat;
        display: inline-block;
        position: absolute;
        padding: 5px;
        outline: none;
        margin-top: 0;
        top: -5px;
    }

    .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -35px;

        &:hover {
            background-position: -38px 4px;
        }

        &:active {
            background-position: -17px 4px;
        }
    }

    .bx-wrapper .bx-controls-direction a.bx-next {
        background-position: -123px 4px;
        right: -35px;

        &:hover {
            background-position: -144px 4px;
        }

        &:active {
            background-position: -165px 4px;
        }
    }

}


@media screen and (max-width: 1000px) {

    .sliderBlock {

        &__wrapper {
            padding-left: 0;
            padding-right: 0;
            width: 434px;
        }

        .bx-wrapper {
            box-shadow: none;
            border: 0;
            margin: 0;

            &.noSlider.noSlider--moreThreeSlides {
                .bx-controls {
                    display: block;
                }
            }
        }

        &--spotlight {


        .bx-controls {
            display: block;
        }
    }
    }

}



@media screen and (max-width: 570px) {
    .sliderBlock {

        &__wrapper {
            padding-top: 47px;
            padding-bottom: 30px;
        }

        &__tabs {
            margin-bottom: 23px;
        }

        &--popular {

            .sliderBlock__wrapper {
                padding-top: 0px;
            }

            .slider__item {

                // display: flex;
                // align-items: flex-start;
                // width: 270px !important;

                // &:nth-child(even) {
                //     margin: 150px 0 0 -270px;
                // }

                // &:nth-child(odd) {
                //     margin-right: 0 !important;
                // }

                // &-image {
                //     width: 90px;
                //     margin-right: 16px;
                //     margin-bottom: 0;
                //     flex-shrink: 0;

                // }

                &-title {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
            }
        }

        &--materials {

            .sliderBlock__wrapper {
                padding-top: 47px;
                padding-bottom: 30px;
            }

            .bx-wrapper .bx-viewport {
                height: auto !important;
                min-height: 0px !important;
            }

            .slider__item-inner {
                min-height: 0!important;
            }

            .slider__item {

                // display: flex;
                // align-items: flex-start;
                // width: 270px !important;

                // &:nth-child(even) {
                //     margin: 100px 0 0 -270px;
                // }

                // &:nth-child(odd) {
                //     margin-right: 0 !important;
                // }

                &-image {
                    width: 90px;
                    margin-right: 16px;
                    margin-bottom: 0;
                    flex-shrink: 0;

                }

                &-title {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 5px;
                }
            }


        }

        &__title {
            font-size: 20px;
            line-height: 32px;
        }

        &__link {
            padding-left: 26px;
            padding-right: 14px;
        }


        .bx-viewport {
            height: auto !important;
            min-height: 235px !important;
        }

        .bx-wrapper .bx-pager {
            position: static;
        }

        &__wrapper .bx-controls-direction {
            display: none;
            margin-top: 45px;
        }


    }
}