/* Footer Social Buttons
   ========================================================================== */


.social-buttons {
    margin-bottom: 25px;
    padding-left: 704px;

    .at-icon {
        display: none;
    }

    .at-resp-share-element .at-share-btn:focus,
    .at-resp-share-element .at-share-btn:hover {
        transform: translateY(0);
    }

    .at-icon-wrapper {
        width: 24px !important;
        height: 24px !important;

        &.at-svc-compact {
            width: 48px !important;
            background: url(../images/social-sprite.png) -56px 0 no-repeat !important;
            background-size: 48px 24px;
        }

    }

    .at-svc-facebook {
        background: url(../images/social-sprite.png) 0 0 no-repeat !important;
        background-size: 24px 24px;
    }

    .at-svc-twitter {
        background: url(../images/social-sprite.png) -28px 0 no-repeat !important;
        background-size: 24px 24px;
    }
}


@media screen and (max-width: 1000px) {

    .social-buttons {
        padding-left: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -moz-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        -o-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 570px) {
    .social-buttons {
        margin-bottom: 15px;
    }
}