/* suggestions
   ========================================================================== */

.suggestions {
    background-color: #e6e2dc;
    overflow-x: hidden;

    .tab__title {
        margin-bottom: 10px;
    }

    dl {
        margin: 0;
    }

    .account-form__wrapperMinusMargin {
        padding-top: 22px;
        padding-bottom: 17px;
        border-bottom: 1px solid #ccc2b8;

        &:last-child {
            border-bottom: 0;
            padding-bottom: 40px;
        }
    }

    .account-form__buttonWrapper {
    	display: flex;
    	align-items: flex-start;

    	.account-form__button {
    		margin-right: 45px;
    	}

    	span {
    		.arial();
    		font-size: 12px;
    		line-height: 19px;
    		color: #807366;
    	}
    }

    .account-form__checkbox {

        a {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 19px;
            display: inline-block;
            color: #009fe3;

            &:hover {
            	color: #016b99;
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .suggestions {
        .account-form__buttonWrapper {
            display: flex;
            flex-direction: column;

            .account-form__button {
                margin-bottom: 17px;
            }
        }
    }
}