/* Text block above the block with the background
   ========================================================================== */

.textBlockOverBcgBlock {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: 13px;
    background-color: #fff;
    width: 434px;

    &--yesMobile {
        display: none;
    }

    &__wrapper {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 23px;
        padding-bottom: 52px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 18px;
        .gillSansLight();
        font-size: 22px;
        line-height: 28px;
        color: #484846;
    }

    &__text {
        .arial();
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 25px;
    }

    &__link {
        .arial();
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        display: inline-block;
        width: auto;
        padding-left: 24px;
        padding-right: 16px;
        cursor: pointer;
        -webkit-transition: background-color .1s;
        -moz-transition: background-color .1s;
        -o-transition: background-color .1s;
        transition: background-color .1s;
        text-align: center;
        white-space: nowrap;
        text-decoration: none;
        color: #fff;
        border: 0;
        outline: 0;
        min-height: 33px;
        padding-top: 9px;
        background: #009fe3 url(../images/white-right-arrow.png) 12px 50% no-repeat;

        &:hover,
        &:focus,
        &:active {
            background-color: #016b99;
        }
    }
}


@media screen and (max-width: 1000px) {
    .textBlockOverBcgBlock {
        margin-left: -217px;
    }
}


@media screen and (max-width: 570px) {
    .textBlockOverBcgBlock {
        margin-left: 0px;
        width: 100%;
        position: static;
        border-bottom: 1px solid #e6e1db;

        &__wrapper {
            width: 270px;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
            padding-bottom: 25px;
        }

        &--yesMobile {
            display: block;
        }

        &--noMobile {
            display: none;
        }

        &__title {
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 5px;
        }

        &__text {

            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}