/* tooltipster-white
   ========================================================================== */

.tooltipster-white {

    &.tooltipster-sidetip {

        .tooltipster-box {
            border: 0;
            background: #ffffff;
            border-radius: 0px;
            box-shadow: 0px 0px 8px 0px rgba(92, 86, 79, 0.5);
        }

        &.tooltipster-bottom .tooltipster-arrow-border {
            border-bottom-color: #ffffff;
        }

        &.tooltipster-bottom .tooltipster-arrow-background {
            border-bottom-color: #ffffff;
        }

        &.tooltipster-bottom .tooltipster-arrow {
            height: 11px;
        }


        &.tooltipster-top .tooltipster-arrow-border {
            border-top-color: #ffffff;
        }

        &.tooltipster-top .tooltipster-arrow-background {
            border-top-color: #ffffff;
        }

        &.tooltipster-top .tooltipster-arrow {
            height: 11px;
        }

        .tooltipster-content {
            color: #4c4c4c;
            .arial();
            font-size: 11px;
            line-height: 13px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 14px;
            padding-right: 22px;
            position: relative;
        }

        .tooltip__close {
            position: absolute;
            content: '';
            right: 10px;
            top: 10px;
            width: 12px;
            height: 10px;
            background-image: url(../images/blue-close-icon.png);
            background-size: 100% 100%;
            cursor: pointer;
            pointer-events: auto;
        }


        .tooltip__title {
            font-size: 12px;
            font-weight: 500;
            line-height: 19px;
            display: block;
            margin-bottom: 5px;
        }
    }
}