/* Video
   ========================================================================== */

.video {

    position: relative;
    padding-bottom: 56.25%;
    /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    &__title {
        .gillSansLight();
        font-size: 27px;
        line-height: 35px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__subtitle {
        .arial();
        font-size: 16px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 17px;
    }
}